n8n/workflows/Follow-up Cron.json
{
    "updatedAt": "2026-04-08T15:32:05.856Z",
    "createdAt": "2026-03-04T00:59:29.239Z",
    "id": "JhDuCvZdFN4PFTOW",
    "name": "Follow-up Cron",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.people.ai/v3/auth/tokens",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/x-www-form-urlencoded"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "string",
                "body": "client_id=YOUR_CLIENT_ID&client_secret=YOUR_CLIENT_SECRET&grant_type=client_credentials",
                "options": {}
            },
            "id": "429b2c07-d2f6-42d0-a833-6f22f3092026",
            "name": "Get Auth Token",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                480,
                664
            ]
        },
        {
            "parameters": {
                "jsCode": "// Build People.ai export query for meetings in the last 24 hours\n// At 9am: catches yesterday afternoon meetings (4h+ delay means they're ready)\n// At 3pm: catches this morning's meetings (ended by 11am, 4h+ elapsed)\nconst now = Date.now();\nconst twentyFourHoursAgo = now - 24 * 60 * 60 * 1000;\n\nconst query = {\n  object: \"activity\",\n  filter: {\n    \"$and\": [\n      { attribute: { slug: \"ootb_activity_type\" }, clause: { \"$eq\": \"meeting\" } },\n      { attribute: { slug: \"ootb_activity_external\" }, clause: { \"$eq\": true } },\n      { attribute: { slug: \"ootb_activity_timestamp\" }, clause: { \"$gte\": twentyFourHoursAgo } },\n      { attribute: { slug: \"ootb_activity_timestamp\" }, clause: { \"$lte\": now } }\n    ]\n  },\n  columns: [\n    { slug: \"ootb_activity_uid\" },\n    { slug: \"ootb_activity_timestamp\" },\n    { slug: \"ootb_activity_subject\" },\n    { slug: \"ootb_activity_originator\" },\n    { slug: \"ootb_activity_account_name\" },\n    { slug: \"ootb_activity_opportunity_name\" },\n    { slug: \"ootb_activity_participants\", variation_id: \"ootb_activity_participants_email\" },\n    { slug: \"ootb_activity_participants\", variation_id: \"ootb_activity_participants_name\" }\n  ],\n  sort: [{ attribute: { slug: \"ootb_activity_timestamp\" }, direction: \"desc\" }]\n};\n\nreturn [{ json: { query: JSON.stringify(query) } }];\n"
            },
            "id": "762f5040-605f-4f29-a809-5b448945baff",
            "name": "Build Query",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                704,
                664
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.people.ai/v3/beta/insights/export",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $('Get Auth Token').first().json.access_token }}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ $json.query }}",
                "options": {}
            },
            "id": "5f6a9041-be63-4881-ab90-d97863f69248",
            "name": "Fetch Today Meetings",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                928,
                664
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "// Parse CSV response from People.ai meetings export\n// API returns human-readable headers: \"Activity\", \"Activity date\", \"Subject\",\n// \"Account Name\", \"Opportunity Name\", \"Activity Participants (Email)\", etc.\nconst raw = $('Fetch Today Meetings').first().json.data || '';\nif (!raw || raw.trim().length === 0) {\n  return [{ json: { meetings: [], meetingCount: 0 } }];\n}\n\nconst lines = raw.split('\\n');\nif (lines.length < 2) {\n  return [{ json: { meetings: [], meetingCount: 0 } }];\n}\n\n// Parse CSV header\nconst headerLine = lines[0];\nconst headers = [];\nlet field = '';\nlet inQuotes = false;\nfor (let i = 0; i < headerLine.length; i++) {\n  const c = headerLine[i];\n  if (c === '\"') { inQuotes = !inQuotes; }\n  else if (c === ',' && !inQuotes) { headers.push(field.trim()); field = ''; }\n  else { field += c; }\n}\nheaders.push(field.trim());\n\n// Parse CSV rows\nfunction parseCSVRow(line) {\n  const fields = [];\n  let f = '';\n  let q = false;\n  for (let i = 0; i < line.length; i++) {\n    const c = line[i];\n    if (c === '\"') {\n      if (q && i + 1 < line.length && line[i + 1] === '\"') { f += '\"'; i++; }\n      else { q = !q; }\n    } else if (c === ',' && !q) { fields.push(f.trim()); f = ''; }\n    else { f += c; }\n  }\n  fields.push(f.trim());\n  return fields;\n}\n\n// Flexible header matching: check multiple possible names\nfunction getVal(row, ...names) {\n  for (const name of names) {\n    const idx = headers.findIndex(h => h.toLowerCase().includes(name.toLowerCase()));\n    if (idx >= 0 && row[idx]) return row[idx];\n  }\n  return '';\n}\n\n// Parse bracket-delimited list: \"[a;b;c]\" \u2192 [\"a\",\"b\",\"c\"]\nfunction parseList(val) {\n  if (!val) return [];\n  return val.replace(/^\\[/, '').replace(/\\]$/, '').trim()\n    .split(';').map(s => s.trim()).filter(Boolean);\n}\n\nconst meetings = [];\nfor (let i = 1; i < lines.length; i++) {\n  if (!lines[i].trim()) continue;\n  const row = parseCSVRow(lines[i]);\n\n  // Match actual API headers: \"Activity date\", \"Activity\", \"Subject\", etc.\n  const tsRaw = getVal(row, 'Activity date', 'date', 'timestamp');\n  let tsMs = 0;\n  if (tsRaw) {\n    const num = Number(tsRaw);\n    if (!isNaN(num) && num > 1e12) { tsMs = num; }\n    else {\n      const parsed = new Date(tsRaw);\n      if (!isNaN(parsed.getTime())) tsMs = parsed.getTime();\n    }\n  }\n  if (!tsMs || isNaN(tsMs)) continue;\n\n  const activityUid = getVal(row, 'Activity') || '';\n  // Skip if no UID (first column \"Activity\" contains the UID)\n  if (!activityUid) continue;\n\n  const participantEmails = parseList(getVal(row, 'Participants (Email)', 'Participants'));\n  const participantNames = parseList(getVal(row, 'Participants (Name)'));\n\n  meetings.push({\n    activityUid,\n    timestamp: tsMs,\n    subject: getVal(row, 'Subject'),\n    originator: getVal(row, 'Originator'),\n    accountName: getVal(row, 'Account Name', 'Account'),\n    accountId: '',\n    opportunityName: getVal(row, 'Opportunity Name', 'Opportunity'),\n    participants: participantEmails.join('; '),\n    participantEmails,\n    participantNames,\n  });\n}\n\nreturn [{ json: { meetings, meetingCount: meetings.length, headers } }];\n"
            },
            "id": "afb2c3a5-40f3-4abd-9e1f-bbcf3fc382e5",
            "name": "Parse Meetings",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1152,
                664
            ]
        },
        {
            "parameters": {
                "url": "https://rhrlnkbphxntxxxcrgvv.supabase.co/rest/v1/users?onboarding_state=eq.complete&select=id,slack_user_id,email,assistant_name,assistant_emoji,organization_id,onboarding_state,followup_delay_minutes,followup_enabled",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "supabaseApi",
                "options": {}
            },
            "id": "13606746-9806-4320-9853-f4e9b9a2abcf",
            "name": "Get Followup Users",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1376,
                664
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "ASRWWkQ0RSMOpNF1",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "url": "={{ $json.dedupUrl }}",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "supabaseApi",
                "options": {}
            },
            "id": "26b0fbf3-719a-4d82-9174-452af0a9c57d",
            "name": "Check Sent Followups",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1824,
                664
            ],
            "alwaysOutputData": true,
            "credentials": {
                "supabaseApi": {
                    "id": "ASRWWkQ0RSMOpNF1",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Match users to meetings that ended 4+ hours ago (transcript available)\n// CRITICAL: Only include meetings where the user is a PARTICIPANT\n// Group by user: output ONE item per user with all their ready meetings\nconst meetings = $('Parse Meetings').first().json.meetings || [];\nconst usersAll = $('Get Followup Users').all().map(i => i.json);\nconst sentAll = $('Check Sent Followups').all().map(i => i.json);\n\n// Filter valid users\nconst users = usersAll.filter(u => u && u.id && u.onboarding_state === 'complete');\n\n// Build dedup set: userId:activityUid\nconst sentSet = new Set();\nfor (const msg of sentAll) {\n  if (msg && msg.metadata) {\n    try {\n      const meta = typeof msg.metadata === 'string' ? JSON.parse(msg.metadata) : msg.metadata;\n      if (meta.activity_uid && msg.user_id) {\n        sentSet.add(msg.user_id + ':' + meta.activity_uid);\n      }\n    } catch(e) {}\n  }\n}\n\nconst now = Date.now();\nconst MEETING_DURATION_MS = 60 * 60 * 1000; // assume 60 min meetings\nconst MIN_ELAPSED_MS = 4 * 60 * 60 * 1000;  // 4 hours after meeting end\n\nconst output = [];\n\nfor (const user of users) {\n  const followupEnabled = user.followup_enabled !== false;\n  if (!followupEnabled) continue;\n\n  const userEmail = (user.email || '').toLowerCase();\n  if (!userEmail) continue;\n\n  const repName = userEmail\n    .split('@')[0].split('.').map(w => w.charAt(0).toUpperCase() + w.slice(1)).join(' ');\n\n  const readyMeetings = [];\n\n  for (const meeting of meetings) {\n    // Only include meetings this user attended\n    const participantEmails = (meeting.participantEmails || []).map(e => e.toLowerCase());\n    if (!participantEmails.includes(userEmail)) continue;\n\n    const estimatedEnd = meeting.timestamp + MEETING_DURATION_MS;\n    const timeSinceEnd = now - estimatedEnd;\n\n    if (timeSinceEnd < MIN_ELAPSED_MS) continue;\n\n    const dedupKey = user.id + ':' + meeting.activityUid;\n    if (sentSet.has(dedupKey)) continue;\n\n    if (!meeting.accountName) continue;\n\n    const tz = 'America/Los_Angeles';\n    const meetingDate = new Date(meeting.timestamp);\n    const timeStr = meetingDate.toLocaleTimeString('en-US', { timeZone: tz, hour: 'numeric', minute: '2-digit' });\n    const dayStr = meetingDate.toLocaleDateString('en-US', { timeZone: tz, weekday: 'short' });\n    const hoursAgo = Math.round(timeSinceEnd / 3600000);\n\n    readyMeetings.push({\n      activityUid: meeting.activityUid,\n      subject: meeting.subject || '[no subject]',\n      accountName: meeting.accountName,\n      accountId: meeting.accountId || '',\n      opportunityName: meeting.opportunityName || '',\n      participants: meeting.participants || '',\n      timestamp: meeting.timestamp,\n      timeStr,\n      dayStr,\n      hoursAgo,\n    });\n  }\n\n  if (readyMeetings.length === 0) continue;\n\n  readyMeetings.sort((a, b) => b.timestamp - a.timestamp);\n\n  output.push({\n    json: {\n      userId: user.id,\n      slackUserId: user.slack_user_id,\n      email: user.email,\n      repName,\n      assistantName: user.assistant_name || 'Aria',\n      assistantEmoji: user.assistant_emoji || ':robot_face:',\n      organizationId: user.organization_id,\n      meetings: readyMeetings,\n      meetingCount: readyMeetings.length,\n    }\n  });\n}\n\nif (output.length === 0) {\n  return [{ json: { noMatches: true } }];\n}\n\nreturn output;\n"
            },
            "id": "11d00dcc-9c5f-4296-9c5f-366a417cdb30",
            "name": "Match Users to Ended Meetings",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2048,
                664
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "version": 2,
                        "leftValue": "",
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "0bc48827-bc2a-40b5-9437-85e9cc08b14c",
                            "leftValue": "={{ $json.noMatches }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "notEquals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "65e46fcc-367a-4077-9665-4e8154fb047f",
            "name": "Has Matches?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                2272,
                664
            ]
        },
        {
            "parameters": {
                "options": {}
            },
            "id": "99049da1-8099-4d01-b616-95b7fff29f8c",
            "name": "Split In Batches",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                2496,
                664
            ]
        },
        {
            "parameters": {
                "jsCode": "// Build per-meeting recap context for AI agent\n// Output ONE item per meeting (agent processes each individually)\nconst data = $input.first().json;\nconst meetings = data.meetings || [];\n\nif (meetings.length === 0) {\n  return [{ json: { ...data, skip: true } }];\n}\n\nconst todayStr = new Date().toLocaleDateString('en-US', {\n  weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'\n});\nconst tz = data.timezone || 'America/Los_Angeles';\nconst assistantName = data.assistantName || 'Aria';\nconst assistantEmoji = data.assistantEmoji || ':robot_face:';\nconst assistantPersona = data.assistantPersona || 'direct, action-oriented, and conversational';\nconst repName = data.repName || 'Rep';\n\nconst results = [];\n\nfor (const m of meetings) {\n  const systemPrompt = `You are ${assistantName}, a personal sales assistant for ${repName}.\nYour personality: ${assistantPersona}\n\nTODAY IS ${todayStr}. ${repName} is in ${tz}.\n\nMEETING CONTEXT:\n- Account: ${m.accountName}\n- Subject: ${m.subject}\n- Time: ${m.dayStr} ${m.timeStr}\n- Participants: ${m.participants || 'Unknown'}\n- Participant Emails: ${(m.participantEmails || []).join('; ') || 'Unknown'}\n\nUse People.ai MCP tools to research this meeting:\n1. Find the meeting transcript, notes, topics discussed, and action items\n2. Look up participant roles and recent engagement history\n3. Check the related opportunity status if one exists\n4. Get recent account activity for context\n\nGenerate a structured meeting recap as a JSON object with this exact shape:\n{\n  \"summary\": \"2-3 sentence recap of what was discussed and key outcomes\",\n  \"sentiment\": \"positive|neutral|negative|mixed\",\n  \"sentiment_signal\": \"one sentence explaining the sentiment\",\n  \"tasks\": [\n    {\n      \"description\": \"specific action item from the meeting\",\n      \"owner\": \"MUST be an internal People.ai employee \u2014 never assign to external/customer contacts\",\n      \"owner_email\": \"email address of the internal owner from the Participant Emails list \u2014 match the owner name to their email\",\n      \"assignee_role\": \"CSM, AE, SE, or AI \u2014 CSM for technical support, training, onboarding, implementation; AE for strategic, commercial, expansion, executive engagement; SE for sales engineering, technical scoping, demos; AI for AI innovation and executive initiatives\",\n      \"duration_minutes\": \"estimated minutes (15, 30, 45, 60, 90, 120)\",\n      \"due_hint\": \"timeframe suggestion\",\n      \"task_category\": \"best match from: Discovery Meeting, Demo Meeting, Prospecting & Qualification, Solution Presentation & Demo, Commercials & Negotiation, Technical Scoping & Solutioning, Onboarding & Implementation, Account & Renewal Management, Expansion & Upsell, Customer Training, Internal Deal Support (Legal/Fin/Sec), Product & Engineering Inquiry, Strategic Account & Territory Planning, Sales Operations & Coaching\"\n    }\n  ],\n  \"key_decisions\": [\"decision 1\", \"decision 2\"],\n  \"follow_up_context\": \"context to enrich a follow-up email\",\n  \"meeting_category\": \"best match from: Discovery Meeting, Demo Meeting, Proposal Meeting, Security Meeting, Procurement Meeting, Onboarding & Implementation, Account & Renewal Management, Expansion & Upsell, Customer Training, Internal Deal Support, Product & Engineering Inquiry, Legal Meeting, DID NOT HAPPEN, Prospecting & Qualification, Solution Presentation & Demo, Commercials & Negotiation, Technical Scoping & Solutioning, Strategic Account & Territory Planning, Sales Operations & Coaching\",\n}\n\n\nFor each task, estimate the duration in minutes and assign the role (CSM or AE) based on the nature of the work.\n\nTOOL CALL BUDGET: You have limited tool calls. After ~8 calls, produce your output.\nIf a tool returns no data, move on. Do not retry.\n\nRULES:\n- Extract REAL tasks mentioned in the meeting \u2014 do NOT fabricate\n- If transcript data is limited, say so in the summary and provide what you can from account context\n- Tasks must be specific and actionable (\"Send pricing proposal to Mark by Friday\" not \"Follow up\")\n- Maximum 5 tasks\n- Keep summary under 100 words\n- Output ONLY the JSON object \u2014 no prose, no markdown fences\n\nBased on the meeting content, select the single best-matching value for each category field. Use the exact picklist value string. If none fit well, use null.`;\n\n  const agentPrompt = `Generate a meeting recap for my ${m.subject} meeting with ${m.accountName}.` +\n    (m.participants ? ` Participants: ${m.participants}.` : '') +\n    ` Use People.ai MCP tools to find transcript data, topics, and action items.` +\n    ` Output ONLY the JSON object.`;\n\n  results.push({\n    json: {\n      ...data,\n      meeting: m,\n      accountName: m.accountName,\n      meetingSubject: m.subject,\n      activityUid: m.activityUid,\n      systemPrompt,\n      agentPrompt,\n      assistantName,\n      assistantEmoji,\n      repName,\n    }\n  });\n}\n\nreturn results;"
            },
            "id": "3f4d7a49-445a-43dc-b1cc-b8c36462b0c4",
            "name": "Build Recap Context",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2720,
                444
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://slack.com/api/conversations.open",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ users: $json.slackUserId }) }}",
                "options": {}
            },
            "id": "c8dddbb2-a3f0-4dad-ac65-0046a069ec30",
            "name": "Open Bot DM",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                4192,
                304
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "LluVuiMJ8NUbAiG7",
                    "name": "Slackbot Auth Token"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://slack.com/api/chat.postMessage",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ channel: $json.channel.id, text: $(\"Build Recap Card\").first().json.promptText, blocks: JSON.parse($(\"Build Recap Card\").first().json.blocks), username: $(\"Build Recap Card\").first().json.assistantName, icon_emoji: $(\"Build Recap Card\").first().json.assistantEmoji }) }}",
                "options": {}
            },
            "id": "695a141b-d877-4e65-8269-3e82ef946c5d",
            "name": "Send Recap",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                4416,
                304
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "LluVuiMJ8NUbAiG7",
                    "name": "Slackbot Auth Token"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Log recap delivery for dedup\nconst data = $('Build Recap Card').first().json;\nconst sendResult = $('Send Recap').first().json;\nconst m = data.meeting || {};\n\nreturn [{ json: {\n  user_id: data.userId,\n  message_type: 'meeting_recap',\n  channel: 'slack',\n  direction: 'outbound',\n  content: data.promptText || 'Meeting recap',\n  metadata: JSON.stringify({\n    activity_uid: m.activityUid || data.activityUid,\n    account_name: m.accountName || '',\n    meeting_subject: m.subject || '',\n    slack_ts: sendResult.ts || null,\n    slack_channel: sendResult.channel || null,\n    recap_sentiment: data.recap ? data.recap.sentiment : null,\n    recap_task_count: data.recap ? (data.recap.tasks || []).length : 0,\n  }),\n}}];"
            },
            "id": "4c870b97-d7fc-4311-bc2b-4b62a8aa7e28",
            "name": "Prepare Log Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                5088,
                304
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://rhrlnkbphxntxxxcrgvv.supabase.co/rest/v1/messages",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "supabaseApi",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Prefer",
                            "value": "return=representation"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify($json) }}",
                "options": {}
            },
            "id": "7c247953-e79e-4848-8dd1-d53801a9290a",
            "name": "Log Follow-up Prompt",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                5312,
                568
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "ASRWWkQ0RSMOpNF1",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 9,16 * * 1-5"
                        }
                    ]
                }
            },
            "id": "cd18c603-7a37-47d3-a90c-8a5350db0dbd",
            "name": "Followup Check (9am + 4pm PT)",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                256,
                832
            ]
        },
        {
            "parameters": {
                "jsCode": "// Compute the 48h lookback window for dedup\nconst cutoff = new Date(Date.now() - 48 * 60 * 60 * 1000).toISOString();\nconst url = 'https://rhrlnkbphxntxxxcrgvv.supabase.co/rest/v1/messages'\n  + '?message_type=in.(followup_prompt,meeting_recap)'\n  + '&sent_at=gte.' + cutoff\n  + '&select=user_id,metadata'\n  + '&limit=500';\n\n// Pass through all upstream data plus the computed URL\nreturn $input.all().map(item => ({\n  json: { ...item.json, dedupUrl: url }\n}));\n"
            },
            "id": "f3b0e2cf-cf6a-438a-9ceb-4bb298488f91",
            "name": "Compute Dedup Window",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1600,
                664
            ]
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "mode": "list",
                    "value": "claude-sonnet-4-5-20250929",
                    "cachedResultName": "Claude Sonnet 4.5"
                },
                "options": {}
            },
            "id": "fcace639-b15e-434f-8d32-4f4787e9e2f4",
            "name": "Anthropic Chat Model (Recap)",
            "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
            "typeVersion": 1.3,
            "position": [
                2952,
                668
            ],
            "credentials": {
                "anthropicApi": {
                    "id": "rlAz7ZSl4y6AwRUq",
                    "name": "Anthropic account 2"
                }
            }
        },
        {
            "parameters": {
                "endpointUrl": "https://mcp-canary.people.ai/mcp",
                "authentication": "multipleHeadersAuth",
                "options": {}
            },
            "id": "f588c3af-cae2-4c55-b7ec-dc85a14582cf",
            "name": "People.ai MCP (Recap)",
            "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
            "typeVersion": 1.2,
            "position": [
                3080,
                668
            ],
            "credentials": {
                "httpMultipleHeadersAuth": {
                    "id": "wvV5pwBeIL7f2vLG",
                    "name": "People.ai MCP Multi-Header"
                }
            }
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.agentPrompt }}",
                "options": {
                    "systemMessage": "={{ $json.systemPrompt }}",
                    "maxIterations": 15
                }
            },
            "id": "7e8f05ac-6105-44c7-899b-298e67e0c630",
            "name": "Recap Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.7,
            "position": [
                2944,
                444
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "// Parse recap agent output into structured data\nconst agentOutput = $('Recap Agent').first().json.output || '';\nconst context = $('Build Recap Context').first().json;\n\nlet recap = {};\ntry {\n  // Try to parse JSON from agent output (may be wrapped in code fences)\n  let jsonStr = agentOutput;\n  const fenceMatch = jsonStr.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n  if (fenceMatch) jsonStr = fenceMatch[1];\n  // Also try to find JSON object in the text\n  const objMatch = jsonStr.match(/\\{[\\s\\S]*\\}/);\n  if (objMatch) jsonStr = objMatch[0];\n  recap = JSON.parse(jsonStr);\n} catch(e) {\n  recap = {\n    summary: agentOutput.substring(0, 500) || 'Meeting recap could not be generated.',\n    sentiment: 'neutral',\n    sentiment_signal: '',\n    tasks: [],\n    key_decisions: [],\n    follow_up_context: ''\n  };\n}\n\nconst sentimentEmoji = {\n  'positive': ':white_check_mark:',\n  'neutral': ':large_blue_circle:',\n  'negative': ':red_circle:',\n  'mixed': ':warning:'\n}[recap.sentiment] || ':large_blue_circle:';\n\nreturn [{ json: {\n  ...context,\n  recap: {\n    summary: recap.summary || '',\n    sentiment: recap.sentiment || 'neutral',\n    sentimentEmoji,\n    sentimentSignal: recap.sentiment_signal || '',\n    tasks: (recap.tasks || []).slice(0, 5).map(t => ({\n      description: t.description || '',\n      owner: t.owner || '',\n      owner_email: t.owner_email || '',\n      assignee_role: t.assignee_role || '',\n      duration_minutes: t.duration_minutes || 30,\n      due_hint: t.due_hint || '',\n      task_category: t.task_category || '',\n    })),\n    keyDecisions: recap.key_decisions || [],\n    followUpContext: recap.follow_up_context || '',\n    csCategory: recap.cs_category || null,\n    salesCategory: recap.sales_category || null,\n    meetingCategory: recap.meeting_category || null,\n  }\n}}];"
            },
            "id": "e5f69f20-3ff9-478e-a651-324001f13f63",
            "name": "Parse Recap Output",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                3296,
                444
            ]
        },
        {
            "parameters": {
                "jsCode": "const SKILL_REGISTRY = [\n  { id: 'draft_email', label: 'Draft Email',\n    keywords: ['send email', 'follow up', 'follow-up', 'email', 'reach out', 'share with', 'send to', 'write to', 'notify', 'update via email', 'loop in'],\n    buttonText: ':email: Want me to draft that email?', actionId: 'task_assist_draft_email' },\n  { id: 'presentation', label: 'Create Presentation',\n    keywords: ['create deck', 'build slides', 'presentation', 'qbr', 'prepare deck', 'slide deck', 'google slides'],\n    buttonText: ':bar_chart: Want me to build that deck?', actionId: 'task_assist_presentation' },\n  { id: 'stakeholder_map', label: 'Stakeholder Map',\n    keywords: ['map contacts', 'stakeholder', 'decision maker', 'identify contacts', 'org chart', 'key contacts', 'champion'],\n    buttonText: ':busts_in_silhouette: Want me to map the stakeholders?', actionId: 'task_assist_stakeholders' },\n  { id: 'meeting_prep', label: 'Meeting Prep',\n    keywords: ['prepare for meeting', 'prep for call', 'research before', 'meeting brief', 'pre-meeting', 'talking points'],\n    buttonText: ':clipboard: Want me to prep you for that meeting?', actionId: 'task_assist_meeting_prep' },\n];\n\nfunction matchTaskToSkill(taskSubject, taskDescription) {\n  const text = (taskSubject + ' ' + (taskDescription || '')).toLowerCase();\n  for (const skill of SKILL_REGISTRY) {\n    for (const kw of skill.keywords) {\n      if (text.includes(kw)) return skill;\n    }\n  }\n  return null;\n}\n\nconst data = $('Build Auto-Save Payload').first().json;\nconst recap = data.recap;\nconst m = data.meeting;\nconst assistantName = data.assistantName || 'Aria';\nconst assistantEmoji = data.assistantEmoji || ':robot_face:';\nconst taskCount = data.taskCount || 0;\n\nconst subjectLine = m.subject || 'Customer Meeting';\nconst blocks = [];\n\n// Header: account + time + subject\nblocks.push({\n  type: \"section\",\n  text: { type: \"mrkdwn\", text: `:clipboard: *${m.accountName}* \\u00b7 ${m.dayStr}, ${m.timeStr} \\u2014 ${subjectLine}` }\n});\n\n// Tight confirmation line\nconst taskPart = taskCount > 0 ? ` \\u00b7 ${taskCount} task${taskCount === 1 ? '' : 's'} created` : '';\nblocks.push({\n  type: \"section\",\n  text: { type: \"mrkdwn\", text: `:white_check_mark: Saved to CRM${taskPart}` }\n});\n\n// Summary teaser \u2014 first sentence or first 120 chars\nconst summary = recap.summary || '';\nif (summary) {\n  let teaser = summary;\n  const firstSentence = summary.match(/^[^.!?]+[.!?]/);\n  if (firstSentence && firstSentence[0].length <= 150) {\n    teaser = firstSentence[0];\n  } else {\n    teaser = summary.substring(0, 120);\n    if (summary.length > 120) teaser += '...';\n  }\n  blocks.push({\n    type: \"section\",\n    text: { type: \"mrkdwn\", text: `\\u{1f4ac} _\"${teaser}\"_` }\n  });\n}\n\n// Primary action: Draft Follow-up\nconst truncContext = (recap.followUpContext || '').substring(0, 500);\nconst draftPayload = JSON.stringify({\n  action: 'draft_followup',\n  account_name: m.accountName,\n  account_id: m.accountId || '',\n  activity_uid: m.activityUid,\n  meeting_subject: m.subject,\n  participants: m.participants || '',\n  follow_up_context: truncContext,\n  user_id: data.userId,\n  db_user_id: data.userId,\n  slack_user_id: data.slackUserId,\n  organization_id: data.organizationId || '',\n  assistant_name: assistantName,\n  assistant_emoji: assistantEmoji,\n  rep_name: data.repName,\n});\n\nblocks.push({\n  type: \"actions\",\n  elements: [{\n    type: \"button\",\n    text: { type: \"plain_text\", text: \":email: Want me to draft your follow-up?\", emoji: true },\n    action_id: \"recap_draft_followup\",\n    value: draftPayload\n  }]\n});\n\n// Task Assist: keyword match freshly created tasks\nconst assistable = [];\nfor (const t of (recap.tasks || [])) {\n  const skill = matchTaskToSkill(t.description, '');\n  if (skill) {\n    assistable.push({ task: t, skill });\n  }\n}\n\nif (assistable.length > 0) {\n  for (const a of assistable.slice(0, 3)) {\n    blocks.push({\n      type: \"actions\",\n      elements: [{\n        type: \"button\",\n        text: { type: \"plain_text\", text: a.skill.buttonText, emoji: true },\n        action_id: a.skill.actionId,\n        value: JSON.stringify({\n          action: 'task_assist',\n          skill: a.skill.id,\n          task_subject: a.task.description,\n          account_name: m.accountName,\n          account_id: m.accountId || '',\n          user_id: data.userId,\n          slack_user_id: data.slackUserId,\n          organization_id: data.organizationId || '',\n          assistant_name: assistantName,\n          assistant_emoji: assistantEmoji,\n          rep_name: data.repName,\n        })\n      }]\n    });\n  }\n}\n\n// Footer links as context block\nblocks.push({\n  type: \"context\",\n  elements: [{\n    type: \"mrkdwn\",\n    text: \":date: <https://glass.people.ai/sheet/294e924a-d11a-46b7-a373-aae4182c4a61|My Events Today> \\u00b7 :clipboard: <https://glass.people.ai/sheet/0250d214-84ba-48e4-b272-6839c03462f5|All Tasks Today>\"\n  }]\n});\n\nconst promptText = `Meeting Recap \\u2014 ${m.accountName}: ${subjectLine}`;\n\nreturn [{ json: {\n  ...data,\n  blocks: JSON.stringify(blocks),\n  promptText,\n  assistantName,\n  assistantEmoji,\n  activityUids: [m.activityUid],\n}}];"
            },
            "id": "76a795c3-3a26-429d-92af-918bc388d620",
            "name": "Build Recap Card",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                3968,
                304
            ]
        },
        {
            "parameters": {
                "jsCode": "// Simplified thread reply \u2014 read-only, no Create Task buttons\nconst data = $('Build Auto-Save Payload').first().json;\nconst recap = data.recap;\nconst m = data.meeting;\nconst sendResult = $('Send Recap').first().json;\nconst assistantName = data.assistantName || 'Aria';\nconst assistantEmoji = data.assistantEmoji || ':robot_face:';\n\nconst blocks = [];\n\n// Summary + sentiment\nconst sentLine = `${recap.sentimentEmoji} ${recap.sentimentSignal || recap.sentiment}`;\nblocks.push({\n  type: \"section\",\n  text: { type: \"mrkdwn\", text: `${sentLine}\\n\\n${recap.summary}` }\n});\n\nblocks.push({ type: \"divider\" });\n\n// Key Decisions\nif (recap.keyDecisions && recap.keyDecisions.length > 0) {\n  const decisionText = recap.keyDecisions.map(d => `\\u2022 ${d}`).join('\\n');\n  blocks.push({\n    type: \"section\",\n    text: { type: \"mrkdwn\", text: `*Key Decisions*\\n${decisionText}` }\n  });\n  blocks.push({ type: \"divider\" });\n}\n\n// Action Items \u2014 read-only list\nif (recap.tasks && recap.tasks.length > 0) {\n  blocks.push({\n    type: \"section\",\n    text: { type: \"mrkdwn\", text: \"*Action Items*\" }\n  });\n\n  for (const task of recap.tasks) {\n    const roleBadge = task.assignee_role ? ` (${task.assignee_role})` : '';\n    const durationBadge = task.duration_minutes ? ` \\u00b7 ${task.duration_minutes} min` : '';\n    const taskText = `\\u2022 ${task.description}` +\n      (task.owner ? ` \\u2014 _${task.owner}_` + roleBadge : '') +\n      durationBadge +\n      (task.due_hint ? ` \\u00b7 ${task.due_hint}` : '');\n    blocks.push({\n      type: \"section\",\n      text: { type: \"mrkdwn\", text: taskText }\n    });\n  }\n}\n\n// If nothing captured\nif ((!recap.keyDecisions || recap.keyDecisions.length === 0) &&\n    (!recap.tasks || recap.tasks.length === 0)) {\n  blocks.push({\n    type: \"section\",\n    text: { type: \"mrkdwn\", text: \"_No key decisions or action items were captured for this meeting._\" }\n  });\n}\n\n// Thread footer\nblocks.push({\n  type: \"context\",\n  elements: [\n    { type: \"mrkdwn\", text: \"Tasks and recap saved to CRM \\u00b7 Use PeopleGlass to review or modify \\u00b7 Reply in this thread to discuss\" }\n  ]\n});\n\nreturn [{ json: {\n  threadBlocks: JSON.stringify(blocks),\n  threadTs: sendResult.ts,\n  channelId: sendResult.channel,\n  assistantName,\n  assistantEmoji,\n}}];"
            },
            "id": "436bb9f2-c5c1-4a4c-8e83-0da99975244f",
            "name": "Build Recap Thread",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                4640,
                304
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://slack.com/api/chat.postMessage",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ channel: $json.channelId, thread_ts: $json.threadTs, blocks: JSON.parse($json.threadBlocks), text: \"Meeting details\", username: $json.assistantName, icon_emoji: $json.assistantEmoji }) }}",
                "options": {}
            },
            "id": "20d6accc-e904-44d1-aaf5-156ac1e205bc",
            "name": "Send Recap Thread",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                4864,
                304
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "LluVuiMJ8NUbAiG7",
                    "name": "Slackbot Auth Token"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Build Workato payloads for auto-saving recap to CRM\nconst data = $('Parse Recap Output').first().json;\nconst recap = data.recap;\nconst m = data.meeting;\n\n// Build description from recap parts\nconst descParts = [];\nif (recap.summary) descParts.push('Summary: ' + recap.summary);\nif (recap.keyDecisions && recap.keyDecisions.length > 0) {\n  descParts.push('Key Decisions:\\n' + recap.keyDecisions.map(d => '- ' + d).join('\\n'));\n}\nif (recap.tasks && recap.tasks.length > 0) {\n  descParts.push('Action Items:\\n' + recap.tasks.map(t =>\n    '- ' + t.description + (t.owner ? ' (' + t.owner + ')' : '')\n  ).join('\\n'));\n}\nconst description = descParts.join('\\n\\n');\n\n// Activity payload for logging the meeting recap\nconst activityPayload = {\n  action: 'log_activity',\n  salesforce_object: 'Event',\n  fields: {\n    Subject: m.subject || 'Customer Meeting',\n    Description: description,\n    ActivityDate: m.dayStr || new Date().toISOString().split('T')[0],\n    meeting_category: recap.meetingCategory || null,\n    cs_category: recap.csCategory || null,\n  },\n  context: {\n    user_email: data.email || '',\n    account_name: m.accountName || '',\n    activity_uid: m.activityUid || '',\n    prepend_description: true,\n  }\n};\n\n// Parse due date hints into actual dates\nfunction parseDueDate(hint) {\n  if (!hint) return '';\n  const now = new Date();\n  const lower = hint.toLowerCase().trim();\n  if (lower === 'today') return now.toISOString().split('T')[0];\n  if (lower === 'tomorrow') {\n    const d = new Date(now); d.setDate(d.getDate() + 1);\n    return d.toISOString().split('T')[0];\n  }\n  if (lower === 'this week' || lower === 'end of week') {\n    const d = new Date(now);\n    const dayOfWeek = d.getDay();\n    d.setDate(d.getDate() + (5 - dayOfWeek));\n    return d.toISOString().split('T')[0];\n  }\n  if (lower === 'next week') {\n    const d = new Date(now);\n    d.setDate(d.getDate() + 7);\n    return d.toISOString().split('T')[0];\n  }\n  // Try parsing as a date string\n  const parsed = new Date(hint);\n  if (!isNaN(parsed.getTime())) return parsed.toISOString().split('T')[0];\n  // Default: 1 week from now\n  const d = new Date(now); d.setDate(d.getDate() + 7);\n  return d.toISOString().split('T')[0];\n}\n\n// Task payloads\nconst taskPayloads = (recap.tasks || []).map(t => ({\n  action: 'create_task',\n  salesforce_object: 'Task',\n  fields: {\n    Subject: t.description || 'Follow-up task',\n    Description: 'From meeting: ' + (m.subject || '') + ' with ' + (m.accountName || '') +\n      (t.due_hint ? '\\nDue: ' + t.due_hint : ''),\n    ActivityDate: parseDueDate(t.due_hint),\n    Status: 'Not Started',\n    Priority: 'Normal',\n    TaskDuration: t.duration_minutes || 30,\n    Category: t.task_category || '',\n  },\n  context: {\n    user_email: data.email || '',\n    account_name: m.accountName || '',\n    meeting_subject: m.subject || '',\n    assignee_name: t.owner || '',\n    assignee_email: t.owner_email || '',\n    assignee_role: t.assignee_role || '',\n  }\n}));\n\nreturn [{ json: {\n  ...data,\n  activityPayload,\n  taskPayloads,\n  taskCount: taskPayloads.length,\n}}];"
            },
            "id": "a12def0c-378d-4524-8835-426755f10bb0",
            "name": "Build Auto-Save Payload",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                3520,
                444
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://webhooks.workato.com/webhooks/rest/cfff4d3a-6f27-4ba4-9754-ac22c759ecaa/assistant_sf_write",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify($json.activityPayload) }}",
                "options": {
                    "timeout": 15000
                }
            },
            "id": "5f4c7963-b1d3-4f51-a935-6017d20f3b8e",
            "name": "Send Recap to CRM",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                3744,
                304
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "// Fan out task payloads for batch sending to Workato\nconst data = $('Build Auto-Save Payload').first().json;\nconst taskPayloads = data.taskPayloads || [];\n\nif (taskPayloads.length === 0) {\n  return [];  // no tasks extracted\n}\n\nreturn taskPayloads.map(p => ({ json: { webhook_payload: p } }));"
            },
            "id": "8df03c15-37b3-48b4-b893-fd3fba86925c",
            "name": "Prepare Task Payloads",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                3744,
                496
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://webhooks.workato.com/webhooks/rest/cfff4d3a-6f27-4ba4-9754-ac22c759ecaa/assistant_sf_write",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify($json.webhook_payload) }}",
                "options": {
                    "timeout": 15000
                }
            },
            "id": "f44a5a2d-dc70-4dcd-863e-c8afa1a5c65c",
            "name": "Send Tasks to CRM",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                3968,
                496
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "const data = $('Parse Recap Output').first().json;\nconst m = data.meeting || {};\nconst requestId = 'res_' + Date.now() + '_' + Math.random().toString(36).substr(2, 9);\n\nreturn [{ json: {\n  ...data,\n  resolutionRequestId: requestId,\n  resolutionPayload: {\n    action: 'get_tasks_resolution',\n    account_name: m.accountName || '',\n    user_email: data.email || '',\n    callback_url: 'https://scottai.trackslife.com/webhook/task-resolution-callback',\n    request_id: requestId,\n  },\n  resolutionContext: {\n    channel_id: $('Open Bot DM').first().json.channel.id || '',\n    assistant_name: data.assistantName || 'Aria',\n    assistant_emoji: data.assistantEmoji || ':robot_face:',\n    mode: 'recap',\n    account_name: m.accountName || '',\n  }\n}}];"
            },
            "id": "ec008430-8056-4b7e-aaab-983d488524ef",
            "name": "Fire Task Resolution",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                3744,
                688
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://rhrlnkbphxntxxxcrgvv.supabase.co/rest/v1/pending_actions",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "supabaseApi",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "return=representation"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ opportunity_id: $json.resolutionRequestId, action_type: 'resolution_request', draft_content: '{}', context: JSON.stringify($json.resolutionContext), status: 'pending' }) }}",
                "options": {}
            },
            "id": "8addaf8b-1e09-4b77-a861-77fd8f17ef60",
            "name": "Store Resolution Request",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                3968,
                688
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "ASRWWkQ0RSMOpNF1",
                    "name": "Supabase account"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://webhooks.workato.com/webhooks/rest/cfff4d3a-6f27-4ba4-9754-ac22c759ecaa/assistant_sf_read",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify($json.resolutionPayload) }}",
                "options": {
                    "timeout": 15000
                }
            },
            "id": "701241ef-d619-4d3e-9e94-8d8c8bd6f003",
            "name": "Send Resolution to Workato",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                4192,
                688
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "url": "https://rhrlnkbphxntxxxcrgvv.supabase.co/rest/v1/users?onboarding_state=eq.complete&select=id,email,slack_user_id,assistant_name,assistant_emoji,digest_scope",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "supabaseApi",
                "options": {}
            },
            "id": "5b6fe365-be01-4d4f-a38d-444ca11a957a",
            "name": "Get Resolution Users",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                480,
                928
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "ASRWWkQ0RSMOpNF1",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "options": {}
            },
            "id": "3ad78e5f-3a08-4046-8f06-853a95a532ea",
            "name": "Loop Resolution Users",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                704,
                928
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://slack.com/api/conversations.open",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ users: $json.slack_user_id }) }}",
                "options": {}
            },
            "id": "de03076b-d287-4ded-96f1-b592b7aa5dd7",
            "name": "Open DM (Resolution)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                928,
                856
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "LluVuiMJ8NUbAiG7",
                    "name": "Slackbot Auth Token"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const user = $('Loop Resolution Users').first().json;\nconst dm = $json.channel?.id || $json.channel || '';\nconst requestId = 'sched_' + Date.now() + '_' + Math.random().toString(36).substr(2, 9);\n\nreturn [{ json: {\n  resolutionPayload: {\n    action: 'get_tasks_resolution',\n    account_name: '',\n    user_email: user.email || '',\n    callback_url: 'https://scottai.trackslife.com/webhook/task-resolution-callback',\n    request_id: requestId,\n  },\n  resolutionContext: {\n    channelId: dm,\n    assistantName: user.assistant_name || 'Aria',\n    assistantEmoji: user.assistant_emoji || ':robot_face:',\n    mode: 'scheduled',\n  },\n  requestId,\n}}];"
            },
            "id": "46bea775-1cb6-405c-945f-cca14b2e6d45",
            "name": "Build Scheduled Resolution",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1152,
                856
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://rhrlnkbphxntxxxcrgvv.supabase.co/rest/v1/pending_actions",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "supabaseApi",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "return=representation"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ opportunity_id: $json.requestId, action_type: 'resolution_request', draft_content: '{}', context: JSON.stringify($json.resolutionContext), status: 'pending' }) }}",
                "options": {}
            },
            "id": "46df65ea-f868-4c3f-bb98-65b6b3328122",
            "name": "Store Scheduled Request",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1376,
                856
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "ASRWWkQ0RSMOpNF1",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://webhooks.workato.com/webhooks/rest/cfff4d3a-6f27-4ba4-9754-ac22c759ecaa/assistant_sf_read",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify($json.resolutionPayload) }}",
                "options": {
                    "timeout": 15000
                }
            },
            "id": "f4423ea9-304b-48f5-8ae1-655be7119c70",
            "name": "Send Scheduled Resolution",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1600,
                928
            ],
            "continueOnFail": true
        }
    ],
    "connections": {
        "Get Auth Token": {
            "main": [
                [
                    {
                        "node": "Build Query",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Query": {
            "main": [
                [
                    {
                        "node": "Fetch Today Meetings",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Today Meetings": {
            "main": [
                [
                    {
                        "node": "Parse Meetings",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Meetings": {
            "main": [
                [
                    {
                        "node": "Get Followup Users",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Followup Users": {
            "main": [
                [
                    {
                        "node": "Compute Dedup Window",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Sent Followups": {
            "main": [
                [
                    {
                        "node": "Match Users to Ended Meetings",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Match Users to Ended Meetings": {
            "main": [
                [
                    {
                        "node": "Has Matches?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Matches?": {
            "main": [
                [
                    {
                        "node": "Split In Batches",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Split In Batches": {
            "main": [
                [],
                [
                    {
                        "node": "Build Recap Context",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Open Bot DM": {
            "main": [
                [
                    {
                        "node": "Send Recap",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Log Data": {
            "main": [
                [
                    {
                        "node": "Log Follow-up Prompt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log Follow-up Prompt": {
            "main": [
                [
                    {
                        "node": "Split In Batches",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Compute Dedup Window": {
            "main": [
                [
                    {
                        "node": "Check Sent Followups",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Followup Check (9am + 4pm PT)": {
            "main": [
                [
                    {
                        "node": "Get Auth Token",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Get Resolution Users",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Anthropic Chat Model (Recap)": {
            "ai_languageModel": [
                [
                    {
                        "node": "Recap Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "People.ai MCP (Recap)": {
            "ai_tool": [
                [
                    {
                        "node": "Recap Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Recap Context": {
            "main": [
                [
                    {
                        "node": "Recap Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Recap Agent": {
            "main": [
                [
                    {
                        "node": "Parse Recap Output",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Recap Output": {
            "main": [
                [
                    {
                        "node": "Build Auto-Save Payload",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Recap": {
            "main": [
                [
                    {
                        "node": "Build Recap Thread",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Recap Card": {
            "main": [
                [
                    {
                        "node": "Open Bot DM",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Recap Thread": {
            "main": [
                [
                    {
                        "node": "Send Recap Thread",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Recap Thread": {
            "main": [
                [
                    {
                        "node": "Prepare Log Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Auto-Save Payload": {
            "main": [
                [
                    {
                        "node": "Send Recap to CRM",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Prepare Task Payloads",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Fire Task Resolution",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Recap to CRM": {
            "main": [
                [
                    {
                        "node": "Build Recap Card",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Task Payloads": {
            "main": [
                [
                    {
                        "node": "Send Tasks to CRM",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Tasks to CRM": {
            "main": [
                []
            ]
        },
        "Fire Task Resolution": {
            "main": [
                [
                    {
                        "node": "Store Resolution Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Store Resolution Request": {
            "main": [
                [
                    {
                        "node": "Send Resolution to Workato",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Resolution to Workato": {
            "main": [
                []
            ]
        },
        "Get Resolution Users": {
            "main": [
                [
                    {
                        "node": "Loop Resolution Users",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Resolution Users": {
            "main": [
                [],
                [
                    {
                        "node": "Open DM (Resolution)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Open DM (Resolution)": {
            "main": [
                [
                    {
                        "node": "Build Scheduled Resolution",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Scheduled Resolution": {
            "main": [
                [
                    {
                        "node": "Store Scheduled Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Store Scheduled Request": {
            "main": [
                [
                    {
                        "node": "Send Scheduled Resolution",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Scheduled Resolution": {
            "main": [
                [
                    {
                        "node": "Loop Resolution Users",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false
    },
    "staticData": {
        "node:Every 15 Minutes": {
            "recurrenceRules": []
        },
        "node:Every 60 Minutes": {
            "recurrenceRules": []
        },
        "node:Followup Check (9am + 3pm PT)": {
            "recurrenceRules": []
        },
        "node:Followup Check (9am + 4pm PT)": {
            "recurrenceRules": []
        }
    },
    "meta": null,
    "pinData": {},
    "versionId": "50397a69-6891-43d4-baa3-95b87638c77a",
    "activeVersionId": "50397a69-6891-43d4-baa3-95b87638c77a",
    "versionCounter": 188,
    "triggerCount": 1,
    "shared": [
        {
            "updatedAt": "2026-03-04T00:59:29.241Z",
            "createdAt": "2026-03-04T00:59:29.241Z",
            "role": "workflow:owner",
            "workflowId": "JhDuCvZdFN4PFTOW",
            "projectId": "85jtzrEPriGDXgHV",
            "project": {
                "updatedAt": "2025-11-24T07:01:19.205Z",
                "createdAt": "2025-11-24T06:56:53.862Z",
                "id": "85jtzrEPriGDXgHV",
                "name": "Scott Metcalf <metcalf.scott@gmail.com>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "bfa163c1-bd53-4c0f-b0ba-8dc3626f7c79"
            }
        }
    ],
    "tags": [],
    "activeVersion": {
        "updatedAt": "2026-04-08T15:32:05.858Z",
        "createdAt": "2026-04-08T15:32:05.858Z",
        "versionId": "50397a69-6891-43d4-baa3-95b87638c77a",
        "workflowId": "JhDuCvZdFN4PFTOW",
        "nodes": [
            {
                "parameters": {
                    "method": "POST",
                    "url": "https://api.people.ai/v3/auth/tokens",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Content-Type",
                                "value": "application/x-www-form-urlencoded"
                            }
                        ]
                    },
                    "sendBody": true,
                    "specifyBody": "string",
                    "body": "client_id=YOUR_CLIENT_ID&client_secret=YOUR_CLIENT_SECRET&grant_type=client_credentials",
                    "options": {}
                },
                "id": "429b2c07-d2f6-42d0-a833-6f22f3092026",
                "name": "Get Auth Token",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    480,
                    664
                ]
            },
            {
                "parameters": {
                    "jsCode": "// Build People.ai export query for meetings in the last 24 hours\n// At 9am: catches yesterday afternoon meetings (4h+ delay means they're ready)\n// At 3pm: catches this morning's meetings (ended by 11am, 4h+ elapsed)\nconst now = Date.now();\nconst twentyFourHoursAgo = now - 24 * 60 * 60 * 1000;\n\nconst query = {\n  object: \"activity\",\n  filter: {\n    \"$and\": [\n      { attribute: { slug: \"ootb_activity_type\" }, clause: { \"$eq\": \"meeting\" } },\n      { attribute: { slug: \"ootb_activity_external\" }, clause: { \"$eq\": true } },\n      { attribute: { slug: \"ootb_activity_timestamp\" }, clause: { \"$gte\": twentyFourHoursAgo } },\n      { attribute: { slug: \"ootb_activity_timestamp\" }, clause: { \"$lte\": now } }\n    ]\n  },\n  columns: [\n    { slug: \"ootb_activity_uid\" },\n    { slug: \"ootb_activity_timestamp\" },\n    { slug: \"ootb_activity_subject\" },\n    { slug: \"ootb_activity_originator\" },\n    { slug: \"ootb_activity_account_name\" },\n    { slug: \"ootb_activity_opportunity_name\" },\n    { slug: \"ootb_activity_participants\", variation_id: \"ootb_activity_participants_email\" },\n    { slug: \"ootb_activity_participants\", variation_id: \"ootb_activity_participants_name\" }\n  ],\n  sort: [{ attribute: { slug: \"ootb_activity_timestamp\" }, direction: \"desc\" }]\n};\n\nreturn [{ json: { query: JSON.stringify(query) } }];\n"
                },
                "id": "762f5040-605f-4f29-a809-5b448945baff",
                "name": "Build Query",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    704,
                    664
                ]
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "https://api.people.ai/v3/beta/insights/export",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            },
                            {
                                "name": "Authorization",
                                "value": "=Bearer {{ $('Get Auth Token').first().json.access_token }}"
                            }
                        ]
                    },
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={{ $json.query }}",
                    "options": {}
                },
                "id": "5f6a9041-be63-4881-ab90-d97863f69248",
                "name": "Fetch Today Meetings",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    928,
                    664
                ],
                "continueOnFail": true
            },
            {
                "parameters": {
                    "jsCode": "// Parse CSV response from People.ai meetings export\n// API returns human-readable headers: \"Activity\", \"Activity date\", \"Subject\",\n// \"Account Name\", \"Opportunity Name\", \"Activity Participants (Email)\", etc.\nconst raw = $('Fetch Today Meetings').first().json.data || '';\nif (!raw || raw.trim().length === 0) {\n  return [{ json: { meetings: [], meetingCount: 0 } }];\n}\n\nconst lines = raw.split('\\n');\nif (lines.length < 2) {\n  return [{ json: { meetings: [], meetingCount: 0 } }];\n}\n\n// Parse CSV header\nconst headerLine = lines[0];\nconst headers = [];\nlet field = '';\nlet inQuotes = false;\nfor (let i = 0; i < headerLine.length; i++) {\n  const c = headerLine[i];\n  if (c === '\"') { inQuotes = !inQuotes; }\n  else if (c === ',' && !inQuotes) { headers.push(field.trim()); field = ''; }\n  else { field += c; }\n}\nheaders.push(field.trim());\n\n// Parse CSV rows\nfunction parseCSVRow(line) {\n  const fields = [];\n  let f = '';\n  let q = false;\n  for (let i = 0; i < line.length; i++) {\n    const c = line[i];\n    if (c === '\"') {\n      if (q && i + 1 < line.length && line[i + 1] === '\"') { f += '\"'; i++; }\n      else { q = !q; }\n    } else if (c === ',' && !q) { fields.push(f.trim()); f = ''; }\n    else { f += c; }\n  }\n  fields.push(f.trim());\n  return fields;\n}\n\n// Flexible header matching: check multiple possible names\nfunction getVal(row, ...names) {\n  for (const name of names) {\n    const idx = headers.findIndex(h => h.toLowerCase().includes(name.toLowerCase()));\n    if (idx >= 0 && row[idx]) return row[idx];\n  }\n  return '';\n}\n\n// Parse bracket-delimited list: \"[a;b;c]\" \u2192 [\"a\",\"b\",\"c\"]\nfunction parseList(val) {\n  if (!val) return [];\n  return val.replace(/^\\[/, '').replace(/\\]$/, '').trim()\n    .split(';').map(s => s.trim()).filter(Boolean);\n}\n\nconst meetings = [];\nfor (let i = 1; i < lines.length; i++) {\n  if (!lines[i].trim()) continue;\n  const row = parseCSVRow(lines[i]);\n\n  // Match actual API headers: \"Activity date\", \"Activity\", \"Subject\", etc.\n  const tsRaw = getVal(row, 'Activity date', 'date', 'timestamp');\n  let tsMs = 0;\n  if (tsRaw) {\n    const num = Number(tsRaw);\n    if (!isNaN(num) && num > 1e12) { tsMs = num; }\n    else {\n      const parsed = new Date(tsRaw);\n      if (!isNaN(parsed.getTime())) tsMs = parsed.getTime();\n    }\n  }\n  if (!tsMs || isNaN(tsMs)) continue;\n\n  const activityUid = getVal(row, 'Activity') || '';\n  // Skip if no UID (first column \"Activity\" contains the UID)\n  if (!activityUid) continue;\n\n  const participantEmails = parseList(getVal(row, 'Participants (Email)', 'Participants'));\n  const participantNames = parseList(getVal(row, 'Participants (Name)'));\n\n  meetings.push({\n    activityUid,\n    timestamp: tsMs,\n    subject: getVal(row, 'Subject'),\n    originator: getVal(row, 'Originator'),\n    accountName: getVal(row, 'Account Name', 'Account'),\n    accountId: '',\n    opportunityName: getVal(row, 'Opportunity Name', 'Opportunity'),\n    participants: participantEmails.join('; '),\n    participantEmails,\n    participantNames,\n  });\n}\n\nreturn [{ json: { meetings, meetingCount: meetings.length, headers } }];\n"
                },
                "id": "afb2c3a5-40f3-4abd-9e1f-bbcf3fc382e5",
                "name": "Parse Meetings",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    1152,
                    664
                ]
            },
            {
                "parameters": {
                    "url": "https://rhrlnkbphxntxxxcrgvv.supabase.co/rest/v1/users?onboarding_state=eq.complete&select=id,slack_user_id,email,assistant_name,assistant_emoji,organization_id,onboarding_state,followup_delay_minutes,followup_enabled",
                    "authentication": "predefinedCredentialType",
                    "nodeCredentialType": "supabaseApi",
                    "options": {}
                },
                "id": "13606746-9806-4320-9853-f4e9b9a2abcf",
                "name": "Get Followup Users",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    1376,
                    664
                ],
                "credentials": {
                    "supabaseApi": {
                        "id": "ASRWWkQ0RSMOpNF1",
                        "name": "Supabase account"
                    }
                }
            },
            {
                "parameters": {
                    "url": "={{ $json.dedupUrl }}",
                    "authentication": "predefinedCredentialType",
                    "nodeCredentialType": "supabaseApi",
                    "options": {}
                },
                "id": "26b0fbf3-719a-4d82-9174-452af0a9c57d",
                "name": "Check Sent Followups",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    1824,
                    664
                ],
                "alwaysOutputData": true,
                "credentials": {
                    "supabaseApi": {
                        "id": "ASRWWkQ0RSMOpNF1",
                        "name": "Supabase account"
                    }
                }
            },
            {
                "parameters": {
                    "jsCode": "// Match users to meetings that ended 4+ hours ago (transcript available)\n// CRITICAL: Only include meetings where the user is a PARTICIPANT\n// Group by user: output ONE item per user with all their ready meetings\nconst meetings = $('Parse Meetings').first().json.meetings || [];\nconst usersAll = $('Get Followup Users').all().map(i => i.json);\nconst sentAll = $('Check Sent Followups').all().map(i => i.json);\n\n// Filter valid users\nconst users = usersAll.filter(u => u && u.id && u.onboarding_state === 'complete');\n\n// Build dedup set: userId:activityUid\nconst sentSet = new Set();\nfor (const msg of sentAll) {\n  if (msg && msg.metadata) {\n    try {\n      const meta = typeof msg.metadata === 'string' ? JSON.parse(msg.metadata) : msg.metadata;\n      if (meta.activity_uid && msg.user_id) {\n        sentSet.add(msg.user_id + ':' + meta.activity_uid);\n      }\n    } catch(e) {}\n  }\n}\n\nconst now = Date.now();\nconst MEETING_DURATION_MS = 60 * 60 * 1000; // assume 60 min meetings\nconst MIN_ELAPSED_MS = 4 * 60 * 60 * 1000;  // 4 hours after meeting end\n\nconst output = [];\n\nfor (const user of users) {\n  const followupEnabled = user.followup_enabled !== false;\n  if (!followupEnabled) continue;\n\n  const userEmail = (user.email || '').toLowerCase();\n  if (!userEmail) continue;\n\n  const repName = userEmail\n    .split('@')[0].split('.').map(w => w.charAt(0).toUpperCase() + w.slice(1)).join(' ');\n\n  const readyMeetings = [];\n\n  for (const meeting of meetings) {\n    // Only include meetings this user attended\n    const participantEmails = (meeting.participantEmails || []).map(e => e.toLowerCase());\n    if (!participantEmails.includes(userEmail)) continue;\n\n    const estimatedEnd = meeting.timestamp + MEETING_DURATION_MS;\n    const timeSinceEnd = now - estimatedEnd;\n\n    if (timeSinceEnd < MIN_ELAPSED_MS) continue;\n\n    const dedupKey = user.id + ':' + meeting.activityUid;\n    if (sentSet.has(dedupKey)) continue;\n\n    if (!meeting.accountName) continue;\n\n    const tz = 'America/Los_Angeles';\n    const meetingDate = new Date(meeting.timestamp);\n    const timeStr = meetingDate.toLocaleTimeString('en-US', { timeZone: tz, hour: 'numeric', minute: '2-digit' });\n    const dayStr = meetingDate.toLocaleDateString('en-US', { timeZone: tz, weekday: 'short' });\n    const hoursAgo = Math.round(timeSinceEnd / 3600000);\n\n    readyMeetings.push({\n      activityUid: meeting.activityUid,\n      subject: meeting.subject || '[no subject]',\n      accountName: meeting.accountName,\n      accountId: meeting.accountId || '',\n      opportunityName: meeting.opportunityName || '',\n      participants: meeting.participants || '',\n      timestamp: meeting.timestamp,\n      timeStr,\n      dayStr,\n      hoursAgo,\n    });\n  }\n\n  if (readyMeetings.length === 0) continue;\n\n  readyMeetings.sort((a, b) => b.timestamp - a.timestamp);\n\n  output.push({\n    json: {\n      userId: user.id,\n      slackUserId: user.slack_user_id,\n      email: user.email,\n      repName,\n      assistantName: user.assistant_name || 'Aria',\n      assistantEmoji: user.assistant_emoji || ':robot_face:',\n      organizationId: user.organization_id,\n      meetings: readyMeetings,\n      meetingCount: readyMeetings.length,\n    }\n  });\n}\n\nif (output.length === 0) {\n  return [{ json: { noMatches: true } }];\n}\n\nreturn output;\n"
                },
                "id": "11d00dcc-9c5f-4296-9c5f-366a417cdb30",
                "name": "Match Users to Ended Meetings",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    2048,
                    664
                ]
            },
            {
                "parameters": {
                    "conditions": {
                        "options": {
                            "version": 2,
                            "leftValue": "",
                            "caseSensitive": true,
                            "typeValidation": "strict"
                        },
                        "conditions": [
                            {
                                "id": "0bc48827-bc2a-40b5-9437-85e9cc08b14c",
                                "leftValue": "={{ $json.noMatches }}",
                                "rightValue": true,
                                "operator": {
                                    "type": "boolean",
                                    "operation": "notEquals"
                                }
                            }
                        ],
                        "combinator": "and"
                    },
                    "options": {}
                },
                "id": "65e46fcc-367a-4077-9665-4e8154fb047f",
                "name": "Has Matches?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2.2,
                "position": [
                    2272,
                    664
                ]
            },
            {
                "parameters": {
                    "options": {}
                },
                "id": "99049da1-8099-4d01-b616-95b7fff29f8c",
                "name": "Split In Batches",
                "type": "n8n-nodes-base.splitInBatches",
                "typeVersion": 3,
                "position": [
                    2496,
                    664
                ]
            },
            {
                "parameters": {
                    "jsCode": "// Build per-meeting recap context for AI agent\n// Output ONE item per meeting (agent processes each individually)\nconst data = $input.first().json;\nconst meetings = data.meetings || [];\n\nif (meetings.length === 0) {\n  return [{ json: { ...data, skip: true } }];\n}\n\nconst todayStr = new Date().toLocaleDateString('en-US', {\n  weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'\n});\nconst tz = data.timezone || 'America/Los_Angeles';\nconst assistantName = data.assistantName || 'Aria';\nconst assistantEmoji = data.assistantEmoji || ':robot_face:';\nconst assistantPersona = data.assistantPersona || 'direct, action-oriented, and conversational';\nconst repName = data.repName || 'Rep';\n\nconst results = [];\n\nfor (const m of meetings) {\n  const systemPrompt = `You are ${assistantName}, a personal sales assistant for ${repName}.\nYour personality: ${assistantPersona}\n\nTODAY IS ${todayStr}. ${repName} is in ${tz}.\n\nMEETING CONTEXT:\n- Account: ${m.accountName}\n- Subject: ${m.subject}\n- Time: ${m.dayStr} ${m.timeStr}\n- Participants: ${m.participants || 'Unknown'}\n- Participant Emails: ${(m.participantEmails || []).join('; ') || 'Unknown'}\n\nUse People.ai MCP tools to research this meeting:\n1. Find the meeting transcript, notes, topics discussed, and action items\n2. Look up participant roles and recent engagement history\n3. Check the related opportunity status if one exists\n4. Get recent account activity for context\n\nGenerate a structured meeting recap as a JSON object with this exact shape:\n{\n  \"summary\": \"2-3 sentence recap of what was discussed and key outcomes\",\n  \"sentiment\": \"positive|neutral|negative|mixed\",\n  \"sentiment_signal\": \"one sentence explaining the sentiment\",\n  \"tasks\": [\n    {\n      \"description\": \"specific action item from the meeting\",\n      \"owner\": \"MUST be an internal People.ai employee \u2014 never assign to external/customer contacts\",\n      \"owner_email\": \"email address of the internal owner from the Participant Emails list \u2014 match the owner name to their email\",\n      \"assignee_role\": \"CSM, AE, SE, or AI \u2014 CSM for technical support, training, onboarding, implementation; AE for strategic, commercial, expansion, executive engagement; SE for sales engineering, technical scoping, demos; AI for AI innovation and executive initiatives\",\n      \"duration_minutes\": \"estimated minutes (15, 30, 45, 60, 90, 120)\",\n      \"due_hint\": \"timeframe suggestion\",\n      \"task_category\": \"best match from: Discovery Meeting, Demo Meeting, Prospecting & Qualification, Solution Presentation & Demo, Commercials & Negotiation, Technical Scoping & Solutioning, Onboarding & Implementation, Account & Renewal Management, Expansion & Upsell, Customer Training, Internal Deal Support (Legal/Fin/Sec), Product & Engineering Inquiry, Strategic Account & Territory Planning, Sales Operations & Coaching\"\n    }\n  ],\n  \"key_decisions\": [\"decision 1\", \"decision 2\"],\n  \"follow_up_context\": \"context to enrich a follow-up email\",\n  \"meeting_category\": \"best match from: Discovery Meeting, Demo Meeting, Proposal Meeting, Security Meeting, Procurement Meeting, Onboarding & Implementation, Account & Renewal Management, Expansion & Upsell, Customer Training, Internal Deal Support, Product & Engineering Inquiry, Legal Meeting, DID NOT HAPPEN, Prospecting & Qualification, Solution Presentation & Demo, Commercials & Negotiation, Technical Scoping & Solutioning, Strategic Account & Territory Planning, Sales Operations & Coaching\",\n}\n\n\nFor each task, estimate the duration in minutes and assign the role (CSM or AE) based on the nature of the work.\n\nTOOL CALL BUDGET: You have limited tool calls. After ~8 calls, produce your output.\nIf a tool returns no data, move on. Do not retry.\n\nRULES:\n- Extract REAL tasks mentioned in the meeting \u2014 do NOT fabricate\n- If transcript data is limited, say so in the summary and provide what you can from account context\n- Tasks must be specific and actionable (\"Send pricing proposal to Mark by Friday\" not \"Follow up\")\n- Maximum 5 tasks\n- Keep summary under 100 words\n- Output ONLY the JSON object \u2014 no prose, no markdown fences\n\nBased on the meeting content, select the single best-matching value for each category field. Use the exact picklist value string. If none fit well, use null.`;\n\n  const agentPrompt = `Generate a meeting recap for my ${m.subject} meeting with ${m.accountName}.` +\n    (m.participants ? ` Participants: ${m.participants}.` : '') +\n    ` Use People.ai MCP tools to find transcript data, topics, and action items.` +\n    ` Output ONLY the JSON object.`;\n\n  results.push({\n    json: {\n      ...data,\n      meeting: m,\n      accountName: m.accountName,\n      meetingSubject: m.subject,\n      activityUid: m.activityUid,\n      systemPrompt,\n      agentPrompt,\n      assistantName,\n      assistantEmoji,\n      repName,\n    }\n  });\n}\n\nreturn results;"
                },
                "id": "3f4d7a49-445a-43dc-b1cc-b8c36462b0c4",
                "name": "Build Recap Context",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    2720,
                    444
                ]
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "https://slack.com/api/conversations.open",
                    "authentication": "genericCredentialType",
                    "genericAuthType": "httpHeaderAuth",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    },
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={{ JSON.stringify({ users: $json.slackUserId }) }}",
                    "options": {}
                },
                "id": "c8dddbb2-a3f0-4dad-ac65-0046a069ec30",
                "name": "Open Bot DM",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    4192,
                    304
                ],
                "credentials": {
                    "httpHeaderAuth": {
                        "id": "LluVuiMJ8NUbAiG7",
                        "name": "Slackbot Auth Token"
                    }
                }
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "https://slack.com/api/chat.postMessage",
                    "authentication": "genericCredentialType",
                    "genericAuthType": "httpHeaderAuth",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    },
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={{ JSON.stringify({ channel: $json.channel.id, text: $(\"Build Recap Card\").first().json.promptText, blocks: JSON.parse($(\"Build Recap Card\").first().json.blocks), username: $(\"Build Recap Card\").first().json.assistantName, icon_emoji: $(\"Build Recap Card\").first().json.assistantEmoji }) }}",
                    "options": {}
                },
                "id": "695a141b-d877-4e65-8269-3e82ef946c5d",
                "name": "Send Recap",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    4416,
                    304
                ],
                "credentials": {
                    "httpHeaderAuth": {
                        "id": "LluVuiMJ8NUbAiG7",
                        "name": "Slackbot Auth Token"
                    }
                }
            },
            {
                "parameters": {
                    "jsCode": "// Log recap delivery for dedup\nconst data = $('Build Recap Card').first().json;\nconst sendResult = $('Send Recap').first().json;\nconst m = data.meeting || {};\n\nreturn [{ json: {\n  user_id: data.userId,\n  message_type: 'meeting_recap',\n  channel: 'slack',\n  direction: 'outbound',\n  content: data.promptText || 'Meeting recap',\n  metadata: JSON.stringify({\n    activity_uid: m.activityUid || data.activityUid,\n    account_name: m.accountName || '',\n    meeting_subject: m.subject || '',\n    slack_ts: sendResult.ts || null,\n    slack_channel: sendResult.channel || null,\n    recap_sentiment: data.recap ? data.recap.sentiment : null,\n    recap_task_count: data.recap ? (data.recap.tasks || []).length : 0,\n  }),\n}}];"
                },
                "id": "4c870b97-d7fc-4311-bc2b-4b62a8aa7e28",
                "name": "Prepare Log Data",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    5088,
                    304
                ]
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "https://rhrlnkbphxntxxxcrgvv.supabase.co/rest/v1/messages",
                    "authentication": "predefinedCredentialType",
                    "nodeCredentialType": "supabaseApi",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Prefer",
                                "value": "return=representation"
                            },
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    },
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={{ JSON.stringify($json) }}",
                    "options": {}
                },
                "id": "7c247953-e79e-4848-8dd1-d53801a9290a",
                "name": "Log Follow-up Prompt",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    5312,
                    568
                ],
                "credentials": {
                    "supabaseApi": {
                        "id": "ASRWWkQ0RSMOpNF1",
                        "name": "Supabase account"
                    }
                }
            },
            {
                "parameters": {
                    "rule": {
                        "interval": [
                            {
                                "field": "cronExpression",
                                "expression": "0 9,16 * * 1-5"
                            }
                        ]
                    }
                },
                "id": "cd18c603-7a37-47d3-a90c-8a5350db0dbd",
                "name": "Followup Check (9am + 4pm PT)",
                "type": "n8n-nodes-base.scheduleTrigger",
                "typeVersion": 1.2,
                "position": [
                    256,
                    832
                ]
            },
            {
                "parameters": {
                    "jsCode": "// Compute the 48h lookback window for dedup\nconst cutoff = new Date(Date.now() - 48 * 60 * 60 * 1000).toISOString();\nconst url = 'https://rhrlnkbphxntxxxcrgvv.supabase.co/rest/v1/messages'\n  + '?message_type=in.(followup_prompt,meeting_recap)'\n  + '&sent_at=gte.' + cutoff\n  + '&select=user_id,metadata'\n  + '&limit=500';\n\n// Pass through all upstream data plus the computed URL\nreturn $input.all().map(item => ({\n  json: { ...item.json, dedupUrl: url }\n}));\n"
                },
                "id": "f3b0e2cf-cf6a-438a-9ceb-4bb298488f91",
                "name": "Compute Dedup Window",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    1600,
                    664
                ]
            },
            {
                "parameters": {
                    "model": {
                        "__rl": true,
                        "mode": "list",
                        "value": "claude-sonnet-4-5-20250929",
                        "cachedResultName": "Claude Sonnet 4.5"
                    },
                    "options": {}
                },
                "id": "fcace639-b15e-434f-8d32-4f4787e9e2f4",
                "name": "Anthropic Chat Model (Recap)",
                "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
                "typeVersion": 1.3,
                "position": [
                    2952,
                    668
                ],
                "credentials": {
                    "anthropicApi": {
                        "id": "rlAz7ZSl4y6AwRUq",
                        "name": "Anthropic account 2"
                    }
                }
            },
            {
                "parameters": {
                    "endpointUrl": "https://mcp-canary.people.ai/mcp",
                    "authentication": "multipleHeadersAuth",
                    "options": {}
                },
                "id": "f588c3af-cae2-4c55-b7ec-dc85a14582cf",
                "name": "People.ai MCP (Recap)",
                "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
                "typeVersion": 1.2,
                "position": [
                    3080,
                    668
                ],
                "credentials": {
                    "httpMultipleHeadersAuth": {
                        "id": "wvV5pwBeIL7f2vLG",
                        "name": "People.ai MCP Multi-Header"
                    }
                }
            },
            {
                "parameters": {
                    "promptType": "define",
                    "text": "={{ $json.agentPrompt }}",
                    "options": {
                        "systemMessage": "={{ $json.systemPrompt }}",
                        "maxIterations": 15
                    }
                },
                "id": "7e8f05ac-6105-44c7-899b-298e67e0c630",
                "name": "Recap Agent",
                "type": "@n8n/n8n-nodes-langchain.agent",
                "typeVersion": 1.7,
                "position": [
                    2944,
                    444
                ],
                "continueOnFail": true
            },
            {
                "parameters": {
                    "jsCode": "// Parse recap agent output into structured data\nconst agentOutput = $('Recap Agent').first().json.output || '';\nconst context = $('Build Recap Context').first().json;\n\nlet recap = {};\ntry {\n  // Try to parse JSON from agent output (may be wrapped in code fences)\n  let jsonStr = agentOutput;\n  const fenceMatch = jsonStr.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n  if (fenceMatch) jsonStr = fenceMatch[1];\n  // Also try to find JSON object in the text\n  const objMatch = jsonStr.match(/\\{[\\s\\S]*\\}/);\n  if (objMatch) jsonStr = objMatch[0];\n  recap = JSON.parse(jsonStr);\n} catch(e) {\n  recap = {\n    summary: agentOutput.substring(0, 500) || 'Meeting recap could not be generated.',\n    sentiment: 'neutral',\n    sentiment_signal: '',\n    tasks: [],\n    key_decisions: [],\n    follow_up_context: ''\n  };\n}\n\nconst sentimentEmoji = {\n  'positive': ':white_check_mark:',\n  'neutral': ':large_blue_circle:',\n  'negative': ':red_circle:',\n  'mixed': ':warning:'\n}[recap.sentiment] || ':large_blue_circle:';\n\nreturn [{ json: {\n  ...context,\n  recap: {\n    summary: recap.summary || '',\n    sentiment: recap.sentiment || 'neutral',\n    sentimentEmoji,\n    sentimentSignal: recap.sentiment_signal || '',\n    tasks: (recap.tasks || []).slice(0, 5).map(t => ({\n      description: t.description || '',\n      owner: t.owner || '',\n      owner_email: t.owner_email || '',\n      assignee_role: t.assignee_role || '',\n      duration_minutes: t.duration_minutes || 30,\n      due_hint: t.due_hint || '',\n      task_category: t.task_category || '',\n    })),\n    keyDecisions: recap.key_decisions || [],\n    followUpContext: recap.follow_up_context || '',\n    csCategory: recap.cs_category || null,\n    salesCategory: recap.sales_category || null,\n    meetingCategory: recap.meeting_category || null,\n  }\n}}];"
                },
                "id": "e5f69f20-3ff9-478e-a651-324001f13f63",
                "name": "Parse Recap Output",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    3296,
                    444
                ]
            },
            {
                "parameters": {
                    "jsCode": "const SKILL_REGISTRY = [\n  { id: 'draft_email', label: 'Draft Email',\n    keywords: ['send email', 'follow up', 'follow-up', 'email', 'reach out', 'share with', 'send to', 'write to', 'notify', 'update via email', 'loop in'],\n    buttonText: ':email: Want me to draft that email?', actionId: 'task_assist_draft_email' },\n  { id: 'presentation', label: 'Create Presentation',\n    keywords: ['create deck', 'build slides', 'presentation', 'qbr', 'prepare deck', 'slide deck', 'google slides'],\n    buttonText: ':bar_chart: Want me to build that deck?', actionId: 'task_assist_presentation' },\n  { id: 'stakeholder_map', label: 'Stakeholder Map',\n    keywords: ['map contacts', 'stakeholder', 'decision maker', 'identify contacts', 'org chart', 'key contacts', 'champion'],\n    buttonText: ':busts_in_silhouette: Want me to map the stakeholders?', actionId: 'task_assist_stakeholders' },\n  { id: 'meeting_prep', label: 'Meeting Prep',\n    keywords: ['prepare for meeting', 'prep for call', 'research before', 'meeting brief', 'pre-meeting', 'talking points'],\n    buttonText: ':clipboard: Want me to prep you for that meeting?', actionId: 'task_assist_meeting_prep' },\n];\n\nfunction matchTaskToSkill(taskSubject, taskDescription) {\n  const text = (taskSubject + ' ' + (taskDescription || '')).toLowerCase();\n  for (const skill of SKILL_REGISTRY) {\n    for (const kw of skill.keywords) {\n      if (text.includes(kw)) return skill;\n    }\n  }\n  return null;\n}\n\nconst data = $('Build Auto-Save Payload').first().json;\nconst recap = data.recap;\nconst m = data.meeting;\nconst assistantName = data.assistantName || 'Aria';\nconst assistantEmoji = data.assistantEmoji || ':robot_face:';\nconst taskCount = data.taskCount || 0;\n\nconst subjectLine = m.subject || 'Customer Meeting';\nconst blocks = [];\n\n// Header: account + time + subject\nblocks.push({\n  type: \"section\",\n  text: { type: \"mrkdwn\", text: `:clipboard: *${m.accountName}* \\u00b7 ${m.dayStr}, ${m.timeStr} \\u2014 ${subjectLine}` }\n});\n\n// Tight confirmation line\nconst taskPart = taskCount > 0 ? ` \\u00b7 ${taskCount} task${taskCount === 1 ? '' : 's'} created` : '';\nblocks.push({\n  type: \"section\",\n  text: { type: \"mrkdwn\", text: `:white_check_mark: Saved to CRM${taskPart}` }\n});\n\n// Summary teaser \u2014 first sentence or first 120 chars\nconst summary = recap.summary || '';\nif (summary) {\n  let teaser = summary;\n  const firstSentence = summary.match(/^[^.!?]+[.!?]/);\n  if (firstSentence && firstSentence[0].length <= 150) {\n    teaser = firstSentence[0];\n  } else {\n    teaser = summary.substring(0, 120);\n    if (summary.length > 120) teaser += '...';\n  }\n  blocks.push({\n    type: \"section\",\n    text: { type: \"mrkdwn\", text: `\\u{1f4ac} _\"${teaser}\"_` }\n  });\n}\n\n// Primary action: Draft Follow-up\nconst truncContext = (recap.followUpContext || '').substring(0, 500);\nconst draftPayload = JSON.stringify({\n  action: 'draft_followup',\n  account_name: m.accountName,\n  account_id: m.accountId || '',\n  activity_uid: m.activityUid,\n  meeting_subject: m.subject,\n  participants: m.participants || '',\n  follow_up_context: truncContext,\n  user_id: data.userId,\n  db_user_id: data.userId,\n  slack_user_id: data.slackUserId,\n  organization_id: data.organizationId || '',\n  assistant_name: assistantName,\n  assistant_emoji: assistantEmoji,\n  rep_name: data.repName,\n});\n\nblocks.push({\n  type: \"actions\",\n  elements: [{\n    type: \"button\",\n    text: { type: \"plain_text\", text: \":email: Want me to draft your follow-up?\", emoji: true },\n    action_id: \"recap_draft_followup\",\n    value: draftPayload\n  }]\n});\n\n// Task Assist: keyword match freshly created tasks\nconst assistable = [];\nfor (const t of (recap.tasks || [])) {\n  const skill = matchTaskToSkill(t.description, '');\n  if (skill) {\n    assistable.push({ task: t, skill });\n  }\n}\n\nif (assistable.length > 0) {\n  for (const a of assistable.slice(0, 3)) {\n    blocks.push({\n      type: \"actions\",\n      elements: [{\n        type: \"button\",\n        text: { type: \"plain_text\", text: a.skill.buttonText, emoji: true },\n        action_id: a.skill.actionId,\n        value: JSON.stringify({\n          action: 'task_assist',\n          skill: a.skill.id,\n          task_subject: a.task.description,\n          account_name: m.accountName,\n          account_id: m.accountId || '',\n          user_id: data.userId,\n          slack_user_id: data.slackUserId,\n          organization_id: data.organizationId || '',\n          assistant_name: assistantName,\n          assistant_emoji: assistantEmoji,\n          rep_name: data.repName,\n        })\n      }]\n    });\n  }\n}\n\n// Footer links as context block\nblocks.push({\n  type: \"context\",\n  elements: [{\n    type: \"mrkdwn\",\n    text: \":date: <https://glass.people.ai/sheet/294e924a-d11a-46b7-a373-aae4182c4a61|My Events Today> \\u00b7 :clipboard: <https://glass.people.ai/sheet/0250d214-84ba-48e4-b272-6839c03462f5|All Tasks Today>\"\n  }]\n});\n\nconst promptText = `Meeting Recap \\u2014 ${m.accountName}: ${subjectLine}`;\n\nreturn [{ json: {\n  ...data,\n  blocks: JSON.stringify(blocks),\n  promptText,\n  assistantName,\n  assistantEmoji,\n  activityUids: [m.activityUid],\n}}];"
                },
                "id": "76a795c3-3a26-429d-92af-918bc388d620",
                "name": "Build Recap Card",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    3968,
                    304
                ]
            },
            {
                "parameters": {
                    "jsCode": "// Simplified thread reply \u2014 read-only, no Create Task buttons\nconst data = $('Build Auto-Save Payload').first().json;\nconst recap = data.recap;\nconst m = data.meeting;\nconst sendResult = $('Send Recap').first().json;\nconst assistantName = data.assistantName || 'Aria';\nconst assistantEmoji = data.assistantEmoji || ':robot_face:';\n\nconst blocks = [];\n\n// Summary + sentiment\nconst sentLine = `${recap.sentimentEmoji} ${recap.sentimentSignal || recap.sentiment}`;\nblocks.push({\n  type: \"section\",\n  text: { type: \"mrkdwn\", text: `${sentLine}\\n\\n${recap.summary}` }\n});\n\nblocks.push({ type: \"divider\" });\n\n// Key Decisions\nif (recap.keyDecisions && recap.keyDecisions.length > 0) {\n  const decisionText = recap.keyDecisions.map(d => `\\u2022 ${d}`).join('\\n');\n  blocks.push({\n    type: \"section\",\n    text: { type: \"mrkdwn\", text: `*Key Decisions*\\n${decisionText}` }\n  });\n  blocks.push({ type: \"divider\" });\n}\n\n// Action Items \u2014 read-only list\nif (recap.tasks && recap.tasks.length > 0) {\n  blocks.push({\n    type: \"section\",\n    text: { type: \"mrkdwn\", text: \"*Action Items*\" }\n  });\n\n  for (const task of recap.tasks) {\n    const roleBadge = task.assignee_role ? ` (${task.assignee_role})` : '';\n    const durationBadge = task.duration_minutes ? ` \\u00b7 ${task.duration_minutes} min` : '';\n    const taskText = `\\u2022 ${task.description}` +\n      (task.owner ? ` \\u2014 _${task.owner}_` + roleBadge : '') +\n      durationBadge +\n      (task.due_hint ? ` \\u00b7 ${task.due_hint}` : '');\n    blocks.push({\n      type: \"section\",\n      text: { type: \"mrkdwn\", text: taskText }\n    });\n  }\n}\n\n// If nothing captured\nif ((!recap.keyDecisions || recap.keyDecisions.length === 0) &&\n    (!recap.tasks || recap.tasks.length === 0)) {\n  blocks.push({\n    type: \"section\",\n    text: { type: \"mrkdwn\", text: \"_No key decisions or action items were captured for this meeting._\" }\n  });\n}\n\n// Thread footer\nblocks.push({\n  type: \"context\",\n  elements: [\n    { type: \"mrkdwn\", text: \"Tasks and recap saved to CRM \\u00b7 Use PeopleGlass to review or modify \\u00b7 Reply in this thread to discuss\" }\n  ]\n});\n\nreturn [{ json: {\n  threadBlocks: JSON.stringify(blocks),\n  threadTs: sendResult.ts,\n  channelId: sendResult.channel,\n  assistantName,\n  assistantEmoji,\n}}];"
                },
                "id": "436bb9f2-c5c1-4a4c-8e83-0da99975244f",
                "name": "Build Recap Thread",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    4640,
                    304
                ]
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "https://slack.com/api/chat.postMessage",
                    "authentication": "genericCredentialType",
                    "genericAuthType": "httpHeaderAuth",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    },
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={{ JSON.stringify({ channel: $json.channelId, thread_ts: $json.threadTs, blocks: JSON.parse($json.threadBlocks), text: \"Meeting details\", username: $json.assistantName, icon_emoji: $json.assistantEmoji }) }}",
                    "options": {}
                },
                "id": "20d6accc-e904-44d1-aaf5-156ac1e205bc",
                "name": "Send Recap Thread",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    4864,
                    304
                ],
                "credentials": {
                    "httpHeaderAuth": {
                        "id": "LluVuiMJ8NUbAiG7",
                        "name": "Slackbot Auth Token"
                    }
                }
            },
            {
                "parameters": {
                    "jsCode": "// Build Workato payloads for auto-saving recap to CRM\nconst data = $('Parse Recap Output').first().json;\nconst recap = data.recap;\nconst m = data.meeting;\n\n// Build description from recap parts\nconst descParts = [];\nif (recap.summary) descParts.push('Summary: ' + recap.summary);\nif (recap.keyDecisions && recap.keyDecisions.length > 0) {\n  descParts.push('Key Decisions:\\n' + recap.keyDecisions.map(d => '- ' + d).join('\\n'));\n}\nif (recap.tasks && recap.tasks.length > 0) {\n  descParts.push('Action Items:\\n' + recap.tasks.map(t =>\n    '- ' + t.description + (t.owner ? ' (' + t.owner + ')' : '')\n  ).join('\\n'));\n}\nconst description = descParts.join('\\n\\n');\n\n// Activity payload for logging the meeting recap\nconst activityPayload = {\n  action: 'log_activity',\n  salesforce_object: 'Event',\n  fields: {\n    Subject: m.subject || 'Customer Meeting',\n    Description: description,\n    ActivityDate: m.dayStr || new Date().toISOString().split('T')[0],\n    meeting_category: recap.meetingCategory || null,\n    cs_category: recap.csCategory || null,\n  },\n  context: {\n    user_email: data.email || '',\n    account_name: m.accountName || '',\n    activity_uid: m.activityUid || '',\n    prepend_description: true,\n  }\n};\n\n// Parse due date hints into actual dates\nfunction parseDueDate(hint) {\n  if (!hint) return '';\n  const now = new Date();\n  const lower = hint.toLowerCase().trim();\n  if (lower === 'today') return now.toISOString().split('T')[0];\n  if (lower === 'tomorrow') {\n    const d = new Date(now); d.setDate(d.getDate() + 1);\n    return d.toISOString().split('T')[0];\n  }\n  if (lower === 'this week' || lower === 'end of week') {\n    const d = new Date(now);\n    const dayOfWeek = d.getDay();\n    d.setDate(d.getDate() + (5 - dayOfWeek));\n    return d.toISOString().split('T')[0];\n  }\n  if (lower === 'next week') {\n    const d = new Date(now);\n    d.setDate(d.getDate() + 7);\n    return d.toISOString().split('T')[0];\n  }\n  // Try parsing as a date string\n  const parsed = new Date(hint);\n  if (!isNaN(parsed.getTime())) return parsed.toISOString().split('T')[0];\n  // Default: 1 week from now\n  const d = new Date(now); d.setDate(d.getDate() + 7);\n  return d.toISOString().split('T')[0];\n}\n\n// Task payloads\nconst taskPayloads = (recap.tasks || []).map(t => ({\n  action: 'create_task',\n  salesforce_object: 'Task',\n  fields: {\n    Subject: t.description || 'Follow-up task',\n    Description: 'From meeting: ' + (m.subject || '') + ' with ' + (m.accountName || '') +\n      (t.due_hint ? '\\nDue: ' + t.due_hint : ''),\n    ActivityDate: parseDueDate(t.due_hint),\n    Status: 'Not Started',\n    Priority: 'Normal',\n    TaskDuration: t.duration_minutes || 30,\n    Category: t.task_category || '',\n  },\n  context: {\n    user_email: data.email || '',\n    account_name: m.accountName || '',\n    meeting_subject: m.subject || '',\n    assignee_name: t.owner || '',\n    assignee_email: t.owner_email || '',\n    assignee_role: t.assignee_role || '',\n  }\n}));\n\nreturn [{ json: {\n  ...data,\n  activityPayload,\n  taskPayloads,\n  taskCount: taskPayloads.length,\n}}];"
                },
                "id": "a12def0c-378d-4524-8835-426755f10bb0",
                "name": "Build Auto-Save Payload",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    3520,
                    444
                ]
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "https://webhooks.workato.com/webhooks/rest/cfff4d3a-6f27-4ba4-9754-ac22c759ecaa/assistant_sf_write",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    },
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={{ JSON.stringify($json.activityPayload) }}",
                    "options": {
                        "timeout": 15000
                    }
                },
                "id": "5f4c7963-b1d3-4f51-a935-6017d20f3b8e",
                "name": "Send Recap to CRM",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    3744,
                    304
                ],
                "continueOnFail": true
            },
            {
                "parameters": {
                    "jsCode": "// Fan out task payloads for batch sending to Workato\nconst data = $('Build Auto-Save Payload').first().json;\nconst taskPayloads = data.taskPayloads || [];\n\nif (taskPayloads.length === 0) {\n  return [];  // no tasks extracted\n}\n\nreturn taskPayloads.map(p => ({ json: { webhook_payload: p } }));"
                },
                "id": "8df03c15-37b3-48b4-b893-fd3fba86925c",
                "name": "Prepare Task Payloads",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    3744,
                    496
                ],
                "continueOnFail": true
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "https://webhooks.workato.com/webhooks/rest/cfff4d3a-6f27-4ba4-9754-ac22c759ecaa/assistant_sf_write",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    },
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={{ JSON.stringify($json.webhook_payload) }}",
                    "options": {
                        "timeout": 15000
                    }
                },
                "id": "f44a5a2d-dc70-4dcd-863e-c8afa1a5c65c",
                "name": "Send Tasks to CRM",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    3968,
                    496
                ],
                "continueOnFail": true
            },
            {
                "parameters": {
                    "jsCode": "const data = $('Parse Recap Output').first().json;\nconst m = data.meeting || {};\nconst requestId = 'res_' + Date.now() + '_' + Math.random().toString(36).substr(2, 9);\n\nreturn [{ json: {\n  ...data,\n  resolutionRequestId: requestId,\n  resolutionPayload: {\n    action: 'get_tasks_resolution',\n    account_name: m.accountName || '',\n    user_email: data.email || '',\n    callback_url: 'https://scottai.trackslife.com/webhook/task-resolution-callback',\n    request_id: requestId,\n  },\n  resolutionContext: {\n    channel_id: $('Open Bot DM').first().json.channel.id || '',\n    assistant_name: data.assistantName || 'Aria',\n    assistant_emoji: data.assistantEmoji || ':robot_face:',\n    mode: 'recap',\n    account_name: m.accountName || '',\n  }\n}}];"
                },
                "id": "ec008430-8056-4b7e-aaab-983d488524ef",
                "name": "Fire Task Resolution",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    3744,
                    688
                ],
                "continueOnFail": true
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "https://rhrlnkbphxntxxxcrgvv.supabase.co/rest/v1/pending_actions",
                    "authentication": "predefinedCredentialType",
                    "nodeCredentialType": "supabaseApi",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            },
                            {
                                "name": "Prefer",
                                "value": "return=representation"
                            }
                        ]
                    },
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={{ JSON.stringify({ opportunity_id: $json.resolutionRequestId, action_type: 'resolution_request', draft_content: '{}', context: JSON.stringify($json.resolutionContext), status: 'pending' }) }}",
                    "options": {}
                },
                "id": "8addaf8b-1e09-4b77-a861-77fd8f17ef60",
                "name": "Store Resolution Request",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    3968,
                    688
                ],
                "credentials": {
                    "supabaseApi": {
                        "id": "ASRWWkQ0RSMOpNF1",
                        "name": "Supabase account"
                    }
                },
                "continueOnFail": true
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "https://webhooks.workato.com/webhooks/rest/cfff4d3a-6f27-4ba4-9754-ac22c759ecaa/assistant_sf_read",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    },
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={{ JSON.stringify($json.resolutionPayload) }}",
                    "options": {
                        "timeout": 15000
                    }
                },
                "id": "701241ef-d619-4d3e-9e94-8d8c8bd6f003",
                "name": "Send Resolution to Workato",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    4192,
                    688
                ],
                "continueOnFail": true
            },
            {
                "parameters": {
                    "url": "https://rhrlnkbphxntxxxcrgvv.supabase.co/rest/v1/users?onboarding_state=eq.complete&select=id,email,slack_user_id,assistant_name,assistant_emoji,digest_scope",
                    "authentication": "predefinedCredentialType",
                    "nodeCredentialType": "supabaseApi",
                    "options": {}
                },
                "id": "5b6fe365-be01-4d4f-a38d-444ca11a957a",
                "name": "Get Resolution Users",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    480,
                    928
                ],
                "credentials": {
                    "supabaseApi": {
                        "id": "ASRWWkQ0RSMOpNF1",
                        "name": "Supabase account"
                    }
                }
            },
            {
                "parameters": {
                    "options": {}
                },
                "id": "3ad78e5f-3a08-4046-8f06-853a95a532ea",
                "name": "Loop Resolution Users",
                "type": "n8n-nodes-base.splitInBatches",
                "typeVersion": 3,
                "position": [
                    704,
                    928
                ]
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "https://slack.com/api/conversations.open",
                    "authentication": "genericCredentialType",
                    "genericAuthType": "httpHeaderAuth",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    },
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={{ JSON.stringify({ users: $json.slack_user_id }) }}",
                    "options": {}
                },
                "id": "de03076b-d287-4ded-96f1-b592b7aa5dd7",
                "name": "Open DM (Resolution)",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    928,
                    856
                ],
                "credentials": {
                    "httpHeaderAuth": {
                        "id": "LluVuiMJ8NUbAiG7",
                        "name": "Slackbot Auth Token"
                    }
                }
            },
            {
                "parameters": {
                    "jsCode": "const user = $('Loop Resolution Users').first().json;\nconst dm = $json.channel?.id || $json.channel || '';\nconst requestId = 'sched_' + Date.now() + '_' + Math.random().toString(36).substr(2, 9);\n\nreturn [{ json: {\n  resolutionPayload: {\n    action: 'get_tasks_resolution',\n    account_name: '',\n    user_email: user.email || '',\n    callback_url: 'https://scottai.trackslife.com/webhook/task-resolution-callback',\n    request_id: requestId,\n  },\n  resolutionContext: {\n    channelId: dm,\n    assistantName: user.assistant_name || 'Aria',\n    assistantEmoji: user.assistant_emoji || ':robot_face:',\n    mode: 'scheduled',\n  },\n  requestId,\n}}];"
                },
                "id": "46bea775-1cb6-405c-945f-cca14b2e6d45",
                "name": "Build Scheduled Resolution",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    1152,
                    856
                ]
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "https://rhrlnkbphxntxxxcrgvv.supabase.co/rest/v1/pending_actions",
                    "authentication": "predefinedCredentialType",
                    "nodeCredentialType": "supabaseApi",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            },
                            {
                                "name": "Prefer",
                                "value": "return=representation"
                            }
                        ]
                    },
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={{ JSON.stringify({ opportunity_id: $json.requestId, action_type: 'resolution_request', draft_content: '{}', context: JSON.stringify($json.resolutionContext), status: 'pending' }) }}",
                    "options": {}
                },
                "id": "46df65ea-f868-4c3f-bb98-65b6b3328122",
                "name": "Store Scheduled Request",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    1376,
                    856
                ],
                "credentials": {
                    "supabaseApi": {
                        "id": "ASRWWkQ0RSMOpNF1",
                        "name": "Supabase account"
                    }
                }
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "https://webhooks.workato.com/webhooks/rest/cfff4d3a-6f27-4ba4-9754-ac22c759ecaa/assistant_sf_read",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    },
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={{ JSON.stringify($json.resolutionPayload) }}",
                    "options": {
                        "timeout": 15000
                    }
                },
                "id": "f4423ea9-304b-48f5-8ae1-655be7119c70",
                "name": "Send Scheduled Resolution",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    1600,
                    928
                ],
                "continueOnFail": true
            }
        ],
        "connections": {
            "Get Auth Token": {
                "main": [
                    [
                        {
                            "node": "Build Query",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Build Query": {
                "main": [
                    [
                        {
                            "node": "Fetch Today Meetings",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Fetch Today Meetings": {
                "main": [
                    [
                        {
                            "node": "Parse Meetings",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Parse Meetings": {
                "main": [
                    [
                        {
                            "node": "Get Followup Users",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Get Followup Users": {
                "main": [
                    [
                        {
                            "node": "Compute Dedup Window",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Check Sent Followups": {
                "main": [
                    [
                        {
                            "node": "Match Users to Ended Meetings",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Match Users to Ended Meetings": {
                "main": [
                    [
                        {
                            "node": "Has Matches?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Has Matches?": {
                "main": [
                    [
                        {
                            "node": "Split In Batches",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    []
                ]
            },
            "Split In Batches": {
                "main": [
                    [],
                    [
                        {
                            "node": "Build Recap Context",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Open Bot DM": {
                "main": [
                    [
                        {
                            "node": "Send Recap",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Prepare Log Data": {
                "main": [
                    [
                        {
                            "node": "Log Follow-up Prompt",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Log Follow-up Prompt": {
                "main": [
                    [
                        {
                            "node": "Split In Batches",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Compute Dedup Window": {
                "main": [
                    [
                        {
                            "node": "Check Sent Followups",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Followup Check (9am + 4pm PT)": {
                "main": [
                    [
                        {
                            "node": "Get Auth Token",
                            "type": "main",
                            "index": 0
                        },
                        {
                            "node": "Get Resolution Users",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Anthropic Chat Model (Recap)": {
                "ai_languageModel": [
                    [
                        {
                            "node": "Recap Agent",
                            "type": "ai_languageModel",
                            "index": 0
                        }
                    ]
                ]
            },
            "People.ai MCP (Recap)": {
                "ai_tool": [
                    [
                        {
                            "node": "Recap Agent",
                            "type": "ai_tool",
                            "index": 0
                        }
                    ]
                ]
            },
            "Build Recap Context": {
                "main": [
                    [
                        {
                            "node": "Recap Agent",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Recap Agent": {
                "main": [
                    [
                        {
                            "node": "Parse Recap Output",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Parse Recap Output": {
                "main": [
                    [
                        {
                            "node": "Build Auto-Save Payload",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Send Recap": {
                "main": [
                    [
                        {
                            "node": "Build Recap Thread",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Build Recap Card": {
                "main": [
                    [
                        {
                            "node": "Open Bot DM",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Build Recap Thread": {
                "main": [
                    [
                        {
                            "node": "Send Recap Thread",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Send Recap Thread": {
                "main": [
                    [
                        {
                            "node": "Prepare Log Data",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Build Auto-Save Payload": {
                "main": [
                    [
                        {
                            "node": "Send Recap to CRM",
                            "type": "main",
                            "index": 0
                        },
                        {
                            "node": "Prepare Task Payloads",
                            "type": "main",
                            "index": 0
                        },
                        {
                            "node": "Fire Task Resolution",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Send Recap to CRM": {
                "main": [
                    [
                        {
                            "node": "Build Recap Card",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Prepare Task Payloads": {
                "main": [
                    [
                        {
                            "node": "Send Tasks to CRM",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Send Tasks to CRM": {
                "main": [
                    []
                ]
            },
            "Fire Task Resolution": {
                "main": [
                    [
                        {
                            "node": "Store Resolution Request",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Store Resolution Request": {
                "main": [
                    [
                        {
                            "node": "Send Resolution to Workato",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Send Resolution to Workato": {
                "main": [
                    []
                ]
            },
            "Get Resolution Users": {
                "main": [
                    [
                        {
                            "node": "Loop Resolution Users",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Loop Resolution Users": {
                "main": [
                    [],
                    [
                        {
                            "node": "Open DM (Resolution)",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Open DM (Resolution)": {
                "main": [
                    [
                        {
                            "node": "Build Scheduled Resolution",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Build Scheduled Resolution": {
                "main": [
                    [
                        {
                            "node": "Store Scheduled Request",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Store Scheduled Request": {
                "main": [
                    [
                        {
                            "node": "Send Scheduled Resolution",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Send Scheduled Resolution": {
                "main": [
                    [
                        {
                            "node": "Loop Resolution Users",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "authors": "Scott Metcalf",
        "name": null,
        "description": null,
        "autosaved": false,
        "workflowPublishHistory": [
            {
                "createdAt": "2026-04-08T15:32:05.971Z",
                "id": 2052,
                "workflowId": "JhDuCvZdFN4PFTOW",
                "versionId": "50397a69-6891-43d4-baa3-95b87638c77a",
                "event": "activated",
                "userId": "bfa163c1-bd53-4c0f-b0ba-8dc3626f7c79"
            },
            {
                "createdAt": "2026-04-08T15:32:05.936Z",
                "id": 2051,
                "workflowId": "JhDuCvZdFN4PFTOW",
                "versionId": "50397a69-6891-43d4-baa3-95b87638c77a",
                "event": "deactivated",
                "userId": "bfa163c1-bd53-4c0f-b0ba-8dc3626f7c79"
            }
        ]
    }
}