n8n/workflows/Meeting Prep Cron.json
{
    "updatedAt": "2026-03-24T21:35:54.317Z",
    "createdAt": "2026-02-25T01:41:12.299Z",
    "id": "Of1U4T6x07aVqBYD",
    "name": "Meeting Prep Cron",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "45 5-16 * * 1-5"
                        }
                    ]
                }
            },
            "id": "73a0b695-acca-4d40-bfdd-9f59fcabffbb",
            "name": "Hourly at :45",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                208,
                432
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.people.ai/v3/auth/tokens",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/x-www-form-urlencoded"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "string",
                "body": "client_id=YOUR_CLIENT_ID&client_secret=YOUR_CLIENT_SECRET&grant_type=client_credentials",
                "options": {}
            },
            "id": "b9f7e24c-f139-4438-a81f-1471564eee7a",
            "name": "Get Auth Token",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                432,
                432
            ]
        },
        {
            "parameters": {
                "jsCode": "// Build People.ai activity export query for upcoming external meetings\n// NOTE: Do NOT include ootb_activity_participants_title \u2014 it causes the API\n// to abort the stream when combined with 48h of org-wide meetings.\nconst tz = 'America/Los_Angeles';\nconst now = new Date();\n\nconst windowStart = now.getTime();\n\n// End of tomorrow (48h buffer)\nconst todayStr = now.toLocaleDateString('en-US', { timeZone: tz });\nconst parts = todayStr.split('/');\nconst todayMidnight = new Date(parts[2] + '-' + parts[0].padStart(2, '0') + '-' + parts[1].padStart(2, '0') + 'T00:00:00-08:00');\nconst tomorrowEnd = new Date(todayMidnight.getTime() + 48 * 3600000);\n\nconst query = {\n  object: \"activity\",\n  filter: {\n    \"$and\": [\n      { attribute: { slug: \"ootb_activity_type\" }, clause: { \"$eq\": \"meeting\" } },\n      { attribute: { slug: \"ootb_activity_external\" }, clause: { \"$eq\": true } },\n      { attribute: { slug: \"ootb_activity_timestamp\" }, clause: { \"$gte\": windowStart } },\n      { attribute: { slug: \"ootb_activity_timestamp\" }, clause: { \"$lte\": tomorrowEnd.getTime() } }\n    ]\n  },\n  columns: [\n    { slug: \"ootb_activity_uid\" },\n    { slug: \"ootb_activity_timestamp\" },\n    { slug: \"ootb_activity_subject\" },\n    { slug: \"ootb_activity_participants\", variation_id: \"ootb_activity_participants_email\" },\n    { slug: \"ootb_activity_participants\", variation_id: \"ootb_activity_participants_name\" },\n    { slug: \"ootb_activity_participants\", variation_id: \"ootb_activity_participants_external\" },\n    { slug: \"ootb_activity_account\" },\n    { slug: \"ootb_activity_opportunity\" }\n  ],\n  sort: [\n    { attribute: { slug: \"ootb_activity_timestamp\" }, direction: \"asc\" }\n  ]\n};\n\nreturn [{ json: { query: JSON.stringify(query) } }];\n"
            },
            "id": "caae56da-d91f-40e0-9605-255bb2066ff1",
            "name": "Build Query",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                656,
                432
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.people.ai/v3/beta/insights/export",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $('Get Auth Token').first().json.access_token }}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ $('Build Query').first().json.query }}",
                "options": {
                    "timeout": 30000
                }
            },
            "id": "b3c830b3-c642-4cb8-a336-3f93c3e2ae5c",
            "name": "Fetch Today Meetings",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                880,
                432
            ]
        },
        {
            "parameters": {
                "jsCode": "// Parse CSV from People.ai activity export\n// Headers include: Activity, Activity date, Subject,\n// Activity Participants (Email), Activity Participants (Name),\n// Activity Participants (External), Account (id), Account (name), etc.\nconst raw = $('Fetch Today Meetings').first().json;\n\nconst csvData = typeof raw === 'string' ? raw : (raw.data || raw.body || '');\n\nif (!csvData || typeof csvData !== 'string') {\n  return [{ json: { meetings: [], meetingCount: 0, error: 'No CSV data' } }];\n}\n\nconst lines = csvData.split(/\\r?\\n/).filter(l => l.trim());\nif (lines.length < 2) {\n  return [{ json: { meetings: [], meetingCount: 0 } }];\n}\n\nfunction parseCsvLine(line) {\n  const result = [];\n  let current = '';\n  let inQuotes = false;\n  let inBrackets = 0;\n  for (let i = 0; i < line.length; i++) {\n    const ch = line[i];\n    if (ch === '[') inBrackets++;\n    else if (ch === ']') inBrackets--;\n\n    if (ch === '\"') {\n      if (inQuotes && i + 1 < line.length && line[i + 1] === '\"') {\n        current += '\"';\n        i++;\n      } else {\n        inQuotes = !inQuotes;\n      }\n    } else if (ch === ',' && !inQuotes && inBrackets === 0) {\n      result.push(current.trim());\n      current = '';\n    } else {\n      current += ch;\n    }\n  }\n  result.push(current.trim());\n  return result;\n}\n\n// Parse bracket-delimited list: \"[a;b;c]\" \u2192 [\"a\", \"b\", \"c\"]\nfunction parseList(val) {\n  if (!val) return [];\n  const trimmed = val.replace(/^\\[/, '').replace(/\\]$/, '').trim();\n  if (!trimmed) return [];\n  return trimmed.split(';').map(s => s.trim());\n}\n\nconst headers = parseCsvLine(lines[0]);\nconst headerMap = {};\nheaders.forEach((h, i) => { headerMap[h.toLowerCase()] = i; });\n\nfunction getField(row, ...names) {\n  for (const name of names) {\n    const idx = headerMap[name.toLowerCase()];\n    if (idx !== undefined && row[idx]) {\n      return row[idx];\n    }\n  }\n  return '';\n}\n\nconst meetings = [];\nfor (let i = 1; i < lines.length; i++) {\n  const row = parseCsvLine(lines[i]);\n  if (row.length < 2) continue;\n\n  const activityUid = getField(row, 'Activity', 'ootb_activity_uid');\n  const timestampStr = getField(row, 'Activity date', 'ootb_activity_timestamp');\n  const subject = getField(row, 'Subject', 'ootb_activity_subject');\n  const accountName = getField(row, 'Account (name)', 'Account', 'ootb_activity_account');\n  const accountId = getField(row, 'Account (id)');\n  const oppName = getField(row, 'Opportunity (name)', 'Opportunity', 'ootb_activity_opportunity');\n  const oppId = getField(row, 'Opportunity (id)');\n\n  // Parse participant data\n  const emails = parseList(getField(row, 'Activity Participants (Email)'));\n  const names = parseList(getField(row, 'Activity Participants (Name)'));\n  const externals = parseList(getField(row, 'Activity Participants (External)'));\n  const titles = parseList(getField(row, 'Activity Participants (Title)', 'ootb_activity_participants_title'));\n\n  // Build internal participant email list\n  const internalEmails = [];\n  for (let p = 0; p < emails.length; p++) {\n    const isExternal = (externals[p] || '').toLowerCase() === 'true';\n    if (!isExternal && emails[p]) {\n      internalEmails.push(emails[p].toLowerCase());\n    }\n  }\n\n  // Parse ISO timestamp to epoch ms\n  let timestampMs = 0;\n  if (timestampStr) {\n    const parsed = new Date(timestampStr);\n    if (!isNaN(parsed.getTime())) {\n      timestampMs = parsed.getTime();\n    }\n  }\n\n  if (!activityUid) continue;\n\n  meetings.push({\n    activityUid,\n    timestampMs,\n    timestampStr,\n    subject: subject || 'Customer Meeting',\n    accountName: accountName || '',\n    accountId,\n    oppName: oppName || '',\n    oppId,\n    internalEmails,\n    participantEmails: emails,\n    participantNames: names,\n    participantTitles: titles,\n    participantExternals: externals,\n    participantCount: emails.length,\n    internalCount: internalEmails.length,\n    externalCount: emails.length - internalEmails.length\n  });\n}\n\nreturn [{ json: { meetings, meetingCount: meetings.length } }];\n"
            },
            "id": "e90fea2c-ad4a-4024-803d-07b2336a8ed9",
            "name": "Parse Meetings",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1104,
                432
            ]
        },
        {
            "parameters": {
                "operation": "getAll",
                "tableId": "users",
                "returnAll": true
            },
            "id": "09b7d5d6-4ed5-472e-b746-5255e67efa02",
            "name": "Get Prep Users",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1328,
                432
            ],
            "alwaysOutputData": true,
            "credentials": {
                "supabaseApi": {
                    "id": "ASRWWkQ0RSMOpNF1",
                    "name": "Supabase account"
                }
            },
            "continueOnFail": true,
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "operation": "getAll",
                "tableId": "messages",
                "returnAll": true,
                "filters": {
                    "conditions": [
                        {
                            "keyName": "message_type",
                            "condition": "eq",
                            "keyValue": "meeting_prep"
                        }
                    ]
                }
            },
            "id": "9cf997b6-22f9-4625-9b74-d54ee1963fb9",
            "name": "Check Sent Briefs",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1760,
                432
            ],
            "alwaysOutputData": true,
            "credentials": {
                "supabaseApi": {
                    "id": "ASRWWkQ0RSMOpNF1",
                    "name": "Supabase account"
                }
            },
            "continueOnFail": true,
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "jsCode": "// Match meetings to users based on PARTICIPANT EMAIL\n// Only users who are internal participants of a meeting get the brief for that meeting\nconst meetingsData = $('Parse Meetings').first().json;\nconst meetings = meetingsData.meetings || [];\nconst users = $('Filter Prep Users').all().map(item => item.json);\nconst sentBriefs = $('Check Sent Briefs').all().map(item => item.json);\n\n// Build dedup set: \"userId:activityUid\"\nconst sentKeys = new Set();\nfor (const brief of sentBriefs) {\n  let meta = brief.metadata || {};\n  if (typeof meta === 'string') {\n    try { meta = JSON.parse(meta); } catch(e) { meta = {}; }\n  }\n  if (meta.activity_uid && brief.user_id) {\n    sentKeys.add(brief.user_id + ':' + meta.activity_uid);\n  }\n}\n\n// Build email \u2192 user lookup\nconst emailToUser = {};\nfor (const user of users) {\n  const email = (user.email || '').toLowerCase();\n  if (email) emailToUser[email] = user;\n}\n\nconst now = Date.now();\nconst results = [];\n\nfor (const meeting of meetings) {\n  if (!meeting.accountName) continue;\n\n  const timeUntil = meeting.timestampMs - now;\n  // Default: 2hr prep window, 15min too-late cutoff\n  const tooLateMs = 15 * 60 * 1000;\n\n  // For each internal participant email, check if they're in our users table\n  for (const email of (meeting.internalEmails || [])) {\n    const user = emailToUser[email];\n    if (!user) continue; // Not in our system\n\n    const prepMinutes = user.meeting_prep_minutes_before || 120;\n    const prepWindowMs = prepMinutes * 60 * 1000;\n    if (timeUntil < tooLateMs || timeUntil > prepWindowMs) continue;\n\n    const dedupKey = user.id + ':' + meeting.activityUid;\n    if (sentKeys.has(dedupKey)) continue;\n\n    const repName = email.split('@')[0]\n      .replace(/\\./g, ' ')\n      .replace(/\\b\\w/g, c => c.toUpperCase());\n\n    results.push({\n      userId: user.id,\n      slackUserId: user.slack_user_id,\n      email: user.email,\n      assistant_name: user.assistant_name,\n      assistant_emoji: user.assistant_emoji,\n      assistant_persona: user.assistant_persona,\n      timezone: user.timezone || 'America/Los_Angeles',\n      repName,\n      accountName: meeting.accountName,\n      meetingSubject: meeting.subject,\n      meetingTime: String(meeting.timestampMs),\n      participants: (() => {\n        // Build participant string with Slack @mentions for internal users\n        const parts = [];\n        const pEmails = meeting.participantEmails || [];\n        const pNames = meeting.participantNames || [];\n        const pExternals = meeting.participantExternals || [];\n        const pTitles = meeting.participantTitles || [];\n        for (let p = 0; p < pEmails.length; p++) {\n          const isExternal = (pExternals[p] || '').toLowerCase() === 'true';\n          const pName = pNames[p] || pEmails[p];\n          const pTitle = pTitles[p] || '';\n          const titleSuffix = pTitle ? ' \u2014 ' + pTitle : '';\n          if (isExternal) {\n            parts.push(pName + titleSuffix + ' (external)');\n          } else {\n            // Look up Slack ID for internal user\n            const pUser = emailToUser[(pEmails[p] || '').toLowerCase()];\n            if (pUser && pUser.slack_user_id) {\n              const userTitle = pUser.division || pTitle || '';\n              const uTitleSuffix = userTitle ? ' \u2014 ' + userTitle : '';\n              parts.push('<@' + pUser.slack_user_id + '>' + uTitleSuffix + ' :backstory:');\n            } else {\n              parts.push(pName + titleSuffix + ' :backstory:');\n            }\n          }\n        }\n        return parts.join('; ');\n      })(),\n      opportunityName: meeting.oppName || '',\n      opportunityStage: '',\n      opportunityAmount: '',\n      opportunityCloseDate: '',\n      opportunityEngagement: '',\n      activityUid: meeting.activityUid\n    });\n  }\n}\n\nif (results.length === 0) {\n  return [{ json: { matches: [], matchCount: 0, noMatches: true } }];\n}\n\n// Sort by meeting time (nearest first)\nresults.sort((a, b) => parseInt(a.meetingTime) - parseInt(b.meetingTime));\nreturn results.map(r => ({ json: r }));\n"
            },
            "id": "2bad3f63-7d4c-497f-9a80-3926946bbb4e",
            "name": "Match Users to Meetings",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1984,
                432
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "loose",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "dbccfc98-fde5-4090-8f70-12ebbcfe354a",
                            "leftValue": "={{ $json.userId }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "exists",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "810c14cb-378b-4374-8ddf-1a097a773df1",
            "name": "Has Matches?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                2208,
                432
            ]
        },
        {
            "parameters": {
                "options": {
                    "maxItems": 5
                }
            },
            "id": "252837c9-1e3e-4eb8-b9a9-e4565693889d",
            "name": "Split In Batches",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                2432,
                432
            ]
        },
        {
            "parameters": {
                "workflowId": {
                    "__rl": true,
                    "mode": "id",
                    "value": "Cj4HcHfbzy9OZhwE"
                },
                "options": {}
            },
            "id": "7a006dbe-3621-4246-a90f-a0dbfb15a4a4",
            "name": "Execute Meeting Brief",
            "type": "n8n-nodes-base.executeWorkflow",
            "typeVersion": 1.2,
            "position": [
                2656,
                352
            ]
        },
        {
            "parameters": {
                "jsCode": "// Log sent meeting brief to messages table for dedup\nconst input = $('Split In Batches').first().json;\nreturn [{\n  json: {\n    user_id: input.userId,\n    message_type: 'meeting_prep',\n    channel: 'slack',\n    direction: 'outbound',\n    content: 'Meeting brief for ' + (input.accountName || 'unknown account'),\n    metadata: JSON.stringify({\n      activity_uid: input.activityUid,\n      account_name: input.accountName,\n      meeting_subject: input.meetingSubject\n    }),\n    sent_at: new Date().toISOString()\n  }\n}];\n"
            },
            "id": "7c3c9091-af27-46e7-ae2c-d5d16096f525",
            "name": "Log Meeting Brief",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2880,
                352
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://rhrlnkbphxntxxxcrgvv.supabase.co/rest/v1/messages",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "supabaseApi",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Prefer",
                            "value": "return=representation"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify($json) }}",
                "options": {}
            },
            "id": "5f05fca1-a92d-435d-bd17-24a59b8510e7",
            "name": "Save to Messages",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                3104,
                432
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "ASRWWkQ0RSMOpNF1",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Filter to prep-enabled users with complete onboarding\nconst users = $input.all().map(item => item.json);\nconst filtered = users.filter(u => \n  u.onboarding_state === 'complete' && \n  u.meeting_prep_enabled !== false\n);\nif (filtered.length === 0) {\n  return [{ json: { noUsers: true } }];\n}\nreturn filtered.map(u => ({ json: u }));\n"
            },
            "id": "0386246e-7001-4fe0-97b5-726b81e3efb9",
            "name": "Filter Prep Users",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1536,
                432
            ]
        }
    ],
    "connections": {
        "Get Auth Token": {
            "main": [
                [
                    {
                        "node": "Build Query",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Query": {
            "main": [
                [
                    {
                        "node": "Fetch Today Meetings",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Today Meetings": {
            "main": [
                [
                    {
                        "node": "Parse Meetings",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Meetings": {
            "main": [
                [
                    {
                        "node": "Get Prep Users",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Prep Users": {
            "main": [
                [
                    {
                        "node": "Filter Prep Users",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Sent Briefs": {
            "main": [
                [
                    {
                        "node": "Match Users to Meetings",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Match Users to Meetings": {
            "main": [
                [
                    {
                        "node": "Has Matches?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Matches?": {
            "main": [
                [
                    {
                        "node": "Split In Batches",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Split In Batches": {
            "main": [
                [],
                [
                    {
                        "node": "Execute Meeting Brief",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Execute Meeting Brief": {
            "main": [
                [
                    {
                        "node": "Log Meeting Brief",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log Meeting Brief": {
            "main": [
                [
                    {
                        "node": "Save to Messages",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save to Messages": {
            "main": [
                [
                    {
                        "node": "Split In Batches",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter Prep Users": {
            "main": [
                [
                    {
                        "node": "Check Sent Briefs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Hourly at :45": {
            "main": [
                [
                    {
                        "node": "Get Auth Token",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false
    },
    "staticData": {
        "node:Every 15 Minutes": {
            "recurrenceRules": []
        },
        "node:Every 30 Min (:15/:45)": {
            "recurrenceRules": []
        },
        "node:Hourly at :45": {
            "recurrenceRules": []
        }
    },
    "meta": null,
    "pinData": {},
    "versionId": "179a0863-2767-40c4-86e1-c23a7cc8df49",
    "activeVersionId": "179a0863-2767-40c4-86e1-c23a7cc8df49",
    "versionCounter": 94,
    "triggerCount": 1,
    "tags": [],
    "activeVersion": {
        "updatedAt": "2026-03-24T21:35:54.318Z",
        "createdAt": "2026-03-24T21:35:54.318Z",
        "versionId": "179a0863-2767-40c4-86e1-c23a7cc8df49",
        "workflowId": "Of1U4T6x07aVqBYD",
        "nodes": [
            {
                "parameters": {
                    "rule": {
                        "interval": [
                            {
                                "field": "cronExpression",
                                "expression": "45 5-16 * * 1-5"
                            }
                        ]
                    }
                },
                "id": "73a0b695-acca-4d40-bfdd-9f59fcabffbb",
                "name": "Hourly at :45",
                "type": "n8n-nodes-base.scheduleTrigger",
                "typeVersion": 1.2,
                "position": [
                    208,
                    432
                ]
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "https://api.people.ai/v3/auth/tokens",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Content-Type",
                                "value": "application/x-www-form-urlencoded"
                            }
                        ]
                    },
                    "sendBody": true,
                    "specifyBody": "string",
                    "body": "client_id=YOUR_CLIENT_ID&client_secret=YOUR_CLIENT_SECRET&grant_type=client_credentials",
                    "options": {}
                },
                "id": "b9f7e24c-f139-4438-a81f-1471564eee7a",
                "name": "Get Auth Token",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    432,
                    432
                ]
            },
            {
                "parameters": {
                    "jsCode": "// Build People.ai activity export query for upcoming external meetings\n// NOTE: Do NOT include ootb_activity_participants_title \u2014 it causes the API\n// to abort the stream when combined with 48h of org-wide meetings.\nconst tz = 'America/Los_Angeles';\nconst now = new Date();\n\nconst windowStart = now.getTime();\n\n// End of tomorrow (48h buffer)\nconst todayStr = now.toLocaleDateString('en-US', { timeZone: tz });\nconst parts = todayStr.split('/');\nconst todayMidnight = new Date(parts[2] + '-' + parts[0].padStart(2, '0') + '-' + parts[1].padStart(2, '0') + 'T00:00:00-08:00');\nconst tomorrowEnd = new Date(todayMidnight.getTime() + 48 * 3600000);\n\nconst query = {\n  object: \"activity\",\n  filter: {\n    \"$and\": [\n      { attribute: { slug: \"ootb_activity_type\" }, clause: { \"$eq\": \"meeting\" } },\n      { attribute: { slug: \"ootb_activity_external\" }, clause: { \"$eq\": true } },\n      { attribute: { slug: \"ootb_activity_timestamp\" }, clause: { \"$gte\": windowStart } },\n      { attribute: { slug: \"ootb_activity_timestamp\" }, clause: { \"$lte\": tomorrowEnd.getTime() } }\n    ]\n  },\n  columns: [\n    { slug: \"ootb_activity_uid\" },\n    { slug: \"ootb_activity_timestamp\" },\n    { slug: \"ootb_activity_subject\" },\n    { slug: \"ootb_activity_participants\", variation_id: \"ootb_activity_participants_email\" },\n    { slug: \"ootb_activity_participants\", variation_id: \"ootb_activity_participants_name\" },\n    { slug: \"ootb_activity_participants\", variation_id: \"ootb_activity_participants_external\" },\n    { slug: \"ootb_activity_account\" },\n    { slug: \"ootb_activity_opportunity\" }\n  ],\n  sort: [\n    { attribute: { slug: \"ootb_activity_timestamp\" }, direction: \"asc\" }\n  ]\n};\n\nreturn [{ json: { query: JSON.stringify(query) } }];\n"
                },
                "id": "caae56da-d91f-40e0-9605-255bb2066ff1",
                "name": "Build Query",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    656,
                    432
                ]
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "https://api.people.ai/v3/beta/insights/export",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            },
                            {
                                "name": "Authorization",
                                "value": "=Bearer {{ $('Get Auth Token').first().json.access_token }}"
                            }
                        ]
                    },
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={{ $('Build Query').first().json.query }}",
                    "options": {
                        "timeout": 30000
                    }
                },
                "id": "b3c830b3-c642-4cb8-a336-3f93c3e2ae5c",
                "name": "Fetch Today Meetings",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    880,
                    432
                ]
            },
            {
                "parameters": {
                    "jsCode": "// Parse CSV from People.ai activity export\n// Headers include: Activity, Activity date, Subject,\n// Activity Participants (Email), Activity Participants (Name),\n// Activity Participants (External), Account (id), Account (name), etc.\nconst raw = $('Fetch Today Meetings').first().json;\n\nconst csvData = typeof raw === 'string' ? raw : (raw.data || raw.body || '');\n\nif (!csvData || typeof csvData !== 'string') {\n  return [{ json: { meetings: [], meetingCount: 0, error: 'No CSV data' } }];\n}\n\nconst lines = csvData.split(/\\r?\\n/).filter(l => l.trim());\nif (lines.length < 2) {\n  return [{ json: { meetings: [], meetingCount: 0 } }];\n}\n\nfunction parseCsvLine(line) {\n  const result = [];\n  let current = '';\n  let inQuotes = false;\n  let inBrackets = 0;\n  for (let i = 0; i < line.length; i++) {\n    const ch = line[i];\n    if (ch === '[') inBrackets++;\n    else if (ch === ']') inBrackets--;\n\n    if (ch === '\"') {\n      if (inQuotes && i + 1 < line.length && line[i + 1] === '\"') {\n        current += '\"';\n        i++;\n      } else {\n        inQuotes = !inQuotes;\n      }\n    } else if (ch === ',' && !inQuotes && inBrackets === 0) {\n      result.push(current.trim());\n      current = '';\n    } else {\n      current += ch;\n    }\n  }\n  result.push(current.trim());\n  return result;\n}\n\n// Parse bracket-delimited list: \"[a;b;c]\" \u2192 [\"a\", \"b\", \"c\"]\nfunction parseList(val) {\n  if (!val) return [];\n  const trimmed = val.replace(/^\\[/, '').replace(/\\]$/, '').trim();\n  if (!trimmed) return [];\n  return trimmed.split(';').map(s => s.trim());\n}\n\nconst headers = parseCsvLine(lines[0]);\nconst headerMap = {};\nheaders.forEach((h, i) => { headerMap[h.toLowerCase()] = i; });\n\nfunction getField(row, ...names) {\n  for (const name of names) {\n    const idx = headerMap[name.toLowerCase()];\n    if (idx !== undefined && row[idx]) {\n      return row[idx];\n    }\n  }\n  return '';\n}\n\nconst meetings = [];\nfor (let i = 1; i < lines.length; i++) {\n  const row = parseCsvLine(lines[i]);\n  if (row.length < 2) continue;\n\n  const activityUid = getField(row, 'Activity', 'ootb_activity_uid');\n  const timestampStr = getField(row, 'Activity date', 'ootb_activity_timestamp');\n  const subject = getField(row, 'Subject', 'ootb_activity_subject');\n  const accountName = getField(row, 'Account (name)', 'Account', 'ootb_activity_account');\n  const accountId = getField(row, 'Account (id)');\n  const oppName = getField(row, 'Opportunity (name)', 'Opportunity', 'ootb_activity_opportunity');\n  const oppId = getField(row, 'Opportunity (id)');\n\n  // Parse participant data\n  const emails = parseList(getField(row, 'Activity Participants (Email)'));\n  const names = parseList(getField(row, 'Activity Participants (Name)'));\n  const externals = parseList(getField(row, 'Activity Participants (External)'));\n  const titles = parseList(getField(row, 'Activity Participants (Title)', 'ootb_activity_participants_title'));\n\n  // Build internal participant email list\n  const internalEmails = [];\n  for (let p = 0; p < emails.length; p++) {\n    const isExternal = (externals[p] || '').toLowerCase() === 'true';\n    if (!isExternal && emails[p]) {\n      internalEmails.push(emails[p].toLowerCase());\n    }\n  }\n\n  // Parse ISO timestamp to epoch ms\n  let timestampMs = 0;\n  if (timestampStr) {\n    const parsed = new Date(timestampStr);\n    if (!isNaN(parsed.getTime())) {\n      timestampMs = parsed.getTime();\n    }\n  }\n\n  if (!activityUid) continue;\n\n  meetings.push({\n    activityUid,\n    timestampMs,\n    timestampStr,\n    subject: subject || 'Customer Meeting',\n    accountName: accountName || '',\n    accountId,\n    oppName: oppName || '',\n    oppId,\n    internalEmails,\n    participantEmails: emails,\n    participantNames: names,\n    participantTitles: titles,\n    participantExternals: externals,\n    participantCount: emails.length,\n    internalCount: internalEmails.length,\n    externalCount: emails.length - internalEmails.length\n  });\n}\n\nreturn [{ json: { meetings, meetingCount: meetings.length } }];\n"
                },
                "id": "e90fea2c-ad4a-4024-803d-07b2336a8ed9",
                "name": "Parse Meetings",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    1104,
                    432
                ]
            },
            {
                "parameters": {
                    "operation": "getAll",
                    "tableId": "users",
                    "returnAll": true
                },
                "id": "09b7d5d6-4ed5-472e-b746-5255e67efa02",
                "name": "Get Prep Users",
                "type": "n8n-nodes-base.supabase",
                "typeVersion": 1,
                "position": [
                    1328,
                    432
                ],
                "alwaysOutputData": true,
                "credentials": {
                    "supabaseApi": {
                        "id": "ASRWWkQ0RSMOpNF1",
                        "name": "Supabase account"
                    }
                },
                "continueOnFail": true,
                "onError": "continueRegularOutput"
            },
            {
                "parameters": {
                    "operation": "getAll",
                    "tableId": "messages",
                    "returnAll": true,
                    "filters": {
                        "conditions": [
                            {
                                "keyName": "message_type",
                                "condition": "eq",
                                "keyValue": "meeting_prep"
                            }
                        ]
                    }
                },
                "id": "9cf997b6-22f9-4625-9b74-d54ee1963fb9",
                "name": "Check Sent Briefs",
                "type": "n8n-nodes-base.supabase",
                "typeVersion": 1,
                "position": [
                    1760,
                    432
                ],
                "alwaysOutputData": true,
                "credentials": {
                    "supabaseApi": {
                        "id": "ASRWWkQ0RSMOpNF1",
                        "name": "Supabase account"
                    }
                },
                "continueOnFail": true,
                "onError": "continueRegularOutput"
            },
            {
                "parameters": {
                    "jsCode": "// Match meetings to users based on PARTICIPANT EMAIL\n// Only users who are internal participants of a meeting get the brief for that meeting\nconst meetingsData = $('Parse Meetings').first().json;\nconst meetings = meetingsData.meetings || [];\nconst users = $('Filter Prep Users').all().map(item => item.json);\nconst sentBriefs = $('Check Sent Briefs').all().map(item => item.json);\n\n// Build dedup set: \"userId:activityUid\"\nconst sentKeys = new Set();\nfor (const brief of sentBriefs) {\n  let meta = brief.metadata || {};\n  if (typeof meta === 'string') {\n    try { meta = JSON.parse(meta); } catch(e) { meta = {}; }\n  }\n  if (meta.activity_uid && brief.user_id) {\n    sentKeys.add(brief.user_id + ':' + meta.activity_uid);\n  }\n}\n\n// Build email \u2192 user lookup\nconst emailToUser = {};\nfor (const user of users) {\n  const email = (user.email || '').toLowerCase();\n  if (email) emailToUser[email] = user;\n}\n\nconst now = Date.now();\nconst results = [];\n\nfor (const meeting of meetings) {\n  if (!meeting.accountName) continue;\n\n  const timeUntil = meeting.timestampMs - now;\n  // Default: 2hr prep window, 15min too-late cutoff\n  const tooLateMs = 15 * 60 * 1000;\n\n  // For each internal participant email, check if they're in our users table\n  for (const email of (meeting.internalEmails || [])) {\n    const user = emailToUser[email];\n    if (!user) continue; // Not in our system\n\n    const prepMinutes = user.meeting_prep_minutes_before || 120;\n    const prepWindowMs = prepMinutes * 60 * 1000;\n    if (timeUntil < tooLateMs || timeUntil > prepWindowMs) continue;\n\n    const dedupKey = user.id + ':' + meeting.activityUid;\n    if (sentKeys.has(dedupKey)) continue;\n\n    const repName = email.split('@')[0]\n      .replace(/\\./g, ' ')\n      .replace(/\\b\\w/g, c => c.toUpperCase());\n\n    results.push({\n      userId: user.id,\n      slackUserId: user.slack_user_id,\n      email: user.email,\n      assistant_name: user.assistant_name,\n      assistant_emoji: user.assistant_emoji,\n      assistant_persona: user.assistant_persona,\n      timezone: user.timezone || 'America/Los_Angeles',\n      repName,\n      accountName: meeting.accountName,\n      meetingSubject: meeting.subject,\n      meetingTime: String(meeting.timestampMs),\n      participants: (() => {\n        // Build participant string with Slack @mentions for internal users\n        const parts = [];\n        const pEmails = meeting.participantEmails || [];\n        const pNames = meeting.participantNames || [];\n        const pExternals = meeting.participantExternals || [];\n        const pTitles = meeting.participantTitles || [];\n        for (let p = 0; p < pEmails.length; p++) {\n          const isExternal = (pExternals[p] || '').toLowerCase() === 'true';\n          const pName = pNames[p] || pEmails[p];\n          const pTitle = pTitles[p] || '';\n          const titleSuffix = pTitle ? ' \u2014 ' + pTitle : '';\n          if (isExternal) {\n            parts.push(pName + titleSuffix + ' (external)');\n          } else {\n            // Look up Slack ID for internal user\n            const pUser = emailToUser[(pEmails[p] || '').toLowerCase()];\n            if (pUser && pUser.slack_user_id) {\n              const userTitle = pUser.division || pTitle || '';\n              const uTitleSuffix = userTitle ? ' \u2014 ' + userTitle : '';\n              parts.push('<@' + pUser.slack_user_id + '>' + uTitleSuffix + ' :backstory:');\n            } else {\n              parts.push(pName + titleSuffix + ' :backstory:');\n            }\n          }\n        }\n        return parts.join('; ');\n      })(),\n      opportunityName: meeting.oppName || '',\n      opportunityStage: '',\n      opportunityAmount: '',\n      opportunityCloseDate: '',\n      opportunityEngagement: '',\n      activityUid: meeting.activityUid\n    });\n  }\n}\n\nif (results.length === 0) {\n  return [{ json: { matches: [], matchCount: 0, noMatches: true } }];\n}\n\n// Sort by meeting time (nearest first)\nresults.sort((a, b) => parseInt(a.meetingTime) - parseInt(b.meetingTime));\nreturn results.map(r => ({ json: r }));\n"
                },
                "id": "2bad3f63-7d4c-497f-9a80-3926946bbb4e",
                "name": "Match Users to Meetings",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    1984,
                    432
                ]
            },
            {
                "parameters": {
                    "conditions": {
                        "options": {
                            "caseSensitive": true,
                            "leftValue": "",
                            "typeValidation": "loose",
                            "version": 2
                        },
                        "conditions": [
                            {
                                "id": "dbccfc98-fde5-4090-8f70-12ebbcfe354a",
                                "leftValue": "={{ $json.userId }}",
                                "rightValue": "",
                                "operator": {
                                    "type": "string",
                                    "operation": "exists",
                                    "singleValue": true
                                }
                            }
                        ],
                        "combinator": "and"
                    },
                    "options": {}
                },
                "id": "810c14cb-378b-4374-8ddf-1a097a773df1",
                "name": "Has Matches?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2.2,
                "position": [
                    2208,
                    432
                ]
            },
            {
                "parameters": {
                    "options": {
                        "maxItems": 5
                    }
                },
                "id": "252837c9-1e3e-4eb8-b9a9-e4565693889d",
                "name": "Split In Batches",
                "type": "n8n-nodes-base.splitInBatches",
                "typeVersion": 3,
                "position": [
                    2432,
                    432
                ]
            },
            {
                "parameters": {
                    "workflowId": {
                        "__rl": true,
                        "mode": "id",
                        "value": "Cj4HcHfbzy9OZhwE"
                    },
                    "options": {}
                },
                "id": "7a006dbe-3621-4246-a90f-a0dbfb15a4a4",
                "name": "Execute Meeting Brief",
                "type": "n8n-nodes-base.executeWorkflow",
                "typeVersion": 1.2,
                "position": [
                    2656,
                    352
                ]
            },
            {
                "parameters": {
                    "jsCode": "// Log sent meeting brief to messages table for dedup\nconst input = $('Split In Batches').first().json;\nreturn [{\n  json: {\n    user_id: input.userId,\n    message_type: 'meeting_prep',\n    channel: 'slack',\n    direction: 'outbound',\n    content: 'Meeting brief for ' + (input.accountName || 'unknown account'),\n    metadata: JSON.stringify({\n      activity_uid: input.activityUid,\n      account_name: input.accountName,\n      meeting_subject: input.meetingSubject\n    }),\n    sent_at: new Date().toISOString()\n  }\n}];\n"
                },
                "id": "7c3c9091-af27-46e7-ae2c-d5d16096f525",
                "name": "Log Meeting Brief",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    2880,
                    352
                ]
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "https://rhrlnkbphxntxxxcrgvv.supabase.co/rest/v1/messages",
                    "authentication": "predefinedCredentialType",
                    "nodeCredentialType": "supabaseApi",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Prefer",
                                "value": "return=representation"
                            }
                        ]
                    },
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={{ JSON.stringify($json) }}",
                    "options": {}
                },
                "id": "5f05fca1-a92d-435d-bd17-24a59b8510e7",
                "name": "Save to Messages",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    3104,
                    432
                ],
                "credentials": {
                    "supabaseApi": {
                        "id": "ASRWWkQ0RSMOpNF1",
                        "name": "Supabase account"
                    }
                }
            },
            {
                "parameters": {
                    "jsCode": "// Filter to prep-enabled users with complete onboarding\nconst users = $input.all().map(item => item.json);\nconst filtered = users.filter(u => \n  u.onboarding_state === 'complete' && \n  u.meeting_prep_enabled !== false\n);\nif (filtered.length === 0) {\n  return [{ json: { noUsers: true } }];\n}\nreturn filtered.map(u => ({ json: u }));\n"
                },
                "id": "0386246e-7001-4fe0-97b5-726b81e3efb9",
                "name": "Filter Prep Users",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    1536,
                    432
                ]
            }
        ],
        "connections": {
            "Get Auth Token": {
                "main": [
                    [
                        {
                            "node": "Build Query",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Build Query": {
                "main": [
                    [
                        {
                            "node": "Fetch Today Meetings",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Fetch Today Meetings": {
                "main": [
                    [
                        {
                            "node": "Parse Meetings",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Parse Meetings": {
                "main": [
                    [
                        {
                            "node": "Get Prep Users",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Get Prep Users": {
                "main": [
                    [
                        {
                            "node": "Filter Prep Users",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Check Sent Briefs": {
                "main": [
                    [
                        {
                            "node": "Match Users to Meetings",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Match Users to Meetings": {
                "main": [
                    [
                        {
                            "node": "Has Matches?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Has Matches?": {
                "main": [
                    [
                        {
                            "node": "Split In Batches",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    []
                ]
            },
            "Split In Batches": {
                "main": [
                    [],
                    [
                        {
                            "node": "Execute Meeting Brief",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Execute Meeting Brief": {
                "main": [
                    [
                        {
                            "node": "Log Meeting Brief",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Log Meeting Brief": {
                "main": [
                    [
                        {
                            "node": "Save to Messages",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Save to Messages": {
                "main": [
                    [
                        {
                            "node": "Split In Batches",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Filter Prep Users": {
                "main": [
                    [
                        {
                            "node": "Check Sent Briefs",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Hourly at :45": {
                "main": [
                    [
                        {
                            "node": "Get Auth Token",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "authors": "Scott Metcalf",
        "name": null,
        "description": null,
        "autosaved": false
    }
}