n8n/workflows/On-Demand Digest.json
{
    "updatedAt": "2026-03-23T18:46:33.354Z",
    "createdAt": "2026-02-25T00:08:06.547Z",
    "id": "vxGajBdXFBaOCdkG",
    "name": "On-Demand Digest",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {
                "inputSource": "passthrough"
            },
            "id": "9ba59a03-ef15-4f25-9854-7b6ab4ba1279",
            "name": "Workflow Input Trigger",
            "type": "n8n-nodes-base.executeWorkflowTrigger",
            "typeVersion": 1.1,
            "position": [
                208,
                400
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.people.ai/v3/auth/tokens",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/x-www-form-urlencoded"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "string",
                "body": "client_id=YOUR_CLIENT_ID&client_secret=YOUR_CLIENT_SECRET&grant_type=client_credentials",
                "options": {}
            },
            "id": "1c6a0cf2-b348-475a-a044-9eb70132ed28",
            "name": "Get Auth Token",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                432,
                400
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.people.ai/v3/beta/insights/export",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $('Get Auth Token').first().json.access_token }}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\"object\": \"user\", \"columns\": [{\"slug\": \"ootb_user\"}, {\"slug\": \"ootb_user_email\"}, {\"slug\": \"ootb_user_manager\"}]}",
                "options": {}
            },
            "id": "9b881bfe-4519-440b-b19f-1f65e84ce736",
            "name": "Fetch User Hierarchy",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                656,
                400
            ]
        },
        {
            "parameters": {
                "jsCode": "// Parse CSV from Backstory User hierarchy export\nconst csvData = $('Fetch User Hierarchy').first().json.data;\n\nif (!csvData) {\n  return [{ json: { hierarchy: {}, managerToReports: {}, userCount: 0, error: 'No hierarchy data returned' } }];\n}\n\nconst lines = csvData.split('\\n').filter(l => l.trim());\nif (lines.length < 2) {\n  return [{ json: { hierarchy: {}, managerToReports: {}, userCount: 0, error: 'Hierarchy CSV has no data rows' } }];\n}\n\nfunction parseCsvLine(line) {\n  const result = [];\n  let current = '';\n  let inQuotes = false;\n  for (let i = 0; i < line.length; i++) {\n    const ch = line[i];\n    if (ch === '\"') {\n      if (inQuotes && i + 1 < line.length && line[i + 1] === '\"') {\n        current += '\"'; i++;\n      } else {\n        inQuotes = !inQuotes;\n      }\n    } else if (ch === ',' && !inQuotes) {\n      result.push(current.trim()); current = '';\n    } else {\n      current += ch;\n    }\n  }\n  result.push(current.trim());\n  return result;\n}\n\nconst headers = parseCsvLine(lines[0]);\nconst headerMap = {};\nheaders.forEach((h, i) => { headerMap[h] = i; headerMap[h.toLowerCase()] = i; });\n\nconst allHeaders = headers.join(' | ');\n\nfunction getField(row, ...names) {\n  for (const name of names) {\n    const idx = headerMap[name] ?? headerMap[name.toLowerCase()];\n    if (idx !== undefined && row[idx] !== undefined && row[idx] !== '') {\n      return row[idx];\n    }\n  }\n  return '';\n}\n\nconst hierarchy = {};\nconst managerToReports = {};\n\nfor (let i = 1; i < lines.length; i++) {\n  const row = parseCsvLine(lines[i]);\n  if (row.length < 2) continue;\n\n  // ootb_user slug \u2192 \"User (id)\" and \"User (name)\" columns\n  const name       = getField(row, 'User (name)', 'User Name', 'Name');\n  const email      = getField(row, 'Email', 'User Email').toLowerCase();\n  const manager    = getField(row, 'User Manager', 'Manager', 'user manager');\n  const peopleAiId = getField(row, 'User (id)', 'User Id', 'user (id)');\n\n  if (email) {\n    hierarchy[email] = { name, email, manager, peopleAiId };\n  }\n\n  if (manager) {\n    const mgrLower = manager.toLowerCase();\n    if (!managerToReports[mgrLower]) managerToReports[mgrLower] = [];\n    managerToReports[mgrLower].push({ name, email });\n  }\n}\n\nreturn [{ json: { hierarchy, managerToReports, userCount: Object.keys(hierarchy).length, allHeaders } }];\n"
            },
            "id": "48d3d127-180f-4ec9-939a-bbfa4febe6c1",
            "name": "Parse Hierarchy",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                880,
                400
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.people.ai/v3/beta/insights/export",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $('Get Auth Token').first().json.access_token }}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ $('Build Opp Query').first().json.queryBody }}",
                "options": {}
            },
            "id": "12cee195-2dd5-4daa-ac4c-83f5f552401e",
            "name": "Fetch Open Opps",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1328,
                400
            ]
        },
        {
            "parameters": {
                "jsCode": "// Parse CSV from Backstory Query API export\nconst csvData = $('Fetch Open Opps').first().json.data;\n\nif (!csvData) {\n  return [{ json: { opps: [], oppCount: 0, error: 'No CSV data returned' } }];\n}\n\nconst lines = csvData.split('\\n').filter(l => l.trim());\nif (lines.length < 2) {\n  return [{ json: { opps: [], oppCount: 0, error: 'CSV has no data rows' } }];\n}\n\nfunction parseCsvLine(line) {\n  const result = [];\n  let current = '';\n  let inQuotes = false;\n  for (let i = 0; i < line.length; i++) {\n    const ch = line[i];\n    if (ch === '\"') {\n      if (inQuotes && i + 1 < line.length && line[i + 1] === '\"') { current += '\"'; i++; }\n      else { inQuotes = !inQuotes; }\n    } else if (ch === ',' && !inQuotes) {\n      result.push(current.trim());\n      current = '';\n    } else {\n      current += ch;\n    }\n  }\n  result.push(current.trim());\n  return result;\n}\n\nconst headers = parseCsvLine(lines[0]);\nconst headerMap = {};\nheaders.forEach((h, i) => {\n  headerMap[h] = i;\n  headerMap[h.toLowerCase()] = i;\n});\n\nfunction getField(row, ...names) {\n  for (const name of names) {\n    const idx = headerMap[name] ?? headerMap[name.toLowerCase()];\n    if (idx !== undefined && row[idx] !== undefined && row[idx] !== '') {\n      return row[idx];\n    }\n  }\n  return '';\n}\n\nconst opps = [];\nfor (let i = 1; i < lines.length; i++) {\n  const row = parseCsvLine(lines[i]);\n  if (row.length < 2) continue;\n\n  opps.push({\n    peopleAiId:  getField(row, 'Opportunity ID', 'ootb_opportunity_id', 'ID', 'Id'),\n    owners:      getField(row, 'Opportunity Owner (name)', 'Opportunity Owner', 'Opportunity Owners'),\n    ownerId:     getField(row, 'Opportunity Owner (id)'),\n    csmOwner:    getField(row, 'CSM Owner (name)'),\n    csmOwnerId:  getField(row, 'CSM Owner (id)'),\n    leadSe:      getField(row, 'Lead Sales Engineer (name)'),\n    leadSeId:    getField(row, 'Lead Sales Engineer (id)'),\n    name:        getField(row, 'Opportunity Name',         'ootb_opportunity_name'),\n    account:     getField(row, 'Account Name',             'ootb_opportunity_account_name'),\n    closeDate:   getField(row, 'Close Date',               'ootb_opportunity_close_date'),\n    stage:       getField(row, 'Stage',                    'ootb_opportunity_current_stage', 'Current Stage'),\n    amount:      getField(row, 'Amount (Converted)', 'Converted Amount', 'Amount'),\npeopleAiInternalId: getField(row, 'Backstory Internal ID', 'ootb_opportunity_people_internal_id'),\n    crmId:       getField(row, 'Record ID',                'ootb_opportunity_crm_id', 'CRM ID'),\n    engagement:  getField(row, 'Opportunity Engagement Level', 'ootb_opportunity_engagement_level', 'Engagement Level'),\n    oppType:     getField(row, 'Opportunity Type', 'Type', 'ootb_opportunity_type')\n  });\n}\n\nreturn [{ json: { opps, oppCount: opps.length, headers } }];\n"
            },
            "id": "f26e6ae6-cea4-425b-8d17-f07836bd99c9",
            "name": "Parse Opps CSV",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1552,
                400
            ]
        },
        {
            "parameters": {
                "jsCode": "// Filter pre-fetched opps based on user's role/digest_scope and daily theme\nconst user = $('Workflow Input Trigger').first().json;\nconst allOpps = $('Parse Opps CSV').first().json.opps;\nconst debugHeaders = ($('Parse Opps CSV').first().json.headers || []).join('|');\nconst hierarchyData = $('Parse Hierarchy').first().json;\nconst buildQueryData = $('Build Opp Query').first().json;\n\nconst repName = (user.email || '').split('@')[0]\n  .replace(/\\./g, ' ')\n  .replace(/\\b\\w/g, c => c.toUpperCase());\n\nconst repLower = repName.toLowerCase();\nconst digestScope = user.digest_scope || 'my_deals';\nconst userEmail = (user.email || '').toLowerCase();\n\n// === Theme resolution ===\nfunction resolveTheme(override) {\n  if (override) return override;\n  const dayOfWeek = new Date().toLocaleDateString('en-US', {\n    weekday: 'long',\n    timeZone: 'America/Los_Angeles'\n  }).toLowerCase();\n  const dayMap = {\n    'monday': 'full_pipeline',\n    'tuesday': 'engagement_shifts',\n    'wednesday': 'at_risk',\n    'thursday': 'momentum',\n    'friday': 'week_review'\n  };\n  return dayMap[dayOfWeek] || 'full_pipeline';\n}\n\nconst theme = resolveTheme(user.themeOverride || null);\n\n// === Date window helpers ===\nfunction getCurrentAndNextQuarterEnd() {\n  const now = new Date();\n  const month = now.getMonth();\n  const year = now.getFullYear();\n  const currentQ = Math.floor(month / 3);\n  const nextQEnd = currentQ + 2;\n  let endMonth, endYear;\n  if (nextQEnd <= 3) { endMonth = nextQEnd * 3; endYear = year; }\n  else { endMonth = (nextQEnd - 4) * 3; endYear = year + 1; }\n  return new Date(endYear, endMonth, 0, 23, 59, 59);\n}\n\nfunction getFiscalYearEnd() {\n  const now = new Date();\n  const year = now.getFullYear();\n  const month = now.getMonth();\n  if (month === 0) return new Date(year, 0, 31, 23, 59, 59);\n  return new Date(year + 1, 0, 31, 23, 59, 59);\n}\n\nfunction filterByDateWindow(opps, endDate) {\n  const now = new Date();\n  return opps.filter(opp => {\n    if (!opp.closeDate) return false;\n    const close = new Date(opp.closeDate);\n    return close >= now && close <= endDate;\n  });\n}\n\nconst twoQuarterEnd = getCurrentAndNextQuarterEnd();\nconst fyEnd = getFiscalYearEnd();\nconst qEndLabel = twoQuarterEnd.toLocaleDateString('en-US', { month: 'short', year: 'numeric' });\n\nlet userOpps = [];\nlet scopeLabel = '';\n\n// === Helper: check if a name/email matches any owner field on an opp ===\nfunction oppMatchesPerson(opp, nameLower, emailLower, emailPrefix) {\n  const ae  = (opp.owners   || '').toLowerCase();\n  const csm = (opp.csmOwner || '').toLowerCase();\n  const se  = (opp.leadSe   || '').toLowerCase();\n  const combined = ae + '|' + csm + '|' + se;\n  return combined.includes(nameLower)\n      || combined.includes(emailLower)\n      || combined.includes(emailPrefix);\n}\n\n// === Scope-based filtering ===\nif (digestScope === 'my_deals') {\n  userOpps = allOpps.filter(opp => oppMatchesPerson(opp, repLower, userEmail, userEmail.split('@')[0]));\n  userOpps = filterByDateWindow(userOpps, fyEnd);\n  scopeLabel = repName + \"'s OPEN OPPORTUNITIES\";\n\n} else if (digestScope === 'team_deals') {\n  const managerToReports = hierarchyData.managerToReports || {};\n  let reportNames = [repLower];\n\n  for (const [mgrKey, reports] of Object.entries(managerToReports)) {\n    if (mgrKey.includes(repLower) || repLower.includes(mgrKey)) {\n      for (const report of reports) {\n        const rName = (report.name || '').toLowerCase();\n        if (rName && !reportNames.includes(rName)) reportNames.push(rName);\n      }\n    }\n  }\n  if (managerToReports[userEmail]) {\n    for (const report of managerToReports[userEmail]) {\n      const rName = (report.name || '').toLowerCase();\n      if (rName && !reportNames.includes(rName)) reportNames.push(rName);\n    }\n  }\n\n  userOpps = allOpps.filter(opp => reportNames.some(name => {\n    const ae  = (opp.owners   || '').toLowerCase();\n    const csm = (opp.csmOwner || '').toLowerCase();\n    const se  = (opp.leadSe   || '').toLowerCase();\n    return ae.includes(name) || csm.includes(name) || se.includes(name);\n  }));\n  userOpps = filterByDateWindow(userOpps, twoQuarterEnd);\n  userOpps.sort((a, b) => new Date(a.closeDate) - new Date(b.closeDate));\n  scopeLabel = repName + \"'s TEAM PIPELINE through \" + qEndLabel + \" (\" + reportNames.length + \" reps)\";\n\n} else if (digestScope === 'top_pipeline') {\n  userOpps = filterByDateWindow([...allOpps], twoQuarterEnd);\n  const totalInWindow = userOpps.length;\n  userOpps.sort((a, b) => {\n    const amtA = parseFloat((a.amount || '0').replace(/[^0-9.]/g, '')) || 0;\n    const amtB = parseFloat((b.amount || '0').replace(/[^0-9.]/g, '')) || 0;\n    return amtB - amtA;\n  });\n  userOpps = userOpps.slice(0, 25);\n  scopeLabel = \"TOP PIPELINE through \" + qEndLabel + \" (\" + totalInWindow + \" deals in window, showing top 25 by amount)\";\n\n} else if (digestScope.startsWith('person:')) {\n  const targetEmail = digestScope.replace('person:', '').toLowerCase();\n  const hierarchyEntry = (hierarchyData.hierarchy || {})[targetEmail];\n  const emailDerivedName = targetEmail.split('@')[0].replace(/\\./g, ' ');\n  const displayName = hierarchyEntry && hierarchyEntry.name\n    ? hierarchyEntry.name\n    : emailDerivedName.replace(/\\b\\w/g, c => c.toUpperCase());\n\n  const personPeopleAiId = buildQueryData.personPeopleAiId;\n  const hadServerFilter = (personPeopleAiId !== null && personPeopleAiId !== undefined);\n  const emailPrefix = targetEmail.split('@')[0].toLowerCase();\n  const targetNameLower = displayName.toLowerCase();\n\n  if (hadServerFilter) {\n    // All returned opps already belong to this person (AE, CSM, or SE)\n    userOpps = filterByDateWindow(allOpps, fyEnd);\n  } else {\n    // Fallback: client-side match against AE, CSM, and SE name fields\n    userOpps = allOpps.filter(opp =>\n      oppMatchesPerson(opp, targetNameLower, targetEmail, emailPrefix)\n    );\n    userOpps = filterByDateWindow(userOpps, fyEnd);\n  }\n\n  scopeLabel = displayName + \"'s OPEN OPPORTUNITIES\";\n}\n\n// === Focus-based filtering ===\n// 'retention' focus: limit to renewal/existing customer opps only\nconst focus = user.focus || 'revenue';\n\nif (focus === 'retention') {\n  userOpps = userOpps.filter(opp => {\n    const type = (opp.oppType || '').toLowerCase();\n    const name = (opp.name || '').toLowerCase();\n    const isRenewal =\n      type.includes('renewal') || type.includes('renew') ||\n      type.includes('existing') || type.includes('upsell') || type.includes('expansion') ||\n      name.includes('renewal') || name.includes('renew') ||\n      name.includes('expand') || name.includes('upsell');\n    return isRenewal;\n  });\n}\n\n// === Theme-based additional filtering ===\nconst themeLabels = {\n  'full_pipeline': 'Full Pipeline Brief',\n  'engagement_shifts': 'Engagement Shifts',\n  'at_risk': 'At-Risk Deals',\n  'momentum': 'Momentum & Wins',\n  'week_review': 'Week in Review'\n};\n\nlet themeNote = '';\n\nif (theme === 'at_risk') {\n  const riskOpps = userOpps.filter(opp => {\n    const eng = (opp.engagement || '').toLowerCase();\n    const isLowEngagement = !eng || eng === 'low' || eng === 'none' || eng === '0' || eng === '';\n    const closeDate = new Date(opp.closeDate);\n    const daysToClose = (closeDate - new Date()) / (1000 * 60 * 60 * 24);\n    const isClosingSoon = daysToClose >= 0 && daysToClose <= 45;\n    const lateStages = ['closed won', 'closed lost', 'negotiation', 'contract'];\n    const stage = (opp.stage || '').toLowerCase();\n    const isNotLateStage = !lateStages.some(s => stage.includes(s));\n    return isLowEngagement || (isClosingSoon && isNotLateStage);\n  });\n  if (riskOpps.length > 0) {\n    themeNote = `Filtered to ${riskOpps.length} deals showing risk signals. Full pipeline has ${userOpps.length} deals.`;\n    userOpps = riskOpps;\n  } else {\n    themeNote = `No obvious risk signals detected across ${userOpps.length} deals \u2014 all deals shown for review.`;\n  }\n} else if (theme === 'momentum') {\n  userOpps.sort((a, b) => {\n    const engA = parseFloat((a.engagement || '0').replace(/[^0-9.]/g, '')) || 0;\n    const engB = parseFloat((b.engagement || '0').replace(/[^0-9.]/g, '')) || 0;\n    return engB - engA;\n  });\n  themeNote = `Sorted by engagement score to surface momentum. ${userOpps.length} deals in scope.`;\n}\n\n// === Helper: determine a person's role on a deal ===\nfunction getRoleOnDeal(opp, peopleAiId) {\n  if (!peopleAiId) return '';\n  const idStr = String(peopleAiId);\n  if (opp.ownerId && String(opp.ownerId) === idStr) return 'AE';\n  if (opp.csmOwnerId && String(opp.csmOwnerId) === idStr) return 'CSM';\n  if (opp.leadSeId && String(opp.leadSeId) === idStr) return 'SE';\n  return '';\n}\n\n// === Build formatted table (always includes peopleAiId for deep links) ===\nlet oppTable = '';\nif (userOpps.length > 0) {\n  if (digestScope.startsWith('person:')) {\n    const personPeopleAiId = buildQueryData.personPeopleAiId;\n    oppTable = '| peopleAiId | Opportunity | Account | Role | Stage | Close Date | Engagement | CRM ID |\\n';\n    oppTable += '|---|---|---|---|---|---|---|---|\\n';\n    for (const opp of userOpps) {\n      const role = getRoleOnDeal(opp, personPeopleAiId);\n      oppTable += `| ${opp.peopleAiId} | ${opp.name} | ${opp.account} | ${opp.amount || ''} | ${role} | ${opp.stage} | ${opp.closeDate} | ${opp.engagement} | ${opp.crmId || ''} | ${opp.peopleAiInternalId || ''} |\\n`;\n    }\n  } else if (digestScope === 'my_deals') {\n    oppTable = '| peopleAiId | Opportunity | Account | Stage | Close Date | Engagement | CRM ID |\\n';\n    oppTable += '|---|---|---|---|---|---|---|\\n';\n    for (const opp of userOpps) {\n      oppTable += `| ${opp.peopleAiId} | ${opp.name} | ${opp.account} | ${opp.amount || ''} | ${opp.stage} | ${opp.closeDate} | ${opp.engagement} | ${opp.crmId || ''} | ${opp.peopleAiInternalId || ''} |\\n`;\n    }\n  } else {\n    oppTable = '| peopleAiId | Opportunity | Account | Owner | Stage | Close Date | Engagement | CRM ID |\\n';\n    oppTable += '|---|---|---|---|---|---|---|---|\\n';\n    for (const opp of userOpps) {\n      oppTable += `| ${opp.peopleAiId} | ${opp.name} | ${opp.account} | ${opp.amount || ''} | ${opp.owners} | ${opp.stage} | ${opp.closeDate} | ${opp.engagement} | ${opp.crmId || ''} | ${opp.peopleAiInternalId || ''} |\\n`;\n    }\n  }\n} else {\n  oppTable = '(No open opportunities found in the date window)';\n}\n\nreturn [{\n  json: {\n    ...user,\n    userOpps,\n    userOppCount: userOpps.length,\n    totalOppCount: allOpps.length,\n    oppTable,\n    repName,\n    digestScope,\n    scopeLabel,\n    debugHeaders,\n    dateWindowEnd: qEndLabel,\n    theme,\n    focus,\n    themeLabel: themeLabels[theme] || 'Brief',\n    themeNote\n  }\n}];\n"
            },
            "id": "aaba30c1-3aa3-4f71-ad86-59a8c803dd93",
            "name": "Filter User Opps",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1776,
                400
            ]
        },
        {
            "parameters": {
                "jsCode": "const user = $('Filter User Opps').first().json;\n\nconst assistantName    = user.assistant_name    || 'Aria';\nconst assistantEmoji   = user.assistant_emoji   || ':robot_face:';\nconst assistantPersona = user.assistant_persona || 'direct, action-oriented, and conversational';\nconst repName    = user.repName || (user.email || '').split('@')[0].replace(/\\./g, ' ').replace(/\\b\\w/g, c => c.toUpperCase()) || 'Rep';\nconst timezone   = user.timezone || 'America/Los_Angeles';\nconst currentDate = new Date().toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });\nconst timeStr     = new Date().toLocaleTimeString('en-US', { hour: 'numeric', minute: '2-digit', timeZone: timezone });\n\nconst oppTable       = user.oppTable || '(No opportunity data available)';\nconst oppCount       = user.userOppCount || 0;\nconst totalOppCount  = user.totalOppCount || oppCount;\nconst digestScope    = user.digestScope || 'my_deals';\nconst scopeLabel     = user.scopeLabel  || (repName + \"'s OPEN OPPORTUNITIES\");\nconst focus         = user.focus || 'revenue';\nconst isPersonScope  = digestScope.startsWith('person:');\nconst subjectName    = isPersonScope\n  ? scopeLabel.replace(/'s OPEN OPPORTUNITIES$/, '').trim()\n  : repName;\nconst dateWindowEnd  = user.dateWindowEnd || '';\nconst theme          = user.theme          || 'full_pipeline';\nconst themeLabel     = user.themeLabel     || 'Brief';\nconst themeNote      = user.themeNote      || '';\n\nconst dayLabel   = currentDate.split(',')[0];\nconst emojiClean = assistantEmoji.replace(/:/g, '');\n\n// === Shared Block Kit formatting rules ===\nconst blockKitRules = `OUTPUT FORMAT \u2014 CRITICAL:\nRespond with ONLY a valid JSON object. Your ENTIRE response must be the JSON object and nothing else. No prose before or after. No explanation. No markdown code fences (no backticks). No \"let me\" or \"here is\" preamble. Start your response with { and end with }.\n\nYour response must have exactly this shape:\n{\n  \"notification_text\": \"string \u2014 one sentence, shown in push notifications\",\n  \"blocks\": [ array of valid Slack Block Kit blocks ]\n}\n\nBLOCK KIT STRUCTURE RULES:\n- Use a \"header\" block for the message title (plain_text only, emoji: true)\n- Use \"section\" blocks with \"mrkdwn\" text for all body content\n- Use \"divider\" blocks between major sections (maximum 2 per message)\n- Use \"section\" with \"fields\" for two-column data (engagement scores, metrics)\n  - MAXIMUM 10 fields per section block (Slack API hard limit)\n  - If you have more than 10 data points, split into multiple section blocks\n- Use \"context\" block at the bottom for timestamp and data source\n- Maximum 50 blocks per message\n\nMRKDWN RULES (inside all text fields):\n- Bold: *text* \u2014 single asterisks only\n- Line break: \\\\n\n- Blank line: \\\\n\\\\n\n- Top-level bullets: use the \u2022 character (e.g. \u2022 Main point)\n- Sub-bullets under a numbered item or heading: indent with 4 spaces before the bullet (e.g.     \u2022 Sub-point)\n- This creates visual hierarchy \u2014 numbered deals at top level, details indented beneath\n- NO ## headers \u2014 use *bold text* on its own line instead\n- NO **double asterisks**\n- NO standard markdown links [text](url) \u2014 use <https://url|text>\n- NO dash bullets (-)\n\nEMOJI STATUS INDICATORS \u2014 use these consistently:\n\ud83d\ude80 Acceleration / strong momentum\n\ud83d\udc8e Hidden upside opportunity\n\ud83d\udd34 Stalled / critical risk\n\u2705 Healthy / on track\n\ud83d\udcc8 Engagement rising\n\ud83d\udcc9 Engagement falling\n\u27a1\ufe0f Engagement stable\n\ud83d\udd25 High engagement (80+)`;\n\n\n// === Focus-specific context injected into the system prompt ===\nfunction getFocusContext(focus) {\n  if (focus === 'retention') {\n    return `FOCUS \u2014 RETENTION:\nYour briefing covers only renewal and existing customer opportunities. New logo deals are excluded.\nPrioritise: renewal health, time-to-renewal, expansion potential, customer engagement trends, churn risk.\nActions should be customer-success oriented: QBR scheduling, exec sponsor engagement, product adoption nudges, risk escalation.\nDo NOT suggest new outreach tactics or prospecting actions.`;\n  }\n  if (focus === 'technical') {\n    return `FOCUS \u2014 TECHNICAL:\nYou are briefing through an SE/solutions lens. Highlight POC status, technical blockers, and integration complexity.\nPrioritise: deals in evaluation or validation stages, technical win/loss indicators, stakeholder technical depth.\nActions should be SE-oriented: POC milestones, technical champion engagement, competitive technical positioning.`;\n  }\n  if (focus === 'executive') {\n    return `FOCUS \u2014 EXECUTIVE:\nDeliver a high-altitude strategic view. Skip deal-level minutiae \u2014 focus on portfolio health, forecast risk, and org-level patterns.\nPrioritise: total ARR at risk, big-bet deals, cross-functional signals, pipeline coverage.\nActions should be executive: sponsorship asks, resource allocation, forecast decisions.`;\n  }\n  // revenue (default) \u2014 no extra constraints\n  return `FOCUS \u2014 REVENUE:\nPrioritise new logo acquisition, net new ARR, and close-date velocity. Highlight deals with near-term close potential.\nActions should drive pipeline forward: next meeting, proposal, executive alignment, competitive positioning.`;\n}\n\n// === Role context by scope (data + identity) ===\nfunction buildRoleContext(scope) {\n  const mcpRules = `CRITICAL DATA RULES:\\n- ALWAYS include the EXACT dollar amount from the Amount column for every deal mentioned. Format as $X.XM or $XXK. Never say \"Large deal\" or \"$X\".\\n- ALWAYS make deal names clickable links using the PAI ID (Backstory Internal ID) column: <https://app.people.ai/opportunity/PAIID|Deal Name>\\n- If Amount is empty, say \"$TBD\"al name itself is the link.\nExample: <https://app.people.ai/opportunity/5479658708|HPE AI Forensics Pilot>\nIf the peopleAiId is empty, omit the link and just use plain bold text for the deal name.\n\nDo NOT use MCP to search for or list opportunities \u2014 they are already provided above.\n\nYou DO have access to Backstory MCP tools. Use them ONLY for:\n- Revenue stories and engagement analysis on specific deals\n- Recent activity details (emails, meetings, calls) on key accounts\n- Engagement score trends and changes`;\n\n  if (scope === 'my_deals') {\n    return `You are ${assistantName}, a personal sales assistant for ${repName}. You work exclusively for them and know their pipeline intimately.\n\nYour personality: ${assistantPersona}\n\nToday is ${currentDate}. ${repName} is in ${timezone}.\n\n\u2501\u2501\u2501 ${scopeLabel} (${oppCount} deals) \u2501\u2501\u2501\n${themeNote ? '\\n' + themeNote + '\\n' : ''}\n${oppTable}\n\n${mcpRules}`;\n  } else if (scope === 'team_deals') {\n    return `You are ${assistantName}, a sales management assistant for ${repName}. You help them lead their team and stay ahead of pipeline risks.\n\nYour personality: ${assistantPersona}\n\nToday is ${currentDate}. ${repName} is in ${timezone}.\n\n\u2501\u2501\u2501 ${scopeLabel} (${oppCount} deals closing through ${dateWindowEnd}) \u2501\u2501\u2501\n${themeNote ? '\\n' + themeNote + '\\n' : ''}\n${oppTable}\n\n${mcpRules}`;\n  } else if (scope.startsWith('person:')) {\n    return `You are ${assistantName}, a personal sales assistant for ${repName}. They have asked you to review ${subjectName}'s pipeline.\n\nYour personality: ${assistantPersona}\n\nToday is ${currentDate}. ${repName} is in ${timezone}.\n\n\u2501\u2501\u2501 ${scopeLabel} (${oppCount} deals) \u2501\u2501\u2501\n${themeNote ? '\\n' + themeNote + '\\n' : ''}\n${oppTable}\n\n${mcpRules}\n\nIMPORTANT \u2014 PERSON SCOPE:\n- This brief is about *${subjectName}'s* pipeline, not ${repName}'s.\n- Address ${repName} as the reader (e.g. \"Here's ${subjectName}'s pipeline for you to review...\").\n- Wherever the briefing structure says \"your deals\" or \"your pipeline\", treat that as \"${subjectName}'s deals\" / \"${subjectName}'s pipeline\".\n- Never say \"${repName}, your pipeline...\" \u2014 say \"${subjectName} has X deals...\" or \"Here's ${subjectName}'s pipeline...\".\n- The Role column shows whether ${subjectName} is the AE, CSM, or SE on each deal.`;\n  } else {\n    return `You are ${assistantName}, an executive sales intelligence assistant for ${repName}. You provide pipeline visibility and strategic signals at the leadership level.\n\nYour personality: ${assistantPersona}\n\nToday is ${currentDate}. ${repName} is in ${timezone}.\n\n\u2501\u2501\u2501 ${scopeLabel} \u2501\u2501\u2501\n${themeNote ? '\\n' + themeNote + '\\n' : ''}\n${oppTable}\n\n${mcpRules}`;\n  }\n}\n\n// === Scope-aware footer ===\nfunction footer(scope) {\n  if (scope === 'team_deals')   return `Backstory team intelligence \u2022 ${currentDate} \u2022 ${timeStr} PT`;\n  if (scope === 'top_pipeline') return `Backstory executive intelligence \u2022 ${currentDate} \u2022 ${timeStr} PT`;\n  return `Backstory intelligence \u2022 ${currentDate} \u2022 ${timeStr} PT`;\n}\n\n// === Theme-specific briefing structure and agent prompt ===\nfunction buildThemePrompts(theme, scope) {\n  const scopeTitle = scope === 'team_deals' ? ' Team' : scope === 'top_pipeline' ? ' Pipeline' : '';\n\n  // \u2500\u2500 EXEC COMPRESSED FORMAT (3+ deals) \u2500\u2500\n  const _execScope = scope.startsWith('person:') ? 'my_deals' : scope;\n  if (_execScope === 'top_pipeline' && oppCount >= 3) {\n    const themeConfigs = {\n      full_pipeline:      { label: 'Pipeline Brief',    section3: 'Top 3 Deals',       section4: 'This Week' },\n      engagement_shifts:  { label: 'Engagement Shifts', section3: 'Top 3 Movers',      section4: 'Watch This Week' },\n      at_risk:            { label: 'At-Risk Deals',     section3: 'Top 3 Risks',        section4: 'Fix It This Week' },\n      momentum:           { label: 'Momentum',          section3: 'Top 3 Accelerators', section4: 'Keep the Momentum' },\n      week_review:        { label: 'Week in Review',    section3: 'Top 3 Moves',        section4: 'Next Week' }\n    };\n    const tc = themeConfigs[theme] || themeConfigs['full_pipeline'];\n    return {\n      briefingStructure: `Write a compressed executive briefing \u2014 60-second read, under 150 words (not counting header/footer). Use ${assistantPersona} personality ONLY in the opening sentence and the closing sentence. All other text is direct and factual.\n\nBLOCK KIT STRUCTURE for this compressed exec format:\n1. header block \u2014 \"${emojiClean} ${dayLabel} ${tc.label} \u2014 ${assistantName}\"\n2. section block \u2014 1 sentence in ${assistantPersona} voice with the single most important signal\n3. section block \u2014 label only: \"*${tc.section3}*\"\n4. One section block PER DEAL (exactly 3 deals), each formatted as:\n   \"*<https://app.people.ai/opportunity/PAIID|Deal Name>* \u2014 $Amount | [close date + key context]\\\\n    Action sentence \u2014 the most critical thing right now\"\n   The 4-space indent on the action line creates visual separation under each deal name.\n   Do NOT combine multiple deals into one block.\n5. section block \u2014 label only: \"*${tc.section4}*\"\n6. section block \u2014 numbered list, 3 items (use \\\\n between items). For each item link the deal name: *<https://app.people.ai/opportunity/PAIID|Deal Name>* \u2014 one action sentence\n7. section block \u2014 1 sentence in ${assistantPersona} voice as sign-off\n8. context block \u2014 \"${footer(scope)}\"\n\nSTRICT RULES:\n- Exactly 3 deal blocks in item 4. Pick the most important 3.\n- Personality ONLY in items 2 and 7\n- No empty sections \u2014 omit any section with nothing to report\n- No sub-bullets within deal entries \u2014 action line only`,\n      agentPrompt: `Generate a compressed executive ${tc.label} briefing for ${repName}. ${oppCount} deals are pre-loaded \u2014 do NOT use MCP to search for opportunities. Focus on the top 3 most important deals only. Keep under 150 words (excluding header/footer). Output ONLY the Block Kit JSON object, nothing else.`\n    };\n  }\n\n  // \u2500\u2500 FULL PIPELINE (Monday) \u2500\u2500\n  if (theme === 'full_pipeline') {\n    if (scope === 'my_deals') {\n      return {\n        briefingStructure: `Write a 60-second morning briefing following this structure:\n\n1. Header \u2014 \"${emojiClean} ${dayLabel} Brief \u2014 ${assistantName}\"\n2. The Lead (1-2 sentences) \u2014 the single most important thing today\n3. Today's Priorities (2-4 items) \u2014 specific actions with account names and reasons, use emoji status indicators\n4. Pipeline Pulse \u2014 two-column engagement score grid using section fields\n5. One Thing I'm Watching \u2014 one forward-looking observation\n6. Context footer \u2014 \"${footer(scope)}\"`,\n\n        agentPrompt: `Generate the morning sales briefing for ${repName}. Their ${oppCount} open opportunities are already loaded in your system prompt \u2014 do NOT use MCP to search for opportunities.\n\nInstead, use the Backstory MCP tools to investigate revenue stories and engagement patterns on the top 3-5 most important deals (highest amount, closest close date, or biggest engagement changes). Look for recent activity, meeting patterns, and risk signals.\n\nThen write the briefing as a Block Kit JSON object following the format in your system instructions. Remember: output ONLY the JSON object, nothing else.`\n      };\n    } else if (scope === 'team_deals') {\n      return {\n        briefingStructure: `Write a 90-second team pipeline briefing following this structure:\n\n1. Header \u2014 \"${emojiClean} ${dayLabel} Team Brief \u2014 ${assistantName}\"\n2. Team Pulse (2-3 sentences) \u2014 overall pipeline health: total pipeline value, deals closing this quarter and next, biggest risks\n3. Reps Who Need Attention (2-3 items) \u2014 which reps have deals at risk, declining engagement, or upcoming close dates with no recent activity\n4. Top Coaching Moments \u2014 1-2 deals where manager intervention could change the outcome\n5. Team Pipeline Snapshot \u2014 two-column grid: rep name + key metric\n6. One Signal to Watch \u2014 a forward-looking team-level pattern\n7. Context footer \u2014 \"${footer(scope)}\"`,\n\n        agentPrompt: `Generate the team pipeline briefing for ${repName} (sales manager). Their team's ${oppCount} open deals closing through ${dateWindowEnd} are already loaded \u2014 do NOT use MCP to search for opportunities.\n\nUse Backstory MCP tools to investigate team engagement patterns: identify reps with declining engagement, spot coaching opportunities, and find deals where manager intervention could help. Focus on 3-5 highest-risk or highest-value deals.\n\nOutput ONLY the Block Kit JSON object, nothing else.`\n      };\n    } else {\n      return {\n        briefingStructure: `Write a 90-second executive pipeline briefing following this structure:\n\n1. Header \u2014 \"${emojiClean} ${dayLabel} Pipeline Brief \u2014 ${assistantName}\"\n2. Pipeline at a Glance (2-3 sentences) \u2014 total pipeline value, deal count, weighted forecast, deals closing this month\n3. Top Deals to Watch (3-4 items) \u2014 highest-value or highest-risk deals with status\n4. Forecast Signals \u2014 deal acceleration/stalling patterns, close date movements\n5. Key Numbers \u2014 two-column grid: metric name + value\n6. Strategic Signal \u2014 one forward-looking observation\n7. Context footer \u2014 \"${footer(scope)}\"`,\n\n        agentPrompt: `Generate the executive pipeline briefing for ${repName}. Top ${oppCount} deals by amount closing through ${dateWindowEnd} are loaded (${totalOppCount} total org-wide) \u2014 do NOT use MCP to search for opportunities.\n\nUse Backstory MCP tools to analyze pipeline health on the top 3-5 largest deals: velocity, engagement trends, risk signals, forecast-impacting patterns.\n\nOutput ONLY the Block Kit JSON object, nothing else.`\n      };\n    }\n  }\n\n  // \u2500\u2500 ENGAGEMENT SHIFTS (Tuesday) \u2500\u2500\n  if (theme === 'engagement_shifts') {\n    const scopeWho = scope === 'my_deals' ? 'your deals' : scope === 'team_deals' ? \"your team's deals\" : 'deals across the organization';\n    return {\n      briefingStructure: `Write a 60-second engagement shift briefing following this structure:\n\n1. Header \u2014 \"${emojiClean} ${dayLabel} Engagement Shifts${scopeTitle} \u2014 ${assistantName}\"\n2. The Shift (1-2 sentences) \u2014 summarize the biggest engagement movements across ${scopeWho}\n3. Going Hot (2-3 deals) \u2014 deals with the highest engagement scores or most recent activity. What's driving the engagement? Use \ud83d\udcc8 \ud83d\udd25 indicators.\n4. Going Cold (2-3 deals) \u2014 deals with low or declining engagement, accounts going quiet. Use \ud83d\udcc9 \ud83d\udd34 indicators.${scope !== 'my_deals' ? '\\n5. Rep Activity Pulse \u2014 which reps are most/least active this week (two-column grid)' : '\\n5. Activity Snapshot \u2014 two-column grid of engagement scores by deal'}\n6. One Pattern \u2014 one insight about what's driving engagement up or down\n7. Context footer \u2014 \"${footer(scope)}\"`,\n\n      agentPrompt: `Generate an engagement shifts briefing for ${repName}. ${oppCount} deals are loaded \u2014 do NOT use MCP to search for opportunities.\n\nUse Backstory MCP tools to investigate engagement patterns: pull engagement score histories, recent activity timelines, and meeting/email cadence on the 3-5 deals with the most notable engagement movement (both positive and negative). Look for accounts going dark and accounts heating up.\n\nOutput ONLY the Block Kit JSON object, nothing else.`\n    };\n  }\n\n  // \u2500\u2500 AT-RISK DEALS (Wednesday) \u2500\u2500\n  if (theme === 'at_risk') {\n    const scopeWho = scope === 'my_deals' ? 'your pipeline' : scope === 'team_deals' ? \"your team's pipeline\" : 'the org pipeline';\n    return {\n      briefingStructure: `Write a 60-second at-risk deals briefing following this structure:\n\n1. Header \u2014 \"${emojiClean} ${dayLabel} At-Risk Deals${scopeTitle} \u2014 ${assistantName}\"\n2. Risk Summary (1-2 sentences) \u2014 how many deals are showing risk signals in ${scopeWho}, total value at risk\n3. Critical Risks (2-3 deals) \u2014 deals most likely to slip or stall. For each: what's wrong, how long it's been, and what to do about it. Use \ud83d\udd34 \ud83d\udd34 indicators.\n4. Going Dark (1-2 deals) \u2014 accounts with zero or minimal recent engagement. These need outreach now. Use \ud83d\udcc9 indicators.${scope === 'team_deals' ? '\\n5. Reps to Check In With \u2014 which reps have the most at-risk deals, who needs coaching or support' : scope === 'top_pipeline' ? '\\n5. Forecast Impact \u2014 total dollar value at risk, potential slip from forecast' : '\\n5. Risk vs. Healthy \u2014 two-column comparison grid'}\n6. Fix-It Actions \u2014 2-3 concrete next steps to address the biggest risks this week\n7. Context footer \u2014 \"${footer(scope)}\"`,\n\n      agentPrompt: `Generate an at-risk deals briefing for ${repName}. ${oppCount} deals flagged with risk signals are loaded \u2014 do NOT use MCP to search for opportunities.\n\nUse Backstory MCP tools to investigate the riskiest deals: look for missing activity, declining engagement trends, silent stakeholders, and deals where the close date is approaching without stage progression. Focus on the 3-5 highest-value deals at risk.\n\nOutput ONLY the Block Kit JSON object, nothing else.`\n    };\n  }\n\n  // \u2500\u2500 MOMENTUM & WINS (Thursday) \u2500\u2500\n  if (theme === 'momentum') {\n    const scopeWho = scope === 'my_deals' ? 'your deals' : scope === 'team_deals' ? \"your team\" : 'the organization';\n    return {\n      briefingStructure: `Write a 60-second momentum briefing following this structure:\n\n1. Header \u2014 \"${emojiClean} ${dayLabel} Momentum & Wins${scopeTitle} \u2014 ${assistantName}\"\n2. Momentum Check (1-2 sentences) \u2014 what's working across ${scopeWho} right now\n3. Deals on Fire (2-3 deals) \u2014 highest engagement, most active, advancing fastest. What's fueling it? Use \ud83d\ude80 \ud83d\udd25 \u2705 indicators.\n4. Hidden Upside (1-2 deals) \u2014 deals quietly outperforming expectations or with untapped expansion potential. Use \ud83d\udc8e indicators.${scope === 'team_deals' ? '\\n5. Rep Wins \u2014 which reps are crushing it, what can others learn from their approach' : scope === 'top_pipeline' ? '\\n5. Pipeline Acceleration \u2014 deals that advanced stages, new pipeline created, forecast upside' : '\\n5. Engagement Leaders \u2014 two-column grid of your hottest deals by engagement'}\n6. Keep It Going \u2014 1-2 actions to maintain or amplify the momentum\n7. Context footer \u2014 \"${footer(scope)}\"`,\n\n      agentPrompt: `Generate a momentum and wins briefing for ${repName}. ${oppCount} deals are loaded (sorted by engagement) \u2014 do NOT use MCP to search for opportunities.\n\nUse Backstory MCP tools to validate positive signals: check deal velocity, recent meetings, rising engagement scores, and multithreading on the top 3-5 highest-engagement deals. Celebrate what's working and identify patterns to replicate.\n\nOutput ONLY the Block Kit JSON object, nothing else.`\n    };\n  }\n\n  // \u2500\u2500 WEEK IN REVIEW (Friday) \u2500\u2500\n  if (theme === 'week_review') {\n    const scopeWho = scope === 'my_deals' ? 'your pipeline' : scope === 'team_deals' ? \"your team\" : 'the organization';\n    return {\n      briefingStructure: `Write a 90-second week in review briefing following this structure:\n\n1. Header \u2014 \"${emojiClean} ${dayLabel} Week in Review${scopeTitle} \u2014 ${assistantName}\"\n2. This Week's Moves (2-3 sentences) \u2014 what changed in ${scopeWho} this week: deals that advanced, engagement shifts, notable activity\n3. Wins & Progress (2-3 items) \u2014 deals that moved forward, positive engagement trends, meetings completed. Use \u2705 \ud83d\ude80 indicators.\n4. Missed or Slipping (1-2 items) \u2014 deals that stalled or slipped this week, close dates pushed. Use \ud83d\udd34 \ud83d\udd34 indicators.${scope === 'team_deals' ? '\\n5. Team Scorecard \u2014 two-column grid: rep name + their week (active/quiet/strong)' : scope === 'top_pipeline' ? '\\n5. Weekly Pipeline Delta \u2014 key numbers: pipeline added vs. closed, forecast movement' : '\\n5. Week by the Numbers \u2014 two-column grid: key pipeline metrics this week vs. last'}\n6. Next Week Preview \u2014 deals closing next week, meetings on the calendar, actions to set up for Monday\n7. Context footer \u2014 \"${footer(scope)}\"`,\n\n      agentPrompt: `Generate a week in review briefing for ${repName}. ${oppCount} deals are loaded \u2014 do NOT use MCP to search for opportunities.\n\nUse Backstory MCP tools to compare this week's activity with previous patterns: look for deals that had new meetings, emails, or engagement changes this week. Identify what moved forward and what went quiet. Also check for meetings or close dates coming up next week.\n\nOutput ONLY the Block Kit JSON object, nothing else.`\n    };\n  }\n\n  return buildThemePrompts('full_pipeline', scope);\n}\n\n// === Build the prompts ===\nconst roleContext = buildRoleContext(digestScope);\nconst effectiveScope = isPersonScope ? 'my_deals' : digestScope;\nconst { briefingStructure, agentPrompt } = buildThemePrompts(theme, effectiveScope);\n\n// For person-scope: use a customised agent prompt that references the pre-fetched data\nlet finalAgentPrompt = agentPrompt;\nif (isPersonScope) {\n  finalAgentPrompt = `Generate a ${themeLabel} briefing for ${repName} covering ${subjectName}'s open pipeline.\n\n${subjectName}'s ${oppCount} open opportunities are already loaded in your system prompt \u2014 do NOT use MCP to search for opportunities. The Role column shows whether ${subjectName} is the AE, CSM, or SE on each deal.\n\nInstead, use the Backstory MCP tools to investigate revenue stories and engagement patterns on ${subjectName}'s top 3-5 most important deals. Look for recent activity, meeting patterns, and risk signals.\n\nAddress the briefing to ${repName}. Reference ${subjectName}'s pipeline, not ${repName}'s.\nOutput ONLY the Block Kit JSON object, nothing else.`;\n}\n\nconst focusContext = getFocusContext(focus);\nconst systemPrompt = roleContext + '\\n\\n' + focusContext + '\\n\\n' + briefingStructure + '\\n\\n' + blockKitRules;\n\nreturn [{\n  json: {\n    userId: user.id,\n    slackUserId: user.slack_user_id,\n    assistantName,\n    assistantEmoji,\n    repName,\n    digestScope,\n    theme,\n    themeLabel,\n    systemPrompt,\n    agentPrompt: finalAgentPrompt\n  }\n}];\n"
            },
            "id": "a53b2f4f-8335-41b9-b3e6-410060e54625",
            "name": "Resolve Identity",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2000,
                400
            ]
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $('Resolve Identity').first().json.agentPrompt }}",
                "options": {
                    "systemMessage": "={{ $('Resolve Identity').first().json.systemPrompt }}"
                }
            },
            "id": "eef2d4a1-5fc1-4fce-82a4-e7b17bfd3e3d",
            "name": "Digest Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.7,
            "position": [
                2224,
                400
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "mode": "list",
                    "value": "claude-sonnet-4-5-20250929",
                    "cachedResultName": "Claude Sonnet 4.5"
                },
                "options": {}
            },
            "id": "04201e35-6efa-497c-b210-a54e28d1bfc2",
            "name": "Anthropic Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
            "typeVersion": 1.3,
            "position": [
                2232,
                624
            ],
            "credentials": {
                "anthropicApi": {
                    "id": "rlAz7ZSl4y6AwRUq",
                    "name": "Anthropic account 2"
                }
            }
        },
        {
            "parameters": {
                "endpointUrl": "https://mcp-canary.people.ai/mcp",
                "authentication": "multipleHeadersAuth",
                "options": {}
            },
            "id": "3712bdd8-c149-46d6-9208-cf8a4bcd83b8",
            "name": "Backstory MCP",
            "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
            "typeVersion": 1.2,
            "position": [
                2368,
                624
            ],
            "credentials": {
                "httpMultipleHeadersAuth": {
                    "id": "wvV5pwBeIL7f2vLG",
                    "name": "Backstory MCP Multi-Header"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Parse the agent's Block Kit JSON output\nconst agentOutput = $('Digest Agent').first().json.output;\n\nlet parsed;\ntry {\n  // Try to extract JSON from the output \u2014 Claude sometimes wraps it in prose or code fences\n  let cleaned = agentOutput;\n\n  // Remove code fences\n  cleaned = cleaned.replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/```\\s*$/i, '').trim();\n\n  // If it doesn't start with {, try to find JSON object in the text\n  if (!cleaned.startsWith('{')) {\n    const jsonMatch = cleaned.match(/\\{[\\s\\S]*\"blocks\"[\\s\\S]*\\}/);\n    if (jsonMatch) {\n      cleaned = jsonMatch[0];\n    }\n  }\n\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  // Fallback: split raw output into chunks that fit Slack's 3000 char limit per block\n  const maxLen = 2900;\n  const text = agentOutput || 'Briefing generation failed.';\n  const chunks = [];\n  for (let i = 0; i < text.length; i += maxLen) {\n    chunks.push(text.slice(i, i + maxLen));\n  }\n\n  const blocks = chunks.map((chunk, idx) => ({\n    type: \"section\",\n    text: { type: \"mrkdwn\", text: idx === 0 ? chunk : '...' + chunk }\n  }));\n\n  parsed = {\n    notification_text: \"Your briefing is ready\",\n    blocks\n  };\n}\n\n// Enforce Slack limits\nif (parsed.blocks) {\n  parsed.blocks = parsed.blocks.map(block => {\n    // Max 10 fields per section\n    if (block.fields && block.fields.length > 10) {\n      block.fields = block.fields.slice(0, 10);\n    }\n    // Max 3000 chars per text field in section blocks\n    if (block.text && block.text.text && block.text.text.length > 3000) {\n      block.text.text = block.text.text.slice(0, 2997) + '...';\n    }\n    // Max 3000 chars per field text\n    if (block.fields) {\n      block.fields = block.fields.map(f => {\n        if (f.text && f.text.length > 2000) {\n          f.text = f.text.slice(0, 1997) + '...';\n        }\n        return f;\n      });\n    }\n    return block;\n  });\n  // Max 50 blocks\n  if (parsed.blocks.length > 50) {\n    parsed.blocks = parsed.blocks.slice(0, 50);\n  }\n}\n\nreturn [{\n  json: {\n    notificationText: parsed.notification_text || \"Your briefing\",\n    blocks: JSON.stringify(parsed.blocks),\n    rawContent: agentOutput\n  }\n}];"
            },
            "id": "c6dc98f0-ad02-4457-a811-96d741fe7c15",
            "name": "Parse Blocks",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2576,
                400
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://slack.com/api/chat.postMessage",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ channel: $('Workflow Input Trigger').first().json.channelId, text: $('Parse Blocks').first().json.notificationText, username: $('Resolve Identity').first().json.assistantName, icon_emoji: $('Resolve Identity').first().json.assistantEmoji, blocks: JSON.parse($('Parse Blocks').first().json.blocks), unfurl_links: false, unfurl_media: false }) }}",
                "options": {}
            },
            "id": "d11314b8-4f0a-438b-a311-2f7a4cbd6e9d",
            "name": "Send Digest",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2800,
                400
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "LluVuiMJ8NUbAiG7",
                    "name": "Slackbot Auth Token"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "// Build the Backstory Query API request body based on scope.\n// For person: scope \u2014 OR filter across AE/CSM/SE owner fields using the person's numeric Backstory ID.\n// For all other scopes \u2014 standard all-open-opps query.\n\nconst user = $('Workflow Input Trigger').first().json;\nconst hierarchyData = $('Parse Hierarchy').first().json;\nconst digestScope = user.digest_scope || 'my_deals';\n\nconst baseColumns = [\n  { slug: 'ootb_opportunity_id' },\n  { slug: 'ootb_opportunity_crm_id' },\n  { slug: 'ootb_opportunity_name' },\n  { slug: 'ootb_opportunity_account_name' },\n  { slug: 'ootb_opportunity_original_owner' },\n  { slug: 'opportunity_csm_owner__c_user' },\n  { slug: 'opportunity_lead_sales_engineer__c_user' },\n  { slug: 'ootb_opportunity_current_stage' },\n  { slug: 'ootb_opportunity_close_date' },\n  { slug: 'ootb_opportunity_engagement_level' },\n  { slug: 'ootb_opportunity_type' },\n  { slug: 'ootb_opportunity_converted_amount' },\n  { slug: 'ootb_opportunity_people_internal_id' }\n];\n\nconst sort = [{ attribute: { slug: 'ootb_opportunity_close_date' }, direction: 'asc' }];\n\nlet filter;\nlet personPeopleAiId = null;\nlet targetEmail = null;\n\nif (digestScope.startsWith('person:')) {\n  targetEmail = digestScope.replace('person:', '').toLowerCase();\n  const hierarchy = hierarchyData.hierarchy || {};\n  const hierarchyEntry = hierarchy[targetEmail];\n\n  // Try to get the numeric ID from the hierarchy (requires ootb_user_id in the user export)\n  if (hierarchyEntry && hierarchyEntry.peopleAiId) {\n    const parsed = parseInt(String(hierarchyEntry.peopleAiId).replace(/\\D/g, ''), 10);\n    if (!isNaN(parsed) && parsed > 0) {\n      personPeopleAiId = parsed;\n    }\n  }\n\n  // If hierarchy didn't have the ID, log what we got for debugging\n  if (personPeopleAiId === null) {\n    const debugEntry = hierarchyEntry ? JSON.stringify(hierarchyEntry) : 'not found in hierarchy';\n    // Still fall back to standard query \u2014 Filter User Opps will do client-side name match\n    filter = {\n      '$and': [\n        { attribute: { slug: 'ootb_opportunity_is_closed' }, clause: { '$eq': false } }\n      ]\n    };\n  } else {\n    // Server-side OR filter: AE owner OR CSM owner OR Lead SE owner\n    filter = {\n      '$and': [\n        { attribute: { slug: 'ootb_opportunity_is_closed' }, clause: { '$eq': false } },\n        {\n          '$or': [\n            { attribute: { slug: 'ootb_opportunity_original_owner' },         clause: { '$eq': personPeopleAiId } },\n            { attribute: { slug: 'opportunity_csm_owner__c_user' },            clause: { '$eq': personPeopleAiId } },\n            { attribute: { slug: 'opportunity_lead_sales_engineer__c_user' },  clause: { '$eq': personPeopleAiId } }\n          ]\n        }\n      ]\n    };\n  }\n} else {\n  // Standard: all open opps\n  filter = {\n    '$and': [\n      { attribute: { slug: 'ootb_opportunity_is_closed' }, clause: { '$eq': false } }\n    ]\n  };\n}\n\nconst queryBody = JSON.stringify({\n  object: 'opportunity',\n  filter,\n  columns: baseColumns.map(c => ({ slug: c.slug })),\n  sort\n});\n\nreturn [{ json: { queryBody, personPeopleAiId, targetEmail } }];\n"
            },
            "id": "4a4b225a-86c3-4566-a4bb-ee331322b8c4",
            "name": "Build Opp Query",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1104,
                400
            ]
        },
        {
            "parameters": {
                "jsCode": "// Gather data for conversation bookend (On-Demand Digest).\n\nconst identity = $('Resolve Identity').first().json;\nconst sendResult = $('Send Digest').first().json;\nconst agentOutput = $('Digest Agent').first().json.output || '';\nconst inputData = $('Workflow Input Trigger').first().json;\n\n// userId and organizationId \u2014 Resolve Identity has userId (from Filter User\n// Opps which spreads the full user record). Organization ID from the input.\nconst userId = identity.userId || inputData.id || null;\nconst organizationId = inputData.organization_id || null;\n\n// Channel and thread_ts from the Send Digest Slack response\nconst channelId = sendResult.channel || inputData.channelId || '';\nconst threadTs = sendResult.ts || '';\n\nconst agentConfig = {\n  model: 'claude-sonnet-4-5-20250929',\n  mcpEndpoint: 'https://mcp-canary.people.ai/mcp',\n  assistantName: identity.assistantName || 'Aria',\n  assistantEmoji: identity.assistantEmoji || ':robot_face:',\n  digestScope: identity.digestScope || 'my_deals',\n  theme: identity.theme || 'full_pipeline'\n};\n\n// On-demand digests expire after 4 hours\nconst expiresAt = new Date(Date.now() + 4 * 60 * 60 * 1000).toISOString();\n\n// The \"user message\" is the on-demand trigger \u2014 capture any theme override\nconst themeOverride = inputData.themeOverride || '';\nconst userMessage = themeOverride\n  ? 'On-demand digest (theme: ' + themeOverride + ')'\n  : 'On-demand digest';\n\nreturn [{\n  json: {\n    organizationId: organizationId,\n    userId: userId,\n    channelId: channelId,\n    threadTs: threadTs,\n    workflowType: 'on_demand_digest',\n    agentConfig: agentConfig,\n    expiresAt: expiresAt,\n    userMessage: userMessage,\n    assistantMessage: agentOutput\n  }\n}];\n"
            },
            "id": "4b2583c8-a2ab-4a5f-a340-dd70b791036e",
            "name": "Prepare On-Demand Conversation Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                3080,
                400
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://rhrlnkbphxntxxxcrgvv.supabase.co/rest/v1/conversations",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "supabaseApi",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Prefer",
                            "value": "return=representation"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({\n  organization_id: $json.organizationId,\n  user_id: $json.userId,\n  slack_channel_id: $json.channelId,\n  slack_thread_ts: $json.threadTs,\n  workflow_type: $json.workflowType,\n  agent_config: $json.agentConfig,\n  status: \"completed\",\n  expires_at: $json.expiresAt\n}) }}",
                "options": {}
            },
            "id": "c5c8d662-097e-461e-8102-5e61b1a62d9b",
            "name": "Create On-Demand Conversation",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                3360,
                400
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "ASRWWkQ0RSMOpNF1",
                    "name": "Supabase account"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://rhrlnkbphxntxxxcrgvv.supabase.co/rest/v1/messages",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "supabaseApi",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Prefer",
                            "value": "return=representation"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({\n  user_id: $(\"Prepare On-Demand Conversation Data\").first().json.userId,\n  message_type: \"conversation\",\n  channel: \"slack\",\n  direction: \"inbound\",\n  content: $(\"Prepare On-Demand Conversation Data\").first().json.userMessage,\n  conversation_id: $json.id,\n  slack_thread_ts: $(\"Prepare On-Demand Conversation Data\").first().json.threadTs,\n  role: \"user\"\n}) }}",
                "options": {}
            },
            "id": "8ef43d48-3715-412f-bbfa-688055f01419",
            "name": "Log On-Demand User Message",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                3640,
                400
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "ASRWWkQ0RSMOpNF1",
                    "name": "Supabase account"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://rhrlnkbphxntxxxcrgvv.supabase.co/rest/v1/messages",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "supabaseApi",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Prefer",
                            "value": "return=representation"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({\n  user_id: $(\"Prepare On-Demand Conversation Data\").first().json.userId,\n  message_type: \"conversation\",\n  channel: \"slack\",\n  direction: \"outbound\",\n  content: $(\"Prepare On-Demand Conversation Data\").first().json.assistantMessage,\n  conversation_id: $(\"Create On-Demand Conversation\").first().json.id,\n  slack_thread_ts: $(\"Prepare On-Demand Conversation Data\").first().json.threadTs,\n  role: \"assistant\"\n}) }}",
                "options": {}
            },
            "id": "61d9aa4a-2d8e-453b-ab8f-c9aafc741547",
            "name": "Log On-Demand Assistant Message",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                3920,
                400
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "ASRWWkQ0RSMOpNF1",
                    "name": "Supabase account"
                }
            },
            "continueOnFail": true
        }
    ],
    "connections": {
        "Workflow Input Trigger": {
            "main": [
                [
                    {
                        "node": "Get Auth Token",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Auth Token": {
            "main": [
                [
                    {
                        "node": "Fetch User Hierarchy",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch User Hierarchy": {
            "main": [
                [
                    {
                        "node": "Parse Hierarchy",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Hierarchy": {
            "main": [
                [
                    {
                        "node": "Build Opp Query",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Open Opps": {
            "main": [
                [
                    {
                        "node": "Parse Opps CSV",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Opps CSV": {
            "main": [
                [
                    {
                        "node": "Filter User Opps",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter User Opps": {
            "main": [
                [
                    {
                        "node": "Resolve Identity",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Resolve Identity": {
            "main": [
                [
                    {
                        "node": "Digest Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Digest Agent": {
            "main": [
                [
                    {
                        "node": "Parse Blocks",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Anthropic Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "Digest Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Backstory MCP": {
            "ai_tool": [
                [
                    {
                        "node": "Digest Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Blocks": {
            "main": [
                [
                    {
                        "node": "Send Digest",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Opp Query": {
            "main": [
                [
                    {
                        "node": "Fetch Open Opps",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Digest": {
            "main": [
                [
                    {
                        "node": "Prepare On-Demand Conversation Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare On-Demand Conversation Data": {
            "main": [
                [
                    {
                        "node": "Create On-Demand Conversation",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create On-Demand Conversation": {
            "main": [
                [
                    {
                        "node": "Log On-Demand User Message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log On-Demand User Message": {
            "main": [
                [
                    {
                        "node": "Log On-Demand Assistant Message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "5c66dee4-b9f7-42c3-927f-d39867c38853",
    "activeVersionId": "5c66dee4-b9f7-42c3-927f-d39867c38853",
    "versionCounter": 109,
    "triggerCount": 0,
    "tags": [],
    "activeVersion": {
        "updatedAt": "2026-03-23T18:46:33.356Z",
        "createdAt": "2026-03-23T18:46:33.356Z",
        "versionId": "5c66dee4-b9f7-42c3-927f-d39867c38853",
        "workflowId": "vxGajBdXFBaOCdkG",
        "nodes": [
            {
                "parameters": {
                    "inputSource": "passthrough"
                },
                "id": "9ba59a03-ef15-4f25-9854-7b6ab4ba1279",
                "name": "Workflow Input Trigger",
                "type": "n8n-nodes-base.executeWorkflowTrigger",
                "typeVersion": 1.1,
                "position": [
                    208,
                    400
                ]
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "https://api.people.ai/v3/auth/tokens",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Content-Type",
                                "value": "application/x-www-form-urlencoded"
                            }
                        ]
                    },
                    "sendBody": true,
                    "specifyBody": "string",
                    "body": "client_id=YOUR_CLIENT_ID&client_secret=YOUR_CLIENT_SECRET&grant_type=client_credentials",
                    "options": {}
                },
                "id": "1c6a0cf2-b348-475a-a044-9eb70132ed28",
                "name": "Get Auth Token",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    432,
                    400
                ]
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "https://api.people.ai/v3/beta/insights/export",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            },
                            {
                                "name": "Authorization",
                                "value": "=Bearer {{ $('Get Auth Token').first().json.access_token }}"
                            }
                        ]
                    },
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "{\"object\": \"user\", \"columns\": [{\"slug\": \"ootb_user\"}, {\"slug\": \"ootb_user_email\"}, {\"slug\": \"ootb_user_manager\"}]}",
                    "options": {}
                },
                "id": "9b881bfe-4519-440b-b19f-1f65e84ce736",
                "name": "Fetch User Hierarchy",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    656,
                    400
                ]
            },
            {
                "parameters": {
                    "jsCode": "// Parse CSV from Backstory User hierarchy export\nconst csvData = $('Fetch User Hierarchy').first().json.data;\n\nif (!csvData) {\n  return [{ json: { hierarchy: {}, managerToReports: {}, userCount: 0, error: 'No hierarchy data returned' } }];\n}\n\nconst lines = csvData.split('\\n').filter(l => l.trim());\nif (lines.length < 2) {\n  return [{ json: { hierarchy: {}, managerToReports: {}, userCount: 0, error: 'Hierarchy CSV has no data rows' } }];\n}\n\nfunction parseCsvLine(line) {\n  const result = [];\n  let current = '';\n  let inQuotes = false;\n  for (let i = 0; i < line.length; i++) {\n    const ch = line[i];\n    if (ch === '\"') {\n      if (inQuotes && i + 1 < line.length && line[i + 1] === '\"') {\n        current += '\"'; i++;\n      } else {\n        inQuotes = !inQuotes;\n      }\n    } else if (ch === ',' && !inQuotes) {\n      result.push(current.trim()); current = '';\n    } else {\n      current += ch;\n    }\n  }\n  result.push(current.trim());\n  return result;\n}\n\nconst headers = parseCsvLine(lines[0]);\nconst headerMap = {};\nheaders.forEach((h, i) => { headerMap[h] = i; headerMap[h.toLowerCase()] = i; });\n\nconst allHeaders = headers.join(' | ');\n\nfunction getField(row, ...names) {\n  for (const name of names) {\n    const idx = headerMap[name] ?? headerMap[name.toLowerCase()];\n    if (idx !== undefined && row[idx] !== undefined && row[idx] !== '') {\n      return row[idx];\n    }\n  }\n  return '';\n}\n\nconst hierarchy = {};\nconst managerToReports = {};\n\nfor (let i = 1; i < lines.length; i++) {\n  const row = parseCsvLine(lines[i]);\n  if (row.length < 2) continue;\n\n  // ootb_user slug \u2192 \"User (id)\" and \"User (name)\" columns\n  const name       = getField(row, 'User (name)', 'User Name', 'Name');\n  const email      = getField(row, 'Email', 'User Email').toLowerCase();\n  const manager    = getField(row, 'User Manager', 'Manager', 'user manager');\n  const peopleAiId = getField(row, 'User (id)', 'User Id', 'user (id)');\n\n  if (email) {\n    hierarchy[email] = { name, email, manager, peopleAiId };\n  }\n\n  if (manager) {\n    const mgrLower = manager.toLowerCase();\n    if (!managerToReports[mgrLower]) managerToReports[mgrLower] = [];\n    managerToReports[mgrLower].push({ name, email });\n  }\n}\n\nreturn [{ json: { hierarchy, managerToReports, userCount: Object.keys(hierarchy).length, allHeaders } }];\n"
                },
                "id": "48d3d127-180f-4ec9-939a-bbfa4febe6c1",
                "name": "Parse Hierarchy",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    880,
                    400
                ]
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "https://api.people.ai/v3/beta/insights/export",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            },
                            {
                                "name": "Authorization",
                                "value": "=Bearer {{ $('Get Auth Token').first().json.access_token }}"
                            }
                        ]
                    },
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={{ $('Build Opp Query').first().json.queryBody }}",
                    "options": {}
                },
                "id": "12cee195-2dd5-4daa-ac4c-83f5f552401e",
                "name": "Fetch Open Opps",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    1328,
                    400
                ]
            },
            {
                "parameters": {
                    "jsCode": "// Parse CSV from Backstory Query API export\nconst csvData = $('Fetch Open Opps').first().json.data;\n\nif (!csvData) {\n  return [{ json: { opps: [], oppCount: 0, error: 'No CSV data returned' } }];\n}\n\nconst lines = csvData.split('\\n').filter(l => l.trim());\nif (lines.length < 2) {\n  return [{ json: { opps: [], oppCount: 0, error: 'CSV has no data rows' } }];\n}\n\nfunction parseCsvLine(line) {\n  const result = [];\n  let current = '';\n  let inQuotes = false;\n  for (let i = 0; i < line.length; i++) {\n    const ch = line[i];\n    if (ch === '\"') {\n      if (inQuotes && i + 1 < line.length && line[i + 1] === '\"') { current += '\"'; i++; }\n      else { inQuotes = !inQuotes; }\n    } else if (ch === ',' && !inQuotes) {\n      result.push(current.trim());\n      current = '';\n    } else {\n      current += ch;\n    }\n  }\n  result.push(current.trim());\n  return result;\n}\n\nconst headers = parseCsvLine(lines[0]);\nconst headerMap = {};\nheaders.forEach((h, i) => {\n  headerMap[h] = i;\n  headerMap[h.toLowerCase()] = i;\n});\n\nfunction getField(row, ...names) {\n  for (const name of names) {\n    const idx = headerMap[name] ?? headerMap[name.toLowerCase()];\n    if (idx !== undefined && row[idx] !== undefined && row[idx] !== '') {\n      return row[idx];\n    }\n  }\n  return '';\n}\n\nconst opps = [];\nfor (let i = 1; i < lines.length; i++) {\n  const row = parseCsvLine(lines[i]);\n  if (row.length < 2) continue;\n\n  opps.push({\n    peopleAiId:  getField(row, 'Opportunity ID', 'ootb_opportunity_id', 'ID', 'Id'),\n    owners:      getField(row, 'Opportunity Owner (name)', 'Opportunity Owner', 'Opportunity Owners'),\n    ownerId:     getField(row, 'Opportunity Owner (id)'),\n    csmOwner:    getField(row, 'CSM Owner (name)'),\n    csmOwnerId:  getField(row, 'CSM Owner (id)'),\n    leadSe:      getField(row, 'Lead Sales Engineer (name)'),\n    leadSeId:    getField(row, 'Lead Sales Engineer (id)'),\n    name:        getField(row, 'Opportunity Name',         'ootb_opportunity_name'),\n    account:     getField(row, 'Account Name',             'ootb_opportunity_account_name'),\n    closeDate:   getField(row, 'Close Date',               'ootb_opportunity_close_date'),\n    stage:       getField(row, 'Stage',                    'ootb_opportunity_current_stage', 'Current Stage'),\n    amount:      getField(row, 'Amount (Converted)', 'Converted Amount', 'Amount'),\npeopleAiInternalId: getField(row, 'Backstory Internal ID', 'ootb_opportunity_people_internal_id'),\n    crmId:       getField(row, 'Record ID',                'ootb_opportunity_crm_id', 'CRM ID'),\n    engagement:  getField(row, 'Opportunity Engagement Level', 'ootb_opportunity_engagement_level', 'Engagement Level'),\n    oppType:     getField(row, 'Opportunity Type', 'Type', 'ootb_opportunity_type')\n  });\n}\n\nreturn [{ json: { opps, oppCount: opps.length, headers } }];\n"
                },
                "id": "f26e6ae6-cea4-425b-8d17-f07836bd99c9",
                "name": "Parse Opps CSV",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    1552,
                    400
                ]
            },
            {
                "parameters": {
                    "jsCode": "// Filter pre-fetched opps based on user's role/digest_scope and daily theme\nconst user = $('Workflow Input Trigger').first().json;\nconst allOpps = $('Parse Opps CSV').first().json.opps;\nconst debugHeaders = ($('Parse Opps CSV').first().json.headers || []).join('|');\nconst hierarchyData = $('Parse Hierarchy').first().json;\nconst buildQueryData = $('Build Opp Query').first().json;\n\nconst repName = (user.email || '').split('@')[0]\n  .replace(/\\./g, ' ')\n  .replace(/\\b\\w/g, c => c.toUpperCase());\n\nconst repLower = repName.toLowerCase();\nconst digestScope = user.digest_scope || 'my_deals';\nconst userEmail = (user.email || '').toLowerCase();\n\n// === Theme resolution ===\nfunction resolveTheme(override) {\n  if (override) return override;\n  const dayOfWeek = new Date().toLocaleDateString('en-US', {\n    weekday: 'long',\n    timeZone: 'America/Los_Angeles'\n  }).toLowerCase();\n  const dayMap = {\n    'monday': 'full_pipeline',\n    'tuesday': 'engagement_shifts',\n    'wednesday': 'at_risk',\n    'thursday': 'momentum',\n    'friday': 'week_review'\n  };\n  return dayMap[dayOfWeek] || 'full_pipeline';\n}\n\nconst theme = resolveTheme(user.themeOverride || null);\n\n// === Date window helpers ===\nfunction getCurrentAndNextQuarterEnd() {\n  const now = new Date();\n  const month = now.getMonth();\n  const year = now.getFullYear();\n  const currentQ = Math.floor(month / 3);\n  const nextQEnd = currentQ + 2;\n  let endMonth, endYear;\n  if (nextQEnd <= 3) { endMonth = nextQEnd * 3; endYear = year; }\n  else { endMonth = (nextQEnd - 4) * 3; endYear = year + 1; }\n  return new Date(endYear, endMonth, 0, 23, 59, 59);\n}\n\nfunction getFiscalYearEnd() {\n  const now = new Date();\n  const year = now.getFullYear();\n  const month = now.getMonth();\n  if (month === 0) return new Date(year, 0, 31, 23, 59, 59);\n  return new Date(year + 1, 0, 31, 23, 59, 59);\n}\n\nfunction filterByDateWindow(opps, endDate) {\n  const now = new Date();\n  return opps.filter(opp => {\n    if (!opp.closeDate) return false;\n    const close = new Date(opp.closeDate);\n    return close >= now && close <= endDate;\n  });\n}\n\nconst twoQuarterEnd = getCurrentAndNextQuarterEnd();\nconst fyEnd = getFiscalYearEnd();\nconst qEndLabel = twoQuarterEnd.toLocaleDateString('en-US', { month: 'short', year: 'numeric' });\n\nlet userOpps = [];\nlet scopeLabel = '';\n\n// === Helper: check if a name/email matches any owner field on an opp ===\nfunction oppMatchesPerson(opp, nameLower, emailLower, emailPrefix) {\n  const ae  = (opp.owners   || '').toLowerCase();\n  const csm = (opp.csmOwner || '').toLowerCase();\n  const se  = (opp.leadSe   || '').toLowerCase();\n  const combined = ae + '|' + csm + '|' + se;\n  return combined.includes(nameLower)\n      || combined.includes(emailLower)\n      || combined.includes(emailPrefix);\n}\n\n// === Scope-based filtering ===\nif (digestScope === 'my_deals') {\n  userOpps = allOpps.filter(opp => oppMatchesPerson(opp, repLower, userEmail, userEmail.split('@')[0]));\n  userOpps = filterByDateWindow(userOpps, fyEnd);\n  scopeLabel = repName + \"'s OPEN OPPORTUNITIES\";\n\n} else if (digestScope === 'team_deals') {\n  const managerToReports = hierarchyData.managerToReports || {};\n  let reportNames = [repLower];\n\n  for (const [mgrKey, reports] of Object.entries(managerToReports)) {\n    if (mgrKey.includes(repLower) || repLower.includes(mgrKey)) {\n      for (const report of reports) {\n        const rName = (report.name || '').toLowerCase();\n        if (rName && !reportNames.includes(rName)) reportNames.push(rName);\n      }\n    }\n  }\n  if (managerToReports[userEmail]) {\n    for (const report of managerToReports[userEmail]) {\n      const rName = (report.name || '').toLowerCase();\n      if (rName && !reportNames.includes(rName)) reportNames.push(rName);\n    }\n  }\n\n  userOpps = allOpps.filter(opp => reportNames.some(name => {\n    const ae  = (opp.owners   || '').toLowerCase();\n    const csm = (opp.csmOwner || '').toLowerCase();\n    const se  = (opp.leadSe   || '').toLowerCase();\n    return ae.includes(name) || csm.includes(name) || se.includes(name);\n  }));\n  userOpps = filterByDateWindow(userOpps, twoQuarterEnd);\n  userOpps.sort((a, b) => new Date(a.closeDate) - new Date(b.closeDate));\n  scopeLabel = repName + \"'s TEAM PIPELINE through \" + qEndLabel + \" (\" + reportNames.length + \" reps)\";\n\n} else if (digestScope === 'top_pipeline') {\n  userOpps = filterByDateWindow([...allOpps], twoQuarterEnd);\n  const totalInWindow = userOpps.length;\n  userOpps.sort((a, b) => {\n    const amtA = parseFloat((a.amount || '0').replace(/[^0-9.]/g, '')) || 0;\n    const amtB = parseFloat((b.amount || '0').replace(/[^0-9.]/g, '')) || 0;\n    return amtB - amtA;\n  });\n  userOpps = userOpps.slice(0, 25);\n  scopeLabel = \"TOP PIPELINE through \" + qEndLabel + \" (\" + totalInWindow + \" deals in window, showing top 25 by amount)\";\n\n} else if (digestScope.startsWith('person:')) {\n  const targetEmail = digestScope.replace('person:', '').toLowerCase();\n  const hierarchyEntry = (hierarchyData.hierarchy || {})[targetEmail];\n  const emailDerivedName = targetEmail.split('@')[0].replace(/\\./g, ' ');\n  const displayName = hierarchyEntry && hierarchyEntry.name\n    ? hierarchyEntry.name\n    : emailDerivedName.replace(/\\b\\w/g, c => c.toUpperCase());\n\n  const personPeopleAiId = buildQueryData.personPeopleAiId;\n  const hadServerFilter = (personPeopleAiId !== null && personPeopleAiId !== undefined);\n  const emailPrefix = targetEmail.split('@')[0].toLowerCase();\n  const targetNameLower = displayName.toLowerCase();\n\n  if (hadServerFilter) {\n    // All returned opps already belong to this person (AE, CSM, or SE)\n    userOpps = filterByDateWindow(allOpps, fyEnd);\n  } else {\n    // Fallback: client-side match against AE, CSM, and SE name fields\n    userOpps = allOpps.filter(opp =>\n      oppMatchesPerson(opp, targetNameLower, targetEmail, emailPrefix)\n    );\n    userOpps = filterByDateWindow(userOpps, fyEnd);\n  }\n\n  scopeLabel = displayName + \"'s OPEN OPPORTUNITIES\";\n}\n\n// === Focus-based filtering ===\n// 'retention' focus: limit to renewal/existing customer opps only\nconst focus = user.focus || 'revenue';\n\nif (focus === 'retention') {\n  userOpps = userOpps.filter(opp => {\n    const type = (opp.oppType || '').toLowerCase();\n    const name = (opp.name || '').toLowerCase();\n    const isRenewal =\n      type.includes('renewal') || type.includes('renew') ||\n      type.includes('existing') || type.includes('upsell') || type.includes('expansion') ||\n      name.includes('renewal') || name.includes('renew') ||\n      name.includes('expand') || name.includes('upsell');\n    return isRenewal;\n  });\n}\n\n// === Theme-based additional filtering ===\nconst themeLabels = {\n  'full_pipeline': 'Full Pipeline Brief',\n  'engagement_shifts': 'Engagement Shifts',\n  'at_risk': 'At-Risk Deals',\n  'momentum': 'Momentum & Wins',\n  'week_review': 'Week in Review'\n};\n\nlet themeNote = '';\n\nif (theme === 'at_risk') {\n  const riskOpps = userOpps.filter(opp => {\n    const eng = (opp.engagement || '').toLowerCase();\n    const isLowEngagement = !eng || eng === 'low' || eng === 'none' || eng === '0' || eng === '';\n    const closeDate = new Date(opp.closeDate);\n    const daysToClose = (closeDate - new Date()) / (1000 * 60 * 60 * 24);\n    const isClosingSoon = daysToClose >= 0 && daysToClose <= 45;\n    const lateStages = ['closed won', 'closed lost', 'negotiation', 'contract'];\n    const stage = (opp.stage || '').toLowerCase();\n    const isNotLateStage = !lateStages.some(s => stage.includes(s));\n    return isLowEngagement || (isClosingSoon && isNotLateStage);\n  });\n  if (riskOpps.length > 0) {\n    themeNote = `Filtered to ${riskOpps.length} deals showing risk signals. Full pipeline has ${userOpps.length} deals.`;\n    userOpps = riskOpps;\n  } else {\n    themeNote = `No obvious risk signals detected across ${userOpps.length} deals \u2014 all deals shown for review.`;\n  }\n} else if (theme === 'momentum') {\n  userOpps.sort((a, b) => {\n    const engA = parseFloat((a.engagement || '0').replace(/[^0-9.]/g, '')) || 0;\n    const engB = parseFloat((b.engagement || '0').replace(/[^0-9.]/g, '')) || 0;\n    return engB - engA;\n  });\n  themeNote = `Sorted by engagement score to surface momentum. ${userOpps.length} deals in scope.`;\n}\n\n// === Helper: determine a person's role on a deal ===\nfunction getRoleOnDeal(opp, peopleAiId) {\n  if (!peopleAiId) return '';\n  const idStr = String(peopleAiId);\n  if (opp.ownerId && String(opp.ownerId) === idStr) return 'AE';\n  if (opp.csmOwnerId && String(opp.csmOwnerId) === idStr) return 'CSM';\n  if (opp.leadSeId && String(opp.leadSeId) === idStr) return 'SE';\n  return '';\n}\n\n// === Build formatted table (always includes peopleAiId for deep links) ===\nlet oppTable = '';\nif (userOpps.length > 0) {\n  if (digestScope.startsWith('person:')) {\n    const personPeopleAiId = buildQueryData.personPeopleAiId;\n    oppTable = '| peopleAiId | Opportunity | Account | Role | Stage | Close Date | Engagement | CRM ID |\\n';\n    oppTable += '|---|---|---|---|---|---|---|---|\\n';\n    for (const opp of userOpps) {\n      const role = getRoleOnDeal(opp, personPeopleAiId);\n      oppTable += `| ${opp.peopleAiId} | ${opp.name} | ${opp.account} | ${opp.amount || ''} | ${role} | ${opp.stage} | ${opp.closeDate} | ${opp.engagement} | ${opp.crmId || ''} | ${opp.peopleAiInternalId || ''} |\\n`;\n    }\n  } else if (digestScope === 'my_deals') {\n    oppTable = '| peopleAiId | Opportunity | Account | Stage | Close Date | Engagement | CRM ID |\\n';\n    oppTable += '|---|---|---|---|---|---|---|\\n';\n    for (const opp of userOpps) {\n      oppTable += `| ${opp.peopleAiId} | ${opp.name} | ${opp.account} | ${opp.amount || ''} | ${opp.stage} | ${opp.closeDate} | ${opp.engagement} | ${opp.crmId || ''} | ${opp.peopleAiInternalId || ''} |\\n`;\n    }\n  } else {\n    oppTable = '| peopleAiId | Opportunity | Account | Owner | Stage | Close Date | Engagement | CRM ID |\\n';\n    oppTable += '|---|---|---|---|---|---|---|---|\\n';\n    for (const opp of userOpps) {\n      oppTable += `| ${opp.peopleAiId} | ${opp.name} | ${opp.account} | ${opp.amount || ''} | ${opp.owners} | ${opp.stage} | ${opp.closeDate} | ${opp.engagement} | ${opp.crmId || ''} | ${opp.peopleAiInternalId || ''} |\\n`;\n    }\n  }\n} else {\n  oppTable = '(No open opportunities found in the date window)';\n}\n\nreturn [{\n  json: {\n    ...user,\n    userOpps,\n    userOppCount: userOpps.length,\n    totalOppCount: allOpps.length,\n    oppTable,\n    repName,\n    digestScope,\n    scopeLabel,\n    debugHeaders,\n    dateWindowEnd: qEndLabel,\n    theme,\n    focus,\n    themeLabel: themeLabels[theme] || 'Brief',\n    themeNote\n  }\n}];\n"
                },
                "id": "aaba30c1-3aa3-4f71-ad86-59a8c803dd93",
                "name": "Filter User Opps",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    1776,
                    400
                ]
            },
            {
                "parameters": {
                    "jsCode": "const user = $('Filter User Opps').first().json;\n\nconst assistantName    = user.assistant_name    || 'Aria';\nconst assistantEmoji   = user.assistant_emoji   || ':robot_face:';\nconst assistantPersona = user.assistant_persona || 'direct, action-oriented, and conversational';\nconst repName    = user.repName || (user.email || '').split('@')[0].replace(/\\./g, ' ').replace(/\\b\\w/g, c => c.toUpperCase()) || 'Rep';\nconst timezone   = user.timezone || 'America/Los_Angeles';\nconst currentDate = new Date().toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });\nconst timeStr     = new Date().toLocaleTimeString('en-US', { hour: 'numeric', minute: '2-digit', timeZone: timezone });\n\nconst oppTable       = user.oppTable || '(No opportunity data available)';\nconst oppCount       = user.userOppCount || 0;\nconst totalOppCount  = user.totalOppCount || oppCount;\nconst digestScope    = user.digestScope || 'my_deals';\nconst scopeLabel     = user.scopeLabel  || (repName + \"'s OPEN OPPORTUNITIES\");\nconst focus         = user.focus || 'revenue';\nconst isPersonScope  = digestScope.startsWith('person:');\nconst subjectName    = isPersonScope\n  ? scopeLabel.replace(/'s OPEN OPPORTUNITIES$/, '').trim()\n  : repName;\nconst dateWindowEnd  = user.dateWindowEnd || '';\nconst theme          = user.theme          || 'full_pipeline';\nconst themeLabel     = user.themeLabel     || 'Brief';\nconst themeNote      = user.themeNote      || '';\n\nconst dayLabel   = currentDate.split(',')[0];\nconst emojiClean = assistantEmoji.replace(/:/g, '');\n\n// === Shared Block Kit formatting rules ===\nconst blockKitRules = `OUTPUT FORMAT \u2014 CRITICAL:\nRespond with ONLY a valid JSON object. Your ENTIRE response must be the JSON object and nothing else. No prose before or after. No explanation. No markdown code fences (no backticks). No \"let me\" or \"here is\" preamble. Start your response with { and end with }.\n\nYour response must have exactly this shape:\n{\n  \"notification_text\": \"string \u2014 one sentence, shown in push notifications\",\n  \"blocks\": [ array of valid Slack Block Kit blocks ]\n}\n\nBLOCK KIT STRUCTURE RULES:\n- Use a \"header\" block for the message title (plain_text only, emoji: true)\n- Use \"section\" blocks with \"mrkdwn\" text for all body content\n- Use \"divider\" blocks between major sections (maximum 2 per message)\n- Use \"section\" with \"fields\" for two-column data (engagement scores, metrics)\n  - MAXIMUM 10 fields per section block (Slack API hard limit)\n  - If you have more than 10 data points, split into multiple section blocks\n- Use \"context\" block at the bottom for timestamp and data source\n- Maximum 50 blocks per message\n\nMRKDWN RULES (inside all text fields):\n- Bold: *text* \u2014 single asterisks only\n- Line break: \\\\n\n- Blank line: \\\\n\\\\n\n- Top-level bullets: use the \u2022 character (e.g. \u2022 Main point)\n- Sub-bullets under a numbered item or heading: indent with 4 spaces before the bullet (e.g.     \u2022 Sub-point)\n- This creates visual hierarchy \u2014 numbered deals at top level, details indented beneath\n- NO ## headers \u2014 use *bold text* on its own line instead\n- NO **double asterisks**\n- NO standard markdown links [text](url) \u2014 use <https://url|text>\n- NO dash bullets (-)\n\nEMOJI STATUS INDICATORS \u2014 use these consistently:\n\ud83d\ude80 Acceleration / strong momentum\n\ud83d\udc8e Hidden upside opportunity\n\ud83d\udd34 Stalled / critical risk\n\u2705 Healthy / on track\n\ud83d\udcc8 Engagement rising\n\ud83d\udcc9 Engagement falling\n\u27a1\ufe0f Engagement stable\n\ud83d\udd25 High engagement (80+)`;\n\n\n// === Focus-specific context injected into the system prompt ===\nfunction getFocusContext(focus) {\n  if (focus === 'retention') {\n    return `FOCUS \u2014 RETENTION:\nYour briefing covers only renewal and existing customer opportunities. New logo deals are excluded.\nPrioritise: renewal health, time-to-renewal, expansion potential, customer engagement trends, churn risk.\nActions should be customer-success oriented: QBR scheduling, exec sponsor engagement, product adoption nudges, risk escalation.\nDo NOT suggest new outreach tactics or prospecting actions.`;\n  }\n  if (focus === 'technical') {\n    return `FOCUS \u2014 TECHNICAL:\nYou are briefing through an SE/solutions lens. Highlight POC status, technical blockers, and integration complexity.\nPrioritise: deals in evaluation or validation stages, technical win/loss indicators, stakeholder technical depth.\nActions should be SE-oriented: POC milestones, technical champion engagement, competitive technical positioning.`;\n  }\n  if (focus === 'executive') {\n    return `FOCUS \u2014 EXECUTIVE:\nDeliver a high-altitude strategic view. Skip deal-level minutiae \u2014 focus on portfolio health, forecast risk, and org-level patterns.\nPrioritise: total ARR at risk, big-bet deals, cross-functional signals, pipeline coverage.\nActions should be executive: sponsorship asks, resource allocation, forecast decisions.`;\n  }\n  // revenue (default) \u2014 no extra constraints\n  return `FOCUS \u2014 REVENUE:\nPrioritise new logo acquisition, net new ARR, and close-date velocity. Highlight deals with near-term close potential.\nActions should drive pipeline forward: next meeting, proposal, executive alignment, competitive positioning.`;\n}\n\n// === Role context by scope (data + identity) ===\nfunction buildRoleContext(scope) {\n  const mcpRules = `CRITICAL DATA RULES:\\n- ALWAYS include the EXACT dollar amount from the Amount column for every deal mentioned. Format as $X.XM or $XXK. Never say \"Large deal\" or \"$X\".\\n- ALWAYS make deal names clickable links using the PAI ID (Backstory Internal ID) column: <https://app.people.ai/opportunity/PAIID|Deal Name>\\n- If Amount is empty, say \"$TBD\"al name itself is the link.\nExample: <https://app.people.ai/opportunity/5479658708|HPE AI Forensics Pilot>\nIf the peopleAiId is empty, omit the link and just use plain bold text for the deal name.\n\nDo NOT use MCP to search for or list opportunities \u2014 they are already provided above.\n\nYou DO have access to Backstory MCP tools. Use them ONLY for:\n- Revenue stories and engagement analysis on specific deals\n- Recent activity details (emails, meetings, calls) on key accounts\n- Engagement score trends and changes`;\n\n  if (scope === 'my_deals') {\n    return `You are ${assistantName}, a personal sales assistant for ${repName}. You work exclusively for them and know their pipeline intimately.\n\nYour personality: ${assistantPersona}\n\nToday is ${currentDate}. ${repName} is in ${timezone}.\n\n\u2501\u2501\u2501 ${scopeLabel} (${oppCount} deals) \u2501\u2501\u2501\n${themeNote ? '\\n' + themeNote + '\\n' : ''}\n${oppTable}\n\n${mcpRules}`;\n  } else if (scope === 'team_deals') {\n    return `You are ${assistantName}, a sales management assistant for ${repName}. You help them lead their team and stay ahead of pipeline risks.\n\nYour personality: ${assistantPersona}\n\nToday is ${currentDate}. ${repName} is in ${timezone}.\n\n\u2501\u2501\u2501 ${scopeLabel} (${oppCount} deals closing through ${dateWindowEnd}) \u2501\u2501\u2501\n${themeNote ? '\\n' + themeNote + '\\n' : ''}\n${oppTable}\n\n${mcpRules}`;\n  } else if (scope.startsWith('person:')) {\n    return `You are ${assistantName}, a personal sales assistant for ${repName}. They have asked you to review ${subjectName}'s pipeline.\n\nYour personality: ${assistantPersona}\n\nToday is ${currentDate}. ${repName} is in ${timezone}.\n\n\u2501\u2501\u2501 ${scopeLabel} (${oppCount} deals) \u2501\u2501\u2501\n${themeNote ? '\\n' + themeNote + '\\n' : ''}\n${oppTable}\n\n${mcpRules}\n\nIMPORTANT \u2014 PERSON SCOPE:\n- This brief is about *${subjectName}'s* pipeline, not ${repName}'s.\n- Address ${repName} as the reader (e.g. \"Here's ${subjectName}'s pipeline for you to review...\").\n- Wherever the briefing structure says \"your deals\" or \"your pipeline\", treat that as \"${subjectName}'s deals\" / \"${subjectName}'s pipeline\".\n- Never say \"${repName}, your pipeline...\" \u2014 say \"${subjectName} has X deals...\" or \"Here's ${subjectName}'s pipeline...\".\n- The Role column shows whether ${subjectName} is the AE, CSM, or SE on each deal.`;\n  } else {\n    return `You are ${assistantName}, an executive sales intelligence assistant for ${repName}. You provide pipeline visibility and strategic signals at the leadership level.\n\nYour personality: ${assistantPersona}\n\nToday is ${currentDate}. ${repName} is in ${timezone}.\n\n\u2501\u2501\u2501 ${scopeLabel} \u2501\u2501\u2501\n${themeNote ? '\\n' + themeNote + '\\n' : ''}\n${oppTable}\n\n${mcpRules}`;\n  }\n}\n\n// === Scope-aware footer ===\nfunction footer(scope) {\n  if (scope === 'team_deals')   return `Backstory team intelligence \u2022 ${currentDate} \u2022 ${timeStr} PT`;\n  if (scope === 'top_pipeline') return `Backstory executive intelligence \u2022 ${currentDate} \u2022 ${timeStr} PT`;\n  return `Backstory intelligence \u2022 ${currentDate} \u2022 ${timeStr} PT`;\n}\n\n// === Theme-specific briefing structure and agent prompt ===\nfunction buildThemePrompts(theme, scope) {\n  const scopeTitle = scope === 'team_deals' ? ' Team' : scope === 'top_pipeline' ? ' Pipeline' : '';\n\n  // \u2500\u2500 EXEC COMPRESSED FORMAT (3+ deals) \u2500\u2500\n  const _execScope = scope.startsWith('person:') ? 'my_deals' : scope;\n  if (_execScope === 'top_pipeline' && oppCount >= 3) {\n    const themeConfigs = {\n      full_pipeline:      { label: 'Pipeline Brief',    section3: 'Top 3 Deals',       section4: 'This Week' },\n      engagement_shifts:  { label: 'Engagement Shifts', section3: 'Top 3 Movers',      section4: 'Watch This Week' },\n      at_risk:            { label: 'At-Risk Deals',     section3: 'Top 3 Risks',        section4: 'Fix It This Week' },\n      momentum:           { label: 'Momentum',          section3: 'Top 3 Accelerators', section4: 'Keep the Momentum' },\n      week_review:        { label: 'Week in Review',    section3: 'Top 3 Moves',        section4: 'Next Week' }\n    };\n    const tc = themeConfigs[theme] || themeConfigs['full_pipeline'];\n    return {\n      briefingStructure: `Write a compressed executive briefing \u2014 60-second read, under 150 words (not counting header/footer). Use ${assistantPersona} personality ONLY in the opening sentence and the closing sentence. All other text is direct and factual.\n\nBLOCK KIT STRUCTURE for this compressed exec format:\n1. header block \u2014 \"${emojiClean} ${dayLabel} ${tc.label} \u2014 ${assistantName}\"\n2. section block \u2014 1 sentence in ${assistantPersona} voice with the single most important signal\n3. section block \u2014 label only: \"*${tc.section3}*\"\n4. One section block PER DEAL (exactly 3 deals), each formatted as:\n   \"*<https://app.people.ai/opportunity/PAIID|Deal Name>* \u2014 $Amount | [close date + key context]\\\\n    Action sentence \u2014 the most critical thing right now\"\n   The 4-space indent on the action line creates visual separation under each deal name.\n   Do NOT combine multiple deals into one block.\n5. section block \u2014 label only: \"*${tc.section4}*\"\n6. section block \u2014 numbered list, 3 items (use \\\\n between items). For each item link the deal name: *<https://app.people.ai/opportunity/PAIID|Deal Name>* \u2014 one action sentence\n7. section block \u2014 1 sentence in ${assistantPersona} voice as sign-off\n8. context block \u2014 \"${footer(scope)}\"\n\nSTRICT RULES:\n- Exactly 3 deal blocks in item 4. Pick the most important 3.\n- Personality ONLY in items 2 and 7\n- No empty sections \u2014 omit any section with nothing to report\n- No sub-bullets within deal entries \u2014 action line only`,\n      agentPrompt: `Generate a compressed executive ${tc.label} briefing for ${repName}. ${oppCount} deals are pre-loaded \u2014 do NOT use MCP to search for opportunities. Focus on the top 3 most important deals only. Keep under 150 words (excluding header/footer). Output ONLY the Block Kit JSON object, nothing else.`\n    };\n  }\n\n  // \u2500\u2500 FULL PIPELINE (Monday) \u2500\u2500\n  if (theme === 'full_pipeline') {\n    if (scope === 'my_deals') {\n      return {\n        briefingStructure: `Write a 60-second morning briefing following this structure:\n\n1. Header \u2014 \"${emojiClean} ${dayLabel} Brief \u2014 ${assistantName}\"\n2. The Lead (1-2 sentences) \u2014 the single most important thing today\n3. Today's Priorities (2-4 items) \u2014 specific actions with account names and reasons, use emoji status indicators\n4. Pipeline Pulse \u2014 two-column engagement score grid using section fields\n5. One Thing I'm Watching \u2014 one forward-looking observation\n6. Context footer \u2014 \"${footer(scope)}\"`,\n\n        agentPrompt: `Generate the morning sales briefing for ${repName}. Their ${oppCount} open opportunities are already loaded in your system prompt \u2014 do NOT use MCP to search for opportunities.\n\nInstead, use the Backstory MCP tools to investigate revenue stories and engagement patterns on the top 3-5 most important deals (highest amount, closest close date, or biggest engagement changes). Look for recent activity, meeting patterns, and risk signals.\n\nThen write the briefing as a Block Kit JSON object following the format in your system instructions. Remember: output ONLY the JSON object, nothing else.`\n      };\n    } else if (scope === 'team_deals') {\n      return {\n        briefingStructure: `Write a 90-second team pipeline briefing following this structure:\n\n1. Header \u2014 \"${emojiClean} ${dayLabel} Team Brief \u2014 ${assistantName}\"\n2. Team Pulse (2-3 sentences) \u2014 overall pipeline health: total pipeline value, deals closing this quarter and next, biggest risks\n3. Reps Who Need Attention (2-3 items) \u2014 which reps have deals at risk, declining engagement, or upcoming close dates with no recent activity\n4. Top Coaching Moments \u2014 1-2 deals where manager intervention could change the outcome\n5. Team Pipeline Snapshot \u2014 two-column grid: rep name + key metric\n6. One Signal to Watch \u2014 a forward-looking team-level pattern\n7. Context footer \u2014 \"${footer(scope)}\"`,\n\n        agentPrompt: `Generate the team pipeline briefing for ${repName} (sales manager). Their team's ${oppCount} open deals closing through ${dateWindowEnd} are already loaded \u2014 do NOT use MCP to search for opportunities.\n\nUse Backstory MCP tools to investigate team engagement patterns: identify reps with declining engagement, spot coaching opportunities, and find deals where manager intervention could help. Focus on 3-5 highest-risk or highest-value deals.\n\nOutput ONLY the Block Kit JSON object, nothing else.`\n      };\n    } else {\n      return {\n        briefingStructure: `Write a 90-second executive pipeline briefing following this structure:\n\n1. Header \u2014 \"${emojiClean} ${dayLabel} Pipeline Brief \u2014 ${assistantName}\"\n2. Pipeline at a Glance (2-3 sentences) \u2014 total pipeline value, deal count, weighted forecast, deals closing this month\n3. Top Deals to Watch (3-4 items) \u2014 highest-value or highest-risk deals with status\n4. Forecast Signals \u2014 deal acceleration/stalling patterns, close date movements\n5. Key Numbers \u2014 two-column grid: metric name + value\n6. Strategic Signal \u2014 one forward-looking observation\n7. Context footer \u2014 \"${footer(scope)}\"`,\n\n        agentPrompt: `Generate the executive pipeline briefing for ${repName}. Top ${oppCount} deals by amount closing through ${dateWindowEnd} are loaded (${totalOppCount} total org-wide) \u2014 do NOT use MCP to search for opportunities.\n\nUse Backstory MCP tools to analyze pipeline health on the top 3-5 largest deals: velocity, engagement trends, risk signals, forecast-impacting patterns.\n\nOutput ONLY the Block Kit JSON object, nothing else.`\n      };\n    }\n  }\n\n  // \u2500\u2500 ENGAGEMENT SHIFTS (Tuesday) \u2500\u2500\n  if (theme === 'engagement_shifts') {\n    const scopeWho = scope === 'my_deals' ? 'your deals' : scope === 'team_deals' ? \"your team's deals\" : 'deals across the organization';\n    return {\n      briefingStructure: `Write a 60-second engagement shift briefing following this structure:\n\n1. Header \u2014 \"${emojiClean} ${dayLabel} Engagement Shifts${scopeTitle} \u2014 ${assistantName}\"\n2. The Shift (1-2 sentences) \u2014 summarize the biggest engagement movements across ${scopeWho}\n3. Going Hot (2-3 deals) \u2014 deals with the highest engagement scores or most recent activity. What's driving the engagement? Use \ud83d\udcc8 \ud83d\udd25 indicators.\n4. Going Cold (2-3 deals) \u2014 deals with low or declining engagement, accounts going quiet. Use \ud83d\udcc9 \ud83d\udd34 indicators.${scope !== 'my_deals' ? '\\n5. Rep Activity Pulse \u2014 which reps are most/least active this week (two-column grid)' : '\\n5. Activity Snapshot \u2014 two-column grid of engagement scores by deal'}\n6. One Pattern \u2014 one insight about what's driving engagement up or down\n7. Context footer \u2014 \"${footer(scope)}\"`,\n\n      agentPrompt: `Generate an engagement shifts briefing for ${repName}. ${oppCount} deals are loaded \u2014 do NOT use MCP to search for opportunities.\n\nUse Backstory MCP tools to investigate engagement patterns: pull engagement score histories, recent activity timelines, and meeting/email cadence on the 3-5 deals with the most notable engagement movement (both positive and negative). Look for accounts going dark and accounts heating up.\n\nOutput ONLY the Block Kit JSON object, nothing else.`\n    };\n  }\n\n  // \u2500\u2500 AT-RISK DEALS (Wednesday) \u2500\u2500\n  if (theme === 'at_risk') {\n    const scopeWho = scope === 'my_deals' ? 'your pipeline' : scope === 'team_deals' ? \"your team's pipeline\" : 'the org pipeline';\n    return {\n      briefingStructure: `Write a 60-second at-risk deals briefing following this structure:\n\n1. Header \u2014 \"${emojiClean} ${dayLabel} At-Risk Deals${scopeTitle} \u2014 ${assistantName}\"\n2. Risk Summary (1-2 sentences) \u2014 how many deals are showing risk signals in ${scopeWho}, total value at risk\n3. Critical Risks (2-3 deals) \u2014 deals most likely to slip or stall. For each: what's wrong, how long it's been, and what to do about it. Use \ud83d\udd34 \ud83d\udd34 indicators.\n4. Going Dark (1-2 deals) \u2014 accounts with zero or minimal recent engagement. These need outreach now. Use \ud83d\udcc9 indicators.${scope === 'team_deals' ? '\\n5. Reps to Check In With \u2014 which reps have the most at-risk deals, who needs coaching or support' : scope === 'top_pipeline' ? '\\n5. Forecast Impact \u2014 total dollar value at risk, potential slip from forecast' : '\\n5. Risk vs. Healthy \u2014 two-column comparison grid'}\n6. Fix-It Actions \u2014 2-3 concrete next steps to address the biggest risks this week\n7. Context footer \u2014 \"${footer(scope)}\"`,\n\n      agentPrompt: `Generate an at-risk deals briefing for ${repName}. ${oppCount} deals flagged with risk signals are loaded \u2014 do NOT use MCP to search for opportunities.\n\nUse Backstory MCP tools to investigate the riskiest deals: look for missing activity, declining engagement trends, silent stakeholders, and deals where the close date is approaching without stage progression. Focus on the 3-5 highest-value deals at risk.\n\nOutput ONLY the Block Kit JSON object, nothing else.`\n    };\n  }\n\n  // \u2500\u2500 MOMENTUM & WINS (Thursday) \u2500\u2500\n  if (theme === 'momentum') {\n    const scopeWho = scope === 'my_deals' ? 'your deals' : scope === 'team_deals' ? \"your team\" : 'the organization';\n    return {\n      briefingStructure: `Write a 60-second momentum briefing following this structure:\n\n1. Header \u2014 \"${emojiClean} ${dayLabel} Momentum & Wins${scopeTitle} \u2014 ${assistantName}\"\n2. Momentum Check (1-2 sentences) \u2014 what's working across ${scopeWho} right now\n3. Deals on Fire (2-3 deals) \u2014 highest engagement, most active, advancing fastest. What's fueling it? Use \ud83d\ude80 \ud83d\udd25 \u2705 indicators.\n4. Hidden Upside (1-2 deals) \u2014 deals quietly outperforming expectations or with untapped expansion potential. Use \ud83d\udc8e indicators.${scope === 'team_deals' ? '\\n5. Rep Wins \u2014 which reps are crushing it, what can others learn from their approach' : scope === 'top_pipeline' ? '\\n5. Pipeline Acceleration \u2014 deals that advanced stages, new pipeline created, forecast upside' : '\\n5. Engagement Leaders \u2014 two-column grid of your hottest deals by engagement'}\n6. Keep It Going \u2014 1-2 actions to maintain or amplify the momentum\n7. Context footer \u2014 \"${footer(scope)}\"`,\n\n      agentPrompt: `Generate a momentum and wins briefing for ${repName}. ${oppCount} deals are loaded (sorted by engagement) \u2014 do NOT use MCP to search for opportunities.\n\nUse Backstory MCP tools to validate positive signals: check deal velocity, recent meetings, rising engagement scores, and multithreading on the top 3-5 highest-engagement deals. Celebrate what's working and identify patterns to replicate.\n\nOutput ONLY the Block Kit JSON object, nothing else.`\n    };\n  }\n\n  // \u2500\u2500 WEEK IN REVIEW (Friday) \u2500\u2500\n  if (theme === 'week_review') {\n    const scopeWho = scope === 'my_deals' ? 'your pipeline' : scope === 'team_deals' ? \"your team\" : 'the organization';\n    return {\n      briefingStructure: `Write a 90-second week in review briefing following this structure:\n\n1. Header \u2014 \"${emojiClean} ${dayLabel} Week in Review${scopeTitle} \u2014 ${assistantName}\"\n2. This Week's Moves (2-3 sentences) \u2014 what changed in ${scopeWho} this week: deals that advanced, engagement shifts, notable activity\n3. Wins & Progress (2-3 items) \u2014 deals that moved forward, positive engagement trends, meetings completed. Use \u2705 \ud83d\ude80 indicators.\n4. Missed or Slipping (1-2 items) \u2014 deals that stalled or slipped this week, close dates pushed. Use \ud83d\udd34 \ud83d\udd34 indicators.${scope === 'team_deals' ? '\\n5. Team Scorecard \u2014 two-column grid: rep name + their week (active/quiet/strong)' : scope === 'top_pipeline' ? '\\n5. Weekly Pipeline Delta \u2014 key numbers: pipeline added vs. closed, forecast movement' : '\\n5. Week by the Numbers \u2014 two-column grid: key pipeline metrics this week vs. last'}\n6. Next Week Preview \u2014 deals closing next week, meetings on the calendar, actions to set up for Monday\n7. Context footer \u2014 \"${footer(scope)}\"`,\n\n      agentPrompt: `Generate a week in review briefing for ${repName}. ${oppCount} deals are loaded \u2014 do NOT use MCP to search for opportunities.\n\nUse Backstory MCP tools to compare this week's activity with previous patterns: look for deals that had new meetings, emails, or engagement changes this week. Identify what moved forward and what went quiet. Also check for meetings or close dates coming up next week.\n\nOutput ONLY the Block Kit JSON object, nothing else.`\n    };\n  }\n\n  return buildThemePrompts('full_pipeline', scope);\n}\n\n// === Build the prompts ===\nconst roleContext = buildRoleContext(digestScope);\nconst effectiveScope = isPersonScope ? 'my_deals' : digestScope;\nconst { briefingStructure, agentPrompt } = buildThemePrompts(theme, effectiveScope);\n\n// For person-scope: use a customised agent prompt that references the pre-fetched data\nlet finalAgentPrompt = agentPrompt;\nif (isPersonScope) {\n  finalAgentPrompt = `Generate a ${themeLabel} briefing for ${repName} covering ${subjectName}'s open pipeline.\n\n${subjectName}'s ${oppCount} open opportunities are already loaded in your system prompt \u2014 do NOT use MCP to search for opportunities. The Role column shows whether ${subjectName} is the AE, CSM, or SE on each deal.\n\nInstead, use the Backstory MCP tools to investigate revenue stories and engagement patterns on ${subjectName}'s top 3-5 most important deals. Look for recent activity, meeting patterns, and risk signals.\n\nAddress the briefing to ${repName}. Reference ${subjectName}'s pipeline, not ${repName}'s.\nOutput ONLY the Block Kit JSON object, nothing else.`;\n}\n\nconst focusContext = getFocusContext(focus);\nconst systemPrompt = roleContext + '\\n\\n' + focusContext + '\\n\\n' + briefingStructure + '\\n\\n' + blockKitRules;\n\nreturn [{\n  json: {\n    userId: user.id,\n    slackUserId: user.slack_user_id,\n    assistantName,\n    assistantEmoji,\n    repName,\n    digestScope,\n    theme,\n    themeLabel,\n    systemPrompt,\n    agentPrompt: finalAgentPrompt\n  }\n}];\n"
                },
                "id": "a53b2f4f-8335-41b9-b3e6-410060e54625",
                "name": "Resolve Identity",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    2000,
                    400
                ]
            },
            {
                "parameters": {
                    "promptType": "define",
                    "text": "={{ $('Resolve Identity').first().json.agentPrompt }}",
                    "options": {
                        "systemMessage": "={{ $('Resolve Identity').first().json.systemPrompt }}"
                    }
                },
                "id": "eef2d4a1-5fc1-4fce-82a4-e7b17bfd3e3d",
                "name": "Digest Agent",
                "type": "@n8n/n8n-nodes-langchain.agent",
                "typeVersion": 1.7,
                "position": [
                    2224,
                    400
                ],
                "continueOnFail": true
            },
            {
                "parameters": {
                    "model": {
                        "__rl": true,
                        "mode": "list",
                        "value": "claude-sonnet-4-5-20250929",
                        "cachedResultName": "Claude Sonnet 4.5"
                    },
                    "options": {}
                },
                "id": "04201e35-6efa-497c-b210-a54e28d1bfc2",
                "name": "Anthropic Chat Model",
                "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
                "typeVersion": 1.3,
                "position": [
                    2232,
                    624
                ],
                "credentials": {
                    "anthropicApi": {
                        "id": "rlAz7ZSl4y6AwRUq",
                        "name": "Anthropic account 2"
                    }
                }
            },
            {
                "parameters": {
                    "endpointUrl": "https://mcp-canary.people.ai/mcp",
                    "authentication": "multipleHeadersAuth",
                    "options": {}
                },
                "id": "3712bdd8-c149-46d6-9208-cf8a4bcd83b8",
                "name": "Backstory MCP",
                "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
                "typeVersion": 1.2,
                "position": [
                    2368,
                    624
                ],
                "credentials": {
                    "httpMultipleHeadersAuth": {
                        "id": "wvV5pwBeIL7f2vLG",
                        "name": "Backstory MCP Multi-Header"
                    }
                }
            },
            {
                "parameters": {
                    "jsCode": "// Parse the agent's Block Kit JSON output\nconst agentOutput = $('Digest Agent').first().json.output;\n\nlet parsed;\ntry {\n  // Try to extract JSON from the output \u2014 Claude sometimes wraps it in prose or code fences\n  let cleaned = agentOutput;\n\n  // Remove code fences\n  cleaned = cleaned.replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/```\\s*$/i, '').trim();\n\n  // If it doesn't start with {, try to find JSON object in the text\n  if (!cleaned.startsWith('{')) {\n    const jsonMatch = cleaned.match(/\\{[\\s\\S]*\"blocks\"[\\s\\S]*\\}/);\n    if (jsonMatch) {\n      cleaned = jsonMatch[0];\n    }\n  }\n\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  // Fallback: split raw output into chunks that fit Slack's 3000 char limit per block\n  const maxLen = 2900;\n  const text = agentOutput || 'Briefing generation failed.';\n  const chunks = [];\n  for (let i = 0; i < text.length; i += maxLen) {\n    chunks.push(text.slice(i, i + maxLen));\n  }\n\n  const blocks = chunks.map((chunk, idx) => ({\n    type: \"section\",\n    text: { type: \"mrkdwn\", text: idx === 0 ? chunk : '...' + chunk }\n  }));\n\n  parsed = {\n    notification_text: \"Your briefing is ready\",\n    blocks\n  };\n}\n\n// Enforce Slack limits\nif (parsed.blocks) {\n  parsed.blocks = parsed.blocks.map(block => {\n    // Max 10 fields per section\n    if (block.fields && block.fields.length > 10) {\n      block.fields = block.fields.slice(0, 10);\n    }\n    // Max 3000 chars per text field in section blocks\n    if (block.text && block.text.text && block.text.text.length > 3000) {\n      block.text.text = block.text.text.slice(0, 2997) + '...';\n    }\n    // Max 3000 chars per field text\n    if (block.fields) {\n      block.fields = block.fields.map(f => {\n        if (f.text && f.text.length > 2000) {\n          f.text = f.text.slice(0, 1997) + '...';\n        }\n        return f;\n      });\n    }\n    return block;\n  });\n  // Max 50 blocks\n  if (parsed.blocks.length > 50) {\n    parsed.blocks = parsed.blocks.slice(0, 50);\n  }\n}\n\nreturn [{\n  json: {\n    notificationText: parsed.notification_text || \"Your briefing\",\n    blocks: JSON.stringify(parsed.blocks),\n    rawContent: agentOutput\n  }\n}];"
                },
                "id": "c6dc98f0-ad02-4457-a811-96d741fe7c15",
                "name": "Parse Blocks",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    2576,
                    400
                ]
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "https://slack.com/api/chat.postMessage",
                    "authentication": "genericCredentialType",
                    "genericAuthType": "httpHeaderAuth",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    },
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={{ JSON.stringify({ channel: $('Workflow Input Trigger').first().json.channelId, text: $('Parse Blocks').first().json.notificationText, username: $('Resolve Identity').first().json.assistantName, icon_emoji: $('Resolve Identity').first().json.assistantEmoji, blocks: JSON.parse($('Parse Blocks').first().json.blocks), unfurl_links: false, unfurl_media: false }) }}",
                    "options": {}
                },
                "id": "d11314b8-4f0a-438b-a311-2f7a4cbd6e9d",
                "name": "Send Digest",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    2800,
                    400
                ],
                "credentials": {
                    "httpHeaderAuth": {
                        "id": "LluVuiMJ8NUbAiG7",
                        "name": "Slackbot Auth Token"
                    }
                },
                "continueOnFail": true
            },
            {
                "parameters": {
                    "jsCode": "// Build the Backstory Query API request body based on scope.\n// For person: scope \u2014 OR filter across AE/CSM/SE owner fields using the person's numeric Backstory ID.\n// For all other scopes \u2014 standard all-open-opps query.\n\nconst user = $('Workflow Input Trigger').first().json;\nconst hierarchyData = $('Parse Hierarchy').first().json;\nconst digestScope = user.digest_scope || 'my_deals';\n\nconst baseColumns = [\n  { slug: 'ootb_opportunity_id' },\n  { slug: 'ootb_opportunity_crm_id' },\n  { slug: 'ootb_opportunity_name' },\n  { slug: 'ootb_opportunity_account_name' },\n  { slug: 'ootb_opportunity_original_owner' },\n  { slug: 'opportunity_csm_owner__c_user' },\n  { slug: 'opportunity_lead_sales_engineer__c_user' },\n  { slug: 'ootb_opportunity_current_stage' },\n  { slug: 'ootb_opportunity_close_date' },\n  { slug: 'ootb_opportunity_engagement_level' },\n  { slug: 'ootb_opportunity_type' },\n  { slug: 'ootb_opportunity_converted_amount' },\n  { slug: 'ootb_opportunity_people_internal_id' }\n];\n\nconst sort = [{ attribute: { slug: 'ootb_opportunity_close_date' }, direction: 'asc' }];\n\nlet filter;\nlet personPeopleAiId = null;\nlet targetEmail = null;\n\nif (digestScope.startsWith('person:')) {\n  targetEmail = digestScope.replace('person:', '').toLowerCase();\n  const hierarchy = hierarchyData.hierarchy || {};\n  const hierarchyEntry = hierarchy[targetEmail];\n\n  // Try to get the numeric ID from the hierarchy (requires ootb_user_id in the user export)\n  if (hierarchyEntry && hierarchyEntry.peopleAiId) {\n    const parsed = parseInt(String(hierarchyEntry.peopleAiId).replace(/\\D/g, ''), 10);\n    if (!isNaN(parsed) && parsed > 0) {\n      personPeopleAiId = parsed;\n    }\n  }\n\n  // If hierarchy didn't have the ID, log what we got for debugging\n  if (personPeopleAiId === null) {\n    const debugEntry = hierarchyEntry ? JSON.stringify(hierarchyEntry) : 'not found in hierarchy';\n    // Still fall back to standard query \u2014 Filter User Opps will do client-side name match\n    filter = {\n      '$and': [\n        { attribute: { slug: 'ootb_opportunity_is_closed' }, clause: { '$eq': false } }\n      ]\n    };\n  } else {\n    // Server-side OR filter: AE owner OR CSM owner OR Lead SE owner\n    filter = {\n      '$and': [\n        { attribute: { slug: 'ootb_opportunity_is_closed' }, clause: { '$eq': false } },\n        {\n          '$or': [\n            { attribute: { slug: 'ootb_opportunity_original_owner' },         clause: { '$eq': personPeopleAiId } },\n            { attribute: { slug: 'opportunity_csm_owner__c_user' },            clause: { '$eq': personPeopleAiId } },\n            { attribute: { slug: 'opportunity_lead_sales_engineer__c_user' },  clause: { '$eq': personPeopleAiId } }\n          ]\n        }\n      ]\n    };\n  }\n} else {\n  // Standard: all open opps\n  filter = {\n    '$and': [\n      { attribute: { slug: 'ootb_opportunity_is_closed' }, clause: { '$eq': false } }\n    ]\n  };\n}\n\nconst queryBody = JSON.stringify({\n  object: 'opportunity',\n  filter,\n  columns: baseColumns.map(c => ({ slug: c.slug })),\n  sort\n});\n\nreturn [{ json: { queryBody, personPeopleAiId, targetEmail } }];\n"
                },
                "id": "4a4b225a-86c3-4566-a4bb-ee331322b8c4",
                "name": "Build Opp Query",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    1104,
                    400
                ]
            },
            {
                "parameters": {
                    "jsCode": "// Gather data for conversation bookend (On-Demand Digest).\n\nconst identity = $('Resolve Identity').first().json;\nconst sendResult = $('Send Digest').first().json;\nconst agentOutput = $('Digest Agent').first().json.output || '';\nconst inputData = $('Workflow Input Trigger').first().json;\n\n// userId and organizationId \u2014 Resolve Identity has userId (from Filter User\n// Opps which spreads the full user record). Organization ID from the input.\nconst userId = identity.userId || inputData.id || null;\nconst organizationId = inputData.organization_id || null;\n\n// Channel and thread_ts from the Send Digest Slack response\nconst channelId = sendResult.channel || inputData.channelId || '';\nconst threadTs = sendResult.ts || '';\n\nconst agentConfig = {\n  model: 'claude-sonnet-4-5-20250929',\n  mcpEndpoint: 'https://mcp-canary.people.ai/mcp',\n  assistantName: identity.assistantName || 'Aria',\n  assistantEmoji: identity.assistantEmoji || ':robot_face:',\n  digestScope: identity.digestScope || 'my_deals',\n  theme: identity.theme || 'full_pipeline'\n};\n\n// On-demand digests expire after 4 hours\nconst expiresAt = new Date(Date.now() + 4 * 60 * 60 * 1000).toISOString();\n\n// The \"user message\" is the on-demand trigger \u2014 capture any theme override\nconst themeOverride = inputData.themeOverride || '';\nconst userMessage = themeOverride\n  ? 'On-demand digest (theme: ' + themeOverride + ')'\n  : 'On-demand digest';\n\nreturn [{\n  json: {\n    organizationId: organizationId,\n    userId: userId,\n    channelId: channelId,\n    threadTs: threadTs,\n    workflowType: 'on_demand_digest',\n    agentConfig: agentConfig,\n    expiresAt: expiresAt,\n    userMessage: userMessage,\n    assistantMessage: agentOutput\n  }\n}];\n"
                },
                "id": "4b2583c8-a2ab-4a5f-a340-dd70b791036e",
                "name": "Prepare On-Demand Conversation Data",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    3080,
                    400
                ],
                "continueOnFail": true
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "https://rhrlnkbphxntxxxcrgvv.supabase.co/rest/v1/conversations",
                    "authentication": "predefinedCredentialType",
                    "nodeCredentialType": "supabaseApi",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Prefer",
                                "value": "return=representation"
                            },
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    },
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={{ JSON.stringify({\n  organization_id: $json.organizationId,\n  user_id: $json.userId,\n  slack_channel_id: $json.channelId,\n  slack_thread_ts: $json.threadTs,\n  workflow_type: $json.workflowType,\n  agent_config: $json.agentConfig,\n  status: \"completed\",\n  expires_at: $json.expiresAt\n}) }}",
                    "options": {}
                },
                "id": "c5c8d662-097e-461e-8102-5e61b1a62d9b",
                "name": "Create On-Demand Conversation",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    3360,
                    400
                ],
                "credentials": {
                    "supabaseApi": {
                        "id": "ASRWWkQ0RSMOpNF1",
                        "name": "Supabase account"
                    }
                },
                "continueOnFail": true
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "https://rhrlnkbphxntxxxcrgvv.supabase.co/rest/v1/messages",
                    "authentication": "predefinedCredentialType",
                    "nodeCredentialType": "supabaseApi",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Prefer",
                                "value": "return=representation"
                            },
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    },
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={{ JSON.stringify({\n  user_id: $(\"Prepare On-Demand Conversation Data\").first().json.userId,\n  message_type: \"conversation\",\n  channel: \"slack\",\n  direction: \"inbound\",\n  content: $(\"Prepare On-Demand Conversation Data\").first().json.userMessage,\n  conversation_id: $json.id,\n  slack_thread_ts: $(\"Prepare On-Demand Conversation Data\").first().json.threadTs,\n  role: \"user\"\n}) }}",
                    "options": {}
                },
                "id": "8ef43d48-3715-412f-bbfa-688055f01419",
                "name": "Log On-Demand User Message",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    3640,
                    400
                ],
                "credentials": {
                    "supabaseApi": {
                        "id": "ASRWWkQ0RSMOpNF1",
                        "name": "Supabase account"
                    }
                },
                "continueOnFail": true
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "https://rhrlnkbphxntxxxcrgvv.supabase.co/rest/v1/messages",
                    "authentication": "predefinedCredentialType",
                    "nodeCredentialType": "supabaseApi",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Prefer",
                                "value": "return=representation"
                            },
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    },
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={{ JSON.stringify({\n  user_id: $(\"Prepare On-Demand Conversation Data\").first().json.userId,\n  message_type: \"conversation\",\n  channel: \"slack\",\n  direction: \"outbound\",\n  content: $(\"Prepare On-Demand Conversation Data\").first().json.assistantMessage,\n  conversation_id: $(\"Create On-Demand Conversation\").first().json.id,\n  slack_thread_ts: $(\"Prepare On-Demand Conversation Data\").first().json.threadTs,\n  role: \"assistant\"\n}) }}",
                    "options": {}
                },
                "id": "61d9aa4a-2d8e-453b-ab8f-c9aafc741547",
                "name": "Log On-Demand Assistant Message",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    3920,
                    400
                ],
                "credentials": {
                    "supabaseApi": {
                        "id": "ASRWWkQ0RSMOpNF1",
                        "name": "Supabase account"
                    }
                },
                "continueOnFail": true
            }
        ],
        "connections": {
            "Workflow Input Trigger": {
                "main": [
                    [
                        {
                            "node": "Get Auth Token",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Get Auth Token": {
                "main": [
                    [
                        {
                            "node": "Fetch User Hierarchy",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Fetch User Hierarchy": {
                "main": [
                    [
                        {
                            "node": "Parse Hierarchy",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Parse Hierarchy": {
                "main": [
                    [
                        {
                            "node": "Build Opp Query",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Fetch Open Opps": {
                "main": [
                    [
                        {
                            "node": "Parse Opps CSV",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Parse Opps CSV": {
                "main": [
                    [
                        {
                            "node": "Filter User Opps",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Filter User Opps": {
                "main": [
                    [
                        {
                            "node": "Resolve Identity",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Resolve Identity": {
                "main": [
                    [
                        {
                            "node": "Digest Agent",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Digest Agent": {
                "main": [
                    [
                        {
                            "node": "Parse Blocks",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Anthropic Chat Model": {
                "ai_languageModel": [
                    [
                        {
                            "node": "Digest Agent",
                            "type": "ai_languageModel",
                            "index": 0
                        }
                    ]
                ]
            },
            "Backstory MCP": {
                "ai_tool": [
                    [
                        {
                            "node": "Digest Agent",
                            "type": "ai_tool",
                            "index": 0
                        }
                    ]
                ]
            },
            "Parse Blocks": {
                "main": [
                    [
                        {
                            "node": "Send Digest",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Build Opp Query": {
                "main": [
                    [
                        {
                            "node": "Fetch Open Opps",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Send Digest": {
                "main": [
                    [
                        {
                            "node": "Prepare On-Demand Conversation Data",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Prepare On-Demand Conversation Data": {
                "main": [
                    [
                        {
                            "node": "Create On-Demand Conversation",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Create On-Demand Conversation": {
                "main": [
                    [
                        {
                            "node": "Log On-Demand User Message",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Log On-Demand User Message": {
                "main": [
                    [
                        {
                            "node": "Log On-Demand Assistant Message",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "authors": "Scott Metcalf",
        "name": null,
        "description": null,
        "autosaved": false
    }
}